{
  "openapi": "3.0.0",
  "info": {
    "title": "Orders",
    "version": "",
    "description": "Through this reference you can consult and update orders. ",
    "contact": {
      "email": "developers@lpquevende.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.lpquevende.com.br/"
    }
  ],
  "paths": {
    "{slug-landingpage}/orders/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "description": "Order ID",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "required": true,
          "description": "prefix used in the domain"
        }
      ],
      "get": {
        "summary": "Get an order",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "result": [
                        {
                          "id": "5",
                          "creat_at": "2021-05-10 20:17:07",
                          "customer_name": "Adriano Marques Vieira",
                          "customer_email": "adrianno_marx@hotmail.com",
                          "payment_subtotal": "159.90",
                          "payment_shipping": "0.00",
                          "payment_increase": "0.00",
                          "payment_total": null,
                          "payment_in_cash": null,
                          "payment_coupon_discount": "15.99",
                          "updated_at": "2021-05-12 12:46:47",
                          "coupon": "10off",
                          "processed": "0",
                          "status": "order_created",
                          "orders_shipments": [
                            {
                              "shipping_type": "papa",
                              "shipping_real_price": "0.00",
                              "shipping_quote_price": "0.00",
                              "package_total_weight": "0.1",
                              "package_length": "16",
                              "package_width": "11",
                              "package_height": "2",
                              "estimated_delivery_date": "0000-00-00",
                              "shipping_delivery_time": "0",
                              "tracking_code": "0",
                              "tracking_url": "0"
                            }
                          ],
                          "orders_products": [
                            {
                              "product_id": "16",
                              "product_sku": "",
                              "product_price": "159.90",
                              "product_qtdy": "1",
                              "product_variant_sku": "28TNBJSHH",
                              "product_variant_options": "p|Azul"
                            }
                          ],
                          "orders_delivery_address": [
                            {
                              "recipient": "Adriano Marques Vieira",
                              "zip_code": "07094-120",
                              "address": "Rua Adelino Teixeira",
                              "number": "200",
                              "complement": "",
                              "district": "Vila Trabalhista",
                              "city": "Guarulhos",
                              "state": "SP",
                              "country": "BR"
                            }
                          ],
                          "orders_transactions": []
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "creat_at": {
                            "type": "string",
                            "minLength": 1,
                            "description": "date time (0000-00-00 00:00:00)"
                          },
                          "customer_name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "customer_email": {
                            "type": "string",
                            "minLength": 1
                          },
                          "payment_subtotal": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_shipping": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_increase": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_total": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "payment_in_cash": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "payment_coupon_discount": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "updated_at": {
                            "type": "string",
                            "minLength": 1,
                            "description": "date time (0000-00-00 00:00:00)"
                          },
                          "coupon": {
                            "type": "string",
                            "minLength": 1
                          },
                          "processed": {
                            "type": "string",
                            "minLength": 1
                          },
                          "status": {
                            "type": "string",
                            "minLength": 1
                          },
                          "orders_shipments": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "shipping_type": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "shipping_real_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "shipping_quote_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "package_total_weight": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "kg"
                                },
                                "package_length": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "package_width": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "package_height": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "estimated_delivery_date": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "date (0000-00-00)"
                                },
                                "shipping_delivery_time": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "tracking_code": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "tracking_url": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "link URL"
                                }
                              }
                            }
                          },
                          "orders_products": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "product_id": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_sku": {
                                  "type": "string"
                                },
                                "product_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "product_qtdy": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_sku": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_options": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          },
                          "orders_delivery_address": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "recipient": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "zip_code": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "address": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "number": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "complement": {
                                  "type": "string"
                                },
                                "district": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "city": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "state": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "country": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          },
                          "orders_transactions": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "id": "5",
                          "creat_at": "2021-05-10 20:17:07",
                          "customer_name": "Adriano Marques Vieira",
                          "customer_email": "adrianno_marx@hotmail.com",
                          "payment_subtotal": "159.90",
                          "payment_shipping": "0.00",
                          "payment_increase": "0.00",
                          "payment_total": null,
                          "payment_in_cash": null,
                          "payment_coupon_discount": "15.99",
                          "updated_at": "2021-05-12 12:46:47",
                          "coupon": "10off",
                          "processed": "0",
                          "status": "order_created",
                          "orders_shipments": [
                            {
                              "shipping_type": "papa",
                              "shipping_real_price": "0.00",
                              "shipping_quote_price": "0.00",
                              "package_total_weight": "0.1",
                              "package_length": "16",
                              "package_width": "11",
                              "package_height": "2",
                              "estimated_delivery_date": "0000-00-00",
                              "shipping_delivery_time": "0",
                              "tracking_code": "0",
                              "tracking_url": "0"
                            }
                          ],
                          "orders_products": [
                            {
                              "product_id": "16",
                              "product_sku": "",
                              "product_price": "159.90",
                              "product_qtdy": "1",
                              "product_variant_sku": "28TNBJSHH",
                              "product_variant_options": "p|Azul"
                            }
                          ],
                          "orders_delivery_address": [
                            {
                              "recipient": "Adriano Marques Vieira",
                              "zip_code": "07094-120",
                              "address": "Rua Adelino Teixeira",
                              "number": "200",
                              "complement": "",
                              "district": "Vila Trabalhista",
                              "city": "Guarulhos",
                              "state": "SP",
                              "country": "BR"
                            }
                          ],
                          "orders_transactions": []
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-slug-landingpage-orders-id",
        "description": "Retrieves the order information with the corresponding order ID.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "put": {
        "summary": "Update an order",
        "operationId": "put-slug-landingpage-orders-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "result": {
                        "message": "Order update",
                        "order": [
                          {
                            "id": "5",
                            "creat_at": "2021-05-10 20:17:07",
                            "customer_name": "Adriano Marques Vieira",
                            "customer_email": "adrianno_marx@hotmail.com",
                            "payment_subtotal": "159.90",
                            "payment_shipping": "0.00",
                            "payment_increase": "0.00",
                            "payment_total": null,
                            "payment_in_cash": null,
                            "payment_coupon_discount": "15.99",
                            "updated_at": "2021-05-12 14:34:45",
                            "coupon": "10off",
                            "processed": "0",
                            "status": "order_created",
                            "orders_shipments": [
                              {
                                "shipping_type": "sedex",
                                "shipping_real_price": "10.00",
                                "shipping_quote_price": "0.00",
                                "package_total_weight": "0.1",
                                "package_length": "16",
                                "package_width": "11",
                                "package_height": "2",
                                "estimated_delivery_date": "2021-06-10",
                                "shipping_delivery_time": "5",
                                "tracking_code": "9981575674",
                                "tracking_url": "https://www.google.com/"
                              }
                            ],
                            "orders_products": [
                              {
                                "product_id": "16",
                                "product_sku": "",
                                "product_price": "159.90",
                                "product_qtdy": "1",
                                "product_variant_sku": "28TNBJSHH",
                                "product_variant_options": "p|Azul"
                              }
                            ],
                            "orders_delivery_address": [
                              {
                                "recipient": "Adriano Marques Vieira",
                                "zip_code": "07094-120",
                                "address": "Rua Adelino Teixeira",
                                "number": "200",
                                "complement": "",
                                "district": "Vila Trabalhista",
                                "city": "Guarulhos",
                                "state": "SP",
                                "country": "BR"
                              }
                            ],
                            "orders_transactions": []
                          }
                        ]
                      },
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "order": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "creat_at": {
                                "type": "string",
                                "minLength": 1
                              },
                              "customer_name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "customer_email": {
                                "type": "string",
                                "minLength": 1
                              },
                              "payment_subtotal": {
                                "type": "string",
                                "minLength": 1
                              },
                              "payment_shipping": {
                                "type": "string",
                                "minLength": 1
                              },
                              "payment_increase": {
                                "type": "string",
                                "minLength": 1
                              },
                              "payment_total": {},
                              "payment_in_cash": {},
                              "payment_coupon_discount": {
                                "type": "string",
                                "minLength": 1
                              },
                              "updated_at": {
                                "type": "string",
                                "minLength": 1
                              },
                              "coupon": {
                                "type": "string",
                                "minLength": 1
                              },
                              "processed": {
                                "type": "string",
                                "minLength": 1
                              },
                              "status": {
                                "type": "string",
                                "minLength": 1
                              },
                              "orders_shipments": {
                                "type": "array",
                                "uniqueItems": true,
                                "minItems": 1,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "shipping_type": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "shipping_real_price": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "shipping_quote_price": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "package_total_weight": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "package_length": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "package_width": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "package_height": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "estimated_delivery_date": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "shipping_delivery_time": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "tracking_code": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "tracking_url": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  }
                                }
                              },
                              "orders_products": {
                                "type": "array",
                                "uniqueItems": true,
                                "minItems": 1,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "product_id": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "product_sku": {
                                      "type": "string"
                                    },
                                    "product_price": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "product_qtdy": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "product_variant_sku": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "product_variant_options": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  }
                                }
                              },
                              "orders_delivery_address": {
                                "type": "array",
                                "uniqueItems": true,
                                "minItems": 1,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "recipient": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "zip_code": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "address": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "number": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "complement": {
                                      "type": "string"
                                    },
                                    "district": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "city": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "state": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "country": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  }
                                }
                              },
                              "orders_transactions": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": {
                        "message": "Order update",
                        "order": [
                          {
                            "id": "5",
                            "creat_at": "2021-05-10 20:17:07",
                            "customer_name": "Adriano Marques Vieira",
                            "customer_email": "adrianno_marx@hotmail.com",
                            "payment_subtotal": "159.90",
                            "payment_shipping": "0.00",
                            "payment_increase": "0.00",
                            "payment_total": null,
                            "payment_in_cash": null,
                            "payment_coupon_discount": "15.99",
                            "updated_at": "2021-05-12 14:34:45",
                            "coupon": "10off",
                            "processed": "0",
                            "status": "order_created",
                            "orders_shipments": [
                              {
                                "shipping_type": "sedex",
                                "shipping_real_price": "10.00",
                                "shipping_quote_price": "0.00",
                                "package_total_weight": "0.1",
                                "package_length": "16",
                                "package_width": "11",
                                "package_height": "2",
                                "estimated_delivery_date": "2021-06-10",
                                "shipping_delivery_time": "5",
                                "tracking_code": "9981575674",
                                "tracking_url": "https://www.google.com/"
                              }
                            ],
                            "orders_products": [
                              {
                                "product_id": "16",
                                "product_sku": "",
                                "product_price": "159.90",
                                "product_qtdy": "1",
                                "product_variant_sku": "28TNBJSHH",
                                "product_variant_options": "p|Azul"
                              }
                            ],
                            "orders_delivery_address": [
                              {
                                "recipient": "Adriano Marques Vieira",
                                "zip_code": "07094-120",
                                "address": "Rua Adelino Teixeira",
                                "number": "200",
                                "complement": "",
                                "district": "Vila Trabalhista",
                                "city": "Guarulhos",
                                "state": "SP",
                                "country": "BR"
                              }
                            ],
                            "orders_transactions": []
                          }
                        ]
                      },
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Order not updated"
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates the order information with the corresponding order ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "x-examples": {
                  "example-1": {
                    "status": "order_created",
                    "orders_shipments": [
                      {
                        "shipping_type": "sedex",
                        "shipping_real_price": "10.00",
                        "estimated_delivery_date": "2021-06-10",
                        "shipping_delivery_time": "5",
                        "tracking_code": "9981575674",
                        "tracking_url": "https://www.google.com/"
                      }
                    ]
                  }
                },
                "properties": {
                  "status": {
                    "type": "string",
                    "minLength": 1,
                    "description": "list Status"
                  },
                  "orders_shipments": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "shipping_type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "method"
                        },
                        "shipping_real_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (00.0)"
                        },
                        "estimated_delivery_date": {
                          "type": "string",
                          "minLength": 1,
                          "description": "date (0000-00-00)"
                        },
                        "shipping_delivery_time": {
                          "type": "string",
                          "minLength": 1,
                          "description": "days"
                        },
                        "tracking_code": {
                          "type": "string",
                          "minLength": 1,
                          "description": "hash"
                        },
                        "tracking_url": {
                          "type": "string",
                          "minLength": 1,
                          "description": "link URL"
                        }
                      },
                      "required": [
                        "shipping_type",
                        "shipping_real_price",
                        "estimated_delivery_date",
                        "shipping_delivery_time",
                        "tracking_code",
                        "tracking_url"
                      ]
                    }
                  }
                },
                "required": [
                  "status"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "status": "order_created",
                    "orders_shipments": [
                      {
                        "shipping_type": "sedex",
                        "shipping_real_price": "10.00",
                        "estimated_delivery_date": "2021-06-10",
                        "shipping_delivery_time": "5",
                        "tracking_code": "9981575674",
                        "tracking_url": "https://www.google.com/"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Request body"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    },
    "{slug-landingpage}/orders": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "required": true,
          "description": "prefix used in the domain"
        }
      ],
      "get": {
        "summary": "Get all orders",
        "operationId": "get-slug-landingpage-orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "result": [
                        {
                          "id": "5",
                          "creat_at": "2021-05-10 20:17:07",
                          "customer_name": "Adriano Marques Vieira",
                          "customer_email": "adrianno_marx@hotmail.com",
                          "payment_subtotal": "159.90",
                          "payment_shipping": "0.00",
                          "payment_increase": "0.00",
                          "payment_total": null,
                          "payment_in_cash": null,
                          "payment_coupon_discount": "15.99",
                          "updated_at": "2021-05-12 12:46:47",
                          "coupon": "10off",
                          "processed": "0",
                          "status": "order_created",
                          "orders_shipments": [
                            {
                              "shipping_type": "papa",
                              "shipping_real_price": "0.00",
                              "shipping_quote_price": "0.00",
                              "package_total_weight": "0.1",
                              "package_length": "16",
                              "package_width": "11",
                              "package_height": "2",
                              "estimated_delivery_date": "0000-00-00",
                              "shipping_delivery_time": "0",
                              "tracking_code": "0",
                              "tracking_url": "0"
                            }
                          ],
                          "orders_products": [
                            {
                              "product_id": "16",
                              "product_sku": "",
                              "product_price": "159.90",
                              "product_qtdy": "1",
                              "product_variant_sku": "28TNBJSHH",
                              "product_variant_options": "p|Azul"
                            }
                          ],
                          "orders_delivery_address": [
                            {
                              "recipient": "Adriano Marques Vieira",
                              "zip_code": "07094-120",
                              "address": "Rua Adelino Teixeira",
                              "number": "200",
                              "complement": "",
                              "district": "Vila Trabalhista",
                              "city": "Guarulhos",
                              "state": "SP",
                              "country": "BR"
                            }
                          ],
                          "orders_transactions": []
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "creat_at": {
                            "type": "string",
                            "minLength": 1,
                            "description": "date time (0000-00-00 00:00:00)"
                          },
                          "customer_name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "customer_email": {
                            "type": "string",
                            "minLength": 1
                          },
                          "payment_subtotal": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_shipping": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_increase": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_total": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "payment_in_cash": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "payment_coupon_discount": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "updated_at": {
                            "type": "string",
                            "minLength": 1,
                            "description": "date time (0000-00-00 00:00:00)"
                          },
                          "coupon": {
                            "type": "string",
                            "minLength": 1
                          },
                          "processed": {
                            "type": "string",
                            "minLength": 1
                          },
                          "status": {
                            "type": "string",
                            "minLength": 1
                          },
                          "orders_shipments": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "shipping_type": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "shipping_real_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "shipping_quote_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "package_total_weight": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "kg"
                                },
                                "package_length": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "package_width": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "package_height": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "estimated_delivery_date": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "date (0000-00-00)"
                                },
                                "shipping_delivery_time": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "tracking_code": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "tracking_url": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "link URL"
                                }
                              }
                            }
                          },
                          "orders_products": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "product_id": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_sku": {
                                  "type": "string"
                                },
                                "product_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "product_qtdy": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_sku": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_options": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          },
                          "orders_delivery_address": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "recipient": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "zip_code": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "address": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "number": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "complement": {
                                  "type": "string"
                                },
                                "district": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "city": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "state": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "country": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          },
                          "orders_transactions": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "id": "5",
                          "creat_at": "2021-05-10 20:17:07",
                          "customer_name": "Adriano Marques Vieira",
                          "customer_email": "adrianno_marx@hotmail.com",
                          "payment_subtotal": "159.90",
                          "payment_shipping": "0.00",
                          "payment_increase": "0.00",
                          "payment_total": null,
                          "payment_in_cash": null,
                          "payment_coupon_discount": "15.99",
                          "updated_at": "2021-05-12 12:46:47",
                          "coupon": "10off",
                          "processed": "0",
                          "status": "order_created",
                          "orders_shipments": [
                            {
                              "shipping_type": "papa",
                              "shipping_real_price": "0.00",
                              "shipping_quote_price": "0.00",
                              "package_total_weight": "0.1",
                              "package_length": "16",
                              "package_width": "11",
                              "package_height": "2",
                              "estimated_delivery_date": "0000-00-00",
                              "shipping_delivery_time": "0",
                              "tracking_code": "0",
                              "tracking_url": "0"
                            }
                          ],
                          "orders_products": [
                            {
                              "product_id": "16",
                              "product_sku": "",
                              "product_price": "159.90",
                              "product_qtdy": "1",
                              "product_variant_sku": "28TNBJSHH",
                              "product_variant_options": "p|Azul"
                            }
                          ],
                          "orders_delivery_address": [
                            {
                              "recipient": "Adriano Marques Vieira",
                              "zip_code": "07094-120",
                              "address": "Rua Adelino Teixeira",
                              "number": "200",
                              "complement": "",
                              "district": "Vila Trabalhista",
                              "city": "Guarulhos",
                              "state": "SP",
                              "country": "BR"
                            }
                          ],
                          "orders_transactions": []
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrieves information for all orders.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "TOKEN": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token provided for your landing page"
      }
    },
    "parameters": {}
  },
  "security": [
    {
      "TOKEN": []
    }
  ]
}