{
  "openapi": "3.0.0",
  "info": {
    "title": "Orders",
    "version": "",
    "description": "Through this reference you can consult and update orders. \n\n**Status**\n\nStatus | Meaning\n--------- | ----------\norder_created | Initial order status, no payment has been made\nawaiting_payment | Waiting for payment, normally occurs in orders using bank slip as a payment method\nauthorized_payment | The payment has been authorized but not yet captured or confirmed\npayment_accept | Payment of the order placed and approved, this status is used for order confirmation\nseparating_items | In preparation for shipping\ndispatched | Order dispatched\ndelivered | Delivered to the customer\ncanceled | Order canceled\n",
    "contact": {
      "email": "developers@lpquevende.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.lpquevende.com/"
    }
  ],
  "paths": {
    "{slug-landingpage}/orders/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "description": "Order ID",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "required": true,
          "description": "prefix used in the domain"
        }
      ],
      "get": {
        "summary": "Get an order",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "result": [
                        {
                          "id": "5",
                          "creat_at": "2021-05-10 20:17:07",
                          "customer_name": "Adriano Marques Vieira",
                          "customer_email": "adrianno_marx@hotmail.com",
                          "payment_subtotal": "159.90",
                          "payment_shipping": "0.00",
                          "payment_increase": "0.00",
                          "payment_total": null,
                          "payment_in_cash": null,
                          "payment_coupon_discount": "15.99",
                          "updated_at": "2021-05-12 12:46:47",
                          "coupon": "10off",
                          "processed": "0",
                          "token": "M2S5WCXAKD12",
                          "status": "order_created",
                          "phone_number": "11941548598",
                          "customer_cpf": "73294512074",
                          "checkout_url": "https://www.lpqv.com.br/checkout/pedido?order=M2S5WCXAKD12",
                          "orders_shipments": [
                            {
                              "shipping_type": "papa",
                              "shipping_real_price": "0.00",
                              "shipping_quote_price": "0.00",
                              "package_total_weight": "0.1",
                              "package_length": "16",
                              "package_width": "11",
                              "package_height": "2",
                              "estimated_delivery_date": "0000-00-00",
                              "shipping_delivery_time": "0",
                              "tracking_code": "0",
                              "tracking_url": "0"
                            }
                          ],
                          "orders_products": [
                            {
                              "product_id": "16",
                              "product_sku": "",
                              "product_price": "159.90",
                              "product_qtdy": "1",
                              "product_variant_id": "1",
                              "product_variant_sku": "28TNBJSHH",
                              "product_variant_options": "p|Azul",
                              "product_description": "Relógio",
                              "product_image": "https://lpqv.com.br/image/",
                              "product_url": "https://lpqv.com.br/",
                              "order_product_id": "5"
                            }
                          ],
                          "orders_delivery_address": [
                            {
                              "recipient": "Adriano Marques Vieira",
                              "zip_code": "07094-120",
                              "address": "Rua Adelino Teixeira",
                              "number": "200",
                              "complement": "",
                              "district": "Vila Trabalhista",
                              "city": "Guarulhos",
                              "state": "SP",
                              "country": "BR"
                            }
                          ],
                          "orders_transactions": [
                            {
                              "processor": "test",
                              "amount": "187.90",
                              "discount": null,
                              "status": "created",
                              "transaction_code": "16446531812",
                              "payment_method": "ticket",
                              "created_at": "2021-05-12 15:57:58",
                              "updated_at": "2021-05-12 15:57:58",
                              "payment_url": "https://www.lpqv.com.br/",
                              "ticket_barcode": "1234.1234 1234.1234",
                              "ticket_due_date": "2021-08-20",
                              "installments": "0",
                              "installment_value": "0.00",
                              "pix_qrcode": "",
                              "pix_qrcode_b64": "",
                              "payment_date": "2021-08-17 19:51:41"
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "creat_at": {
                            "type": "string",
                            "minLength": 1,
                            "description": "date time (0000-00-00 00:00:00)"
                          },
                          "customer_name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "customer_email": {
                            "type": "string",
                            "minLength": 1
                          },
                          "payment_subtotal": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_shipping": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_increase": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_total": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "payment_in_cash": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "payment_coupon_discount": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "updated_at": {
                            "type": "string",
                            "minLength": 1,
                            "description": "date time (0000-00-00 00:00:00)"
                          },
                          "coupon": {
                            "type": "string",
                            "minLength": 1
                          },
                          "processed": {
                            "type": "string",
                            "minLength": 1
                          },
                          "token": {
                            "type": "string",
                            "minLength": 1,
                            "description": "order identifier"
                          },
                          "status": {
                            "type": "string",
                            "minLength": 1,
                            "description": "list Status"
                          },
                          "phone_number": {
                            "type": "string",
                            "minLength": 1
                          },
                          "customer_cpf": {
                            "type": "string",
                            "minLength": 1
                          },
                          "checkout_url": {
                            "type": "string",
                            "minLength": 1,
                            "description": "order completion url"
                          },
                          "orders_shipments": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "shipping_type": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "shipping_real_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "shipping_quote_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "package_total_weight": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "kg"
                                },
                                "package_length": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "package_width": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "package_height": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "estimated_delivery_date": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "date (0000-00-00)"
                                },
                                "shipping_delivery_time": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "tracking_code": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "tracking_url": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "link URL"
                                }
                              }
                            }
                          },
                          "orders_products": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "product_id": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_sku": {
                                  "type": "string"
                                },
                                "product_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "product_qtdy": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_id": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_sku": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_options": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_description": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "product description"
                                },
                                "product_image": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "URL to main product photo"
                                },
                                "product_url": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "URL for product landing page"
                                },
                                "order_product_id": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "unique id for this record"
                                }
                              }
                            }
                          },
                          "orders_delivery_address": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "recipient": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "zip_code": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "address": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "number": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "complement": {
                                  "type": "string"
                                },
                                "district": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "city": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "state": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "country": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          },
                          "orders_transactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "processor": {
                                  "type": "string",
                                  "description": "gateway"
                                },
                                "amount": {
                                  "type": "string",
                                  "description": "double (0.00)"
                                },
                                "discount": {
                                  "type": "string",
                                  "description": "double (0.00)"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "transaction status"
                                },
                                "transaction_code": {
                                  "type": "string",
                                  "description": "code returned by gateway"
                                },
                                "payment_method": {
                                  "type": "string",
                                  "description": "ticket, credit_card or pix"
                                },
                                "created_at": {
                                  "type": "string",
                                  "description": "datetime (0000-00-00 00:00:00)"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "description": "datetime (0000-00-00 00:00:00)"
                                },
                                "payment_url": {
                                  "type": "string",
                                  "description": "payment url returned by gateway"
                                },
                                "ticket_barcode": {
                                  "type": "string"
                                },
                                "ticket_due_date": {
                                  "type": "string"
                                },
                                "installments": {
                                  "type": "string"
                                },
                                "installment_value": {
                                  "type": "string",
                                  "description": "double (0.00)"
                                },
                                "pix_qrcode": {
                                  "type": "string"
                                },
                                "pix_qrcode_b64": {
                                  "type": "string"
                                },
                                "payment_date": {
                                  "type": "string",
                                  "description": "datetime (0000-00-00 00:00:00)"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "id": "5",
                          "creat_at": "2021-05-10 20:17:07",
                          "customer_name": "Adriano Marques Vieira",
                          "customer_email": "adrianno_marx@hotmail.com",
                          "payment_subtotal": "159.90",
                          "payment_shipping": "0.00",
                          "payment_increase": "0.00",
                          "payment_total": null,
                          "payment_in_cash": null,
                          "payment_coupon_discount": "15.99",
                          "updated_at": "2021-05-12 12:46:47",
                          "coupon": "10off",
                          "processed": "0",
                          "token": "M2S5WCXAKD12",
                          "status": "order_created",
                          "phone_number": "11941548598",
                          "customer_cpf": "73294512074",
                          "checkout_url": "https://www.lpqv.com.br/checkout/pedido?order=M2S5WCXAKD12",
                          "orders_shipments": [
                            {
                              "shipping_type": "papa",
                              "shipping_real_price": "0.00",
                              "shipping_quote_price": "0.00",
                              "package_total_weight": "0.1",
                              "package_length": "16",
                              "package_width": "11",
                              "package_height": "2",
                              "estimated_delivery_date": "0000-00-00",
                              "shipping_delivery_time": "0",
                              "tracking_code": "0",
                              "tracking_url": "0"
                            }
                          ],
                          "orders_products": [
                            {
                              "product_id": "16",
                              "product_sku": "",
                              "product_price": "159.90",
                              "product_qtdy": "1",
                              "product_variant_id": "1",
                              "product_variant_sku": "28TNBJSHH",
                              "product_variant_options": "p|Azul",
                              "product_description": "Relógio",
                              "product_image": "https://lpqv.com.br/image/",
                              "product_url": "https://lpqv.com.br/",
                              "order_product_id": "5"
                            }
                          ],
                          "orders_delivery_address": [
                            {
                              "recipient": "Adriano Marques Vieira",
                              "zip_code": "07094-120",
                              "address": "Rua Adelino Teixeira",
                              "number": "200",
                              "complement": "",
                              "district": "Vila Trabalhista",
                              "city": "Guarulhos",
                              "state": "SP",
                              "country": "BR"
                            }
                          ],
                          "orders_transactions": [
                            {
                              "processor": "test",
                              "amount": "187.90",
                              "discount": null,
                              "status": "created",
                              "transaction_code": "16446531812",
                              "payment_method": "ticket",
                              "created_at": "2021-05-12 15:57:58",
                              "updated_at": "2021-05-12 15:57:58",
                              "payment_url": "https://www.lpqv.com.br/",
                              "ticket_barcode": "1234.1234 1234.1234",
                              "ticket_due_date": "2021-08-20",
                              "installments": "0",
                              "installment_value": "0.00",
                              "pix_qrcode": "",
                              "pix_qrcode_b64": "",
                              "payment_date": "2021-08-17 19:51:41"
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-slug-landingpage-orders-id",
        "description": "Retrieves the order information with the corresponding order ID.\n\n**Status**\n\nStatus | Meaning\n--------- | ----------\norder_created | Initial order status, no payment has been made\nawaiting_payment | Waiting for payment, normally occurs in orders using bank slip as a payment method\nauthorized_payment | The payment has been authorized but not yet captured or confirmed\npayment_accept | Payment of the order placed and approved, this status is used for order confirmation\nseparating_items | In preparation for shipping\ndispatched | Order dispatched\ndelivered | Delivered to the customer\ncanceled | Order canceled",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "put": {
        "summary": "Update an order",
        "operationId": "put-slug-landingpage-orders-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "result": {
                        "message": "Order update",
                        "order": [
                          {
                            "id": "5",
                            "creat_at": "2021-05-10 20:17:07",
                            "customer_name": "Adriano Marques Vieira",
                            "customer_email": "adrianno_marx@hotmail.com",
                            "payment_subtotal": "159.90",
                            "payment_shipping": "0.00",
                            "payment_increase": "0.00",
                            "payment_total": null,
                            "payment_in_cash": null,
                            "payment_coupon_discount": "15.99",
                            "updated_at": "2021-05-12 14:34:45",
                            "coupon": "10off",
                            "processed": "0",
                            "token": "M2S5WCXAKD12",
                            "status": "order_created",
                            "phone_number": "11941548598",
                            "customer_cpf": "73294512074",
                            "checkout_url": "https://www.lpqv.com.br/checkout/pedido?order=M2S5WCXAKD12",
                            "orders_shipments": [
                              {
                                "shipping_type": "sedex",
                                "shipping_real_price": "10.00",
                                "shipping_quote_price": "0.00",
                                "package_total_weight": "0.1",
                                "package_length": "16",
                                "package_width": "11",
                                "package_height": "2",
                                "estimated_delivery_date": "2021-06-10",
                                "shipping_delivery_time": "5",
                                "tracking_code": "9981575674",
                                "tracking_url": "https://www.google.com/"
                              }
                            ],
                            "orders_products": [
                              {
                                "product_id": "16",
                                "product_sku": "",
                                "product_price": "159.90",
                                "product_qtdy": "1",
                                "product_variant_id": "1",
                                "product_variant_sku": "28TNBJSHH",
                                "product_variant_options": "p|Azul",
                                "product_description": "Relógio",
                                "product_image": "https://lpqv.com.br/image/",
                                "product_url": "https://lpqv.com.br/",
                                "order_product_id": "5"
                              }
                            ],
                            "orders_delivery_address": [
                              {
                                "recipient": "Adriano Marques Vieira",
                                "zip_code": "07094-120",
                                "address": "Rua Adelino Teixeira",
                                "number": "200",
                                "complement": "",
                                "district": "Vila Trabalhista",
                                "city": "Guarulhos",
                                "state": "SP",
                                "country": "BR"
                              }
                            ],
                            "orders_transactions": [
                              {
                                "processor": "test",
                                "amount": "187.90",
                                "discount": null,
                                "status": "created",
                                "transaction_code": "16446531812",
                                "payment_method": "ticket",
                                "created_at": "2021-05-12 15:57:58",
                                "updated_at": "2021-05-12 15:57:58",
                                "payment_url": "https://www.lpqv.com.br/",
                                "ticket_barcode": "1234.1234 1234.1234",
                                "ticket_due_date": "2021-08-20",
                                "installments": "0",
                                "installment_value": "0.00",
                                "pix_qrcode": "",
                                "pix_qrcode_b64": "",
                                "payment_date": "2021-08-17 19:51:41"
                              }
                            ]
                          }
                        ]
                      },
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "order": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "creat_at": {
                                "type": "string",
                                "minLength": 1,
                                "description": "date time (0000-00-00 00:00:00)"
                              },
                              "customer_name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "customer_email": {
                                "type": "string",
                                "minLength": 1
                              },
                              "payment_subtotal": {
                                "type": "string",
                                "minLength": 1,
                                "description": "double (0.00)"
                              },
                              "payment_shipping": {
                                "type": "string",
                                "minLength": 1,
                                "description": "double (0.00)"
                              },
                              "payment_increase": {
                                "type": "string",
                                "minLength": 1,
                                "description": "double (0.00)"
                              },
                              "payment_total": {
                                "description": "double (0.00)",
                                "type": "string"
                              },
                              "payment_in_cash": {
                                "description": "double (0.00)",
                                "type": "string"
                              },
                              "payment_coupon_discount": {
                                "type": "string",
                                "minLength": 1,
                                "description": "double (0.00)"
                              },
                              "updated_at": {
                                "type": "string",
                                "minLength": 1,
                                "description": "date (0000-00-00)"
                              },
                              "coupon": {
                                "type": "string",
                                "minLength": 1
                              },
                              "processed": {
                                "type": "string",
                                "minLength": 1
                              },
                              "token": {
                                "type": "string",
                                "minLength": 1,
                                "description": "order identifier"
                              },
                              "status": {
                                "type": "string",
                                "minLength": 1,
                                "description": "list Status"
                              },
                              "phone_number": {
                                "type": "string",
                                "minLength": 1
                              },
                              "customer_cpf": {
                                "type": "string",
                                "minLength": 1
                              },
                              "checkout_url": {
                                "type": "string",
                                "minLength": 1,
                                "description": "order completion url"
                              },
                              "orders_shipments": {
                                "type": "array",
                                "uniqueItems": true,
                                "minItems": 1,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "shipping_type": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "shipping_real_price": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "double (0.00)"
                                    },
                                    "shipping_quote_price": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "double (0.00)"
                                    },
                                    "package_total_weight": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "kg\n"
                                    },
                                    "package_width": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "centimeters"
                                    },
                                    "package_height": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "centimeters"
                                    },
                                    "estimated_delivery_date": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "days"
                                    },
                                    "shipping_delivery_time": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "date (0000-00-00)"
                                    },
                                    "tracking_code": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "hash"
                                    },
                                    "tracking_url": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "link URL"
                                    },
                                    "package_length": {
                                      "type": "string",
                                      "description": "centimeters"
                                    }
                                  }
                                }
                              },
                              "orders_products": {
                                "type": "array",
                                "uniqueItems": true,
                                "minItems": 1,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "product_id": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "product_sku": {
                                      "type": "string"
                                    },
                                    "product_price": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "double (0.00)"
                                    },
                                    "product_qtdy": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "product_variant_id": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "product_variant_sku": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "product_variant_options": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "product_description": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "product description"
                                    },
                                    "product_image": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "URL to main product photo"
                                    },
                                    "product_url": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "URL for product landing page"
                                    },
                                    "order_product_id": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "unique id for this record"
                                    }
                                  }
                                }
                              },
                              "orders_delivery_address": {
                                "type": "array",
                                "uniqueItems": true,
                                "minItems": 1,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "recipient": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "zip_code": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "address": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "number": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "complement": {
                                      "type": "string"
                                    },
                                    "district": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "city": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "state": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "country": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  }
                                }
                              },
                              "orders_transactions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "processor": {
                                      "type": "string",
                                      "description": "gateway"
                                    },
                                    "amount": {
                                      "type": "string",
                                      "description": "double (0.00)"
                                    },
                                    "discount": {
                                      "type": "string",
                                      "description": "double (0.00)"
                                    },
                                    "status": {
                                      "type": "string",
                                      "description": "transaction status"
                                    },
                                    "transaction_code": {
                                      "type": "string",
                                      "description": "code returned by gateway"
                                    },
                                    "payment_method": {
                                      "type": "string",
                                      "description": "ticket, credit_card or pix"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "description": "datetime (0000-00-00 00:00:00)"
                                    },
                                    "updated_at": {
                                      "type": "string",
                                      "description": "datetime (0000-00-00 00:00:00)"
                                    },
                                    "payment_url": {
                                      "type": "string",
                                      "description": "payment url returned by gateway"
                                    },
                                    "ticket_barcode": {
                                      "type": "string"
                                    },
                                    "ticket_due_date": {
                                      "type": "string"
                                    },
                                    "installments": {
                                      "type": "string"
                                    },
                                    "installment_value": {
                                      "type": "string",
                                      "description": "double (0.00)"
                                    },
                                    "pix_qrcode": {
                                      "type": "string"
                                    },
                                    "pix_qrcode_b64": {
                                      "type": "string"
                                    },
                                    "payment_date": {
                                      "type": "string",
                                      "description": "datetime (0000-00-00 00:00:00)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": {
                        "message": "Order update",
                        "order": [
                          {
                            "id": "5",
                            "creat_at": "2021-05-10 20:17:07",
                            "customer_name": "Adriano Marques Vieira",
                            "customer_email": "adrianno_marx@hotmail.com",
                            "payment_subtotal": "159.90",
                            "payment_shipping": "0.00",
                            "payment_increase": "0.00",
                            "payment_total": null,
                            "payment_in_cash": null,
                            "payment_coupon_discount": "15.99",
                            "updated_at": "2021-05-12 14:34:45",
                            "coupon": "10off",
                            "processed": "0",
                            "token": "M2S5WCXAKD12",
                            "status": "order_created",
                            "phone_number": "11941548598",
                            "customer_cpf": "73294512074",
                            "checkout_url": "https://www.lpqv.com.br/checkout/pedido?order=M2S5WCXAKD12",
                            "orders_shipments": [
                              {
                                "shipping_type": "sedex",
                                "shipping_real_price": "10.00",
                                "shipping_quote_price": "0.00",
                                "package_total_weight": "0.1",
                                "package_length": "16",
                                "package_width": "11",
                                "package_height": "2",
                                "estimated_delivery_date": "2021-06-10",
                                "shipping_delivery_time": "5",
                                "tracking_code": "9981575674",
                                "tracking_url": "https://www.google.com/"
                              }
                            ],
                            "orders_products": [
                              {
                                "product_id": "16",
                                "product_sku": "",
                                "product_price": "159.90",
                                "product_qtdy": "1",
                                "product_variant_id": "1",
                                "product_variant_sku": "28TNBJSHH",
                                "product_variant_options": "p|Azul",
                                "product_description": "Relógio",
                                "product_image": "https://lpqv.com.br/image/",
                                "product_url": "https://lpqv.com.br/",
                                "order_product_id": "5"
                              }
                            ],
                            "orders_delivery_address": [
                              {
                                "recipient": "Adriano Marques Vieira",
                                "zip_code": "07094-120",
                                "address": "Rua Adelino Teixeira",
                                "number": "200",
                                "complement": "",
                                "district": "Vila Trabalhista",
                                "city": "Guarulhos",
                                "state": "SP",
                                "country": "BR"
                              }
                            ],
                            "orders_transactions": [
                              {
                                "processor": "test",
                                "amount": "187.90",
                                "discount": null,
                                "status": "created",
                                "transaction_code": "16446531812",
                                "payment_method": "ticket",
                                "created_at": "2021-05-12 15:57:58",
                                "updated_at": "2021-05-12 15:57:58",
                                "payment_url": "https://www.lpqv.com.br/",
                                "ticket_barcode": "1234.1234 1234.1234",
                                "ticket_due_date": "2021-08-20",
                                "installments": "0",
                                "installment_value": "0.00",
                                "pix_qrcode": "",
                                "pix_qrcode_b64": "",
                                "payment_date": "2021-08-17 19:51:41"
                              }
                            ]
                          }
                        ]
                      },
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Order not updated"
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates the order information with the corresponding order ID.\n\n**Status**\n\nStatus | Meaning\n--------- | ----------\norder_created | Initial order status, no payment has been made\nawaiting_payment | Waiting for payment, normally occurs in orders using bank slip as a payment method\nauthorized_payment | The payment has been authorized but not yet captured or confirmed\npayment_accept | Payment of the order placed and approved, this status is used for order confirmation\nseparating_items | In preparation for shipping\ndispatched | Order dispatched\ndelivered | Delivered to the customer\ncanceled | Order canceled",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "x-examples": {
                  "example-1": {
                    "status": "order_created",
                    "orders_shipments": [
                      {
                        "shipping_type": "sedex",
                        "shipping_real_price": "10.00",
                        "estimated_delivery_date": "2021-06-10",
                        "shipping_delivery_time": "5",
                        "tracking_code": "9981575674",
                        "tracking_url": "https://www.google.com/"
                      }
                    ]
                  }
                },
                "properties": {
                  "status": {
                    "type": "string",
                    "minLength": 1,
                    "description": "list Status"
                  },
                  "orders_shipments": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "shipping_type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "method"
                        },
                        "shipping_real_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "estimated_delivery_date": {
                          "type": "string",
                          "minLength": 1,
                          "description": "date (0000-00-00)"
                        },
                        "shipping_delivery_time": {
                          "type": "string",
                          "minLength": 1,
                          "description": "days"
                        },
                        "tracking_code": {
                          "type": "string",
                          "minLength": 1,
                          "description": "hash"
                        },
                        "tracking_url": {
                          "type": "string",
                          "minLength": 1,
                          "description": "link URL"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "status": "order_created",
                    "orders_shipments": [
                      {
                        "shipping_type": "sedex",
                        "shipping_real_price": "10.00",
                        "estimated_delivery_date": "2021-06-10",
                        "shipping_delivery_time": "5",
                        "tracking_code": "9981575674",
                        "tracking_url": "https://www.google.com/"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Request body"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    },
    "{slug-landingpage}/orders": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "required": true,
          "description": "prefix used in the domain"
        }
      ],
      "get": {
        "summary": "Get all orders",
        "operationId": "get-slug-landingpage-orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "result": [
                        {
                          "id": "5",
                          "creat_at": "2021-05-10 20:17:07",
                          "customer_name": "Adriano Marques Vieira",
                          "customer_email": "adrianno_marx@hotmail.com",
                          "payment_subtotal": "159.90",
                          "payment_shipping": "0.00",
                          "payment_increase": "0.00",
                          "payment_total": null,
                          "payment_in_cash": null,
                          "payment_coupon_discount": "15.99",
                          "updated_at": "2021-05-12 12:46:47",
                          "coupon": "10off",
                          "processed": "0",
                          "token": "M2S5WCXAKD12",
                          "status": "order_created",
                          "phone_number": "11956284788",
                          "customer_cpf": "73294512074",
                          "checkout_url": "https://www.lpqv.com.br/checkout/pedido?order=M2S5WCXAKD12",
                          "orders_shipments": [
                            {
                              "shipping_type": "papa",
                              "shipping_real_price": "0.00",
                              "shipping_quote_price": "0.00",
                              "package_total_weight": "0.1",
                              "package_length": "16",
                              "package_width": "11",
                              "package_height": "2",
                              "estimated_delivery_date": "0000-00-00",
                              "shipping_delivery_time": "0",
                              "tracking_code": "0",
                              "tracking_url": "0"
                            }
                          ],
                          "orders_products": [
                            {
                              "product_id": "16",
                              "product_sku": "",
                              "product_price": "159.90",
                              "product_qtdy": "1",
                              "product_variant_id": "1",
                              "product_variant_sku": "28TNBJSHH",
                              "product_variant_options": "p|Azul",
                              "product_description": "Relógio",
                              "product_image": "https://lpqv.com.br/image/",
                              "product_url": "https://lpqv.com.br/",
                              "order_product_id": "5"
                            }
                          ],
                          "orders_delivery_address": [
                            {
                              "recipient": "Adriano Marques Vieira",
                              "zip_code": "07094-120",
                              "address": "Rua Adelino Teixeira",
                              "number": "200",
                              "complement": "",
                              "district": "Vila Trabalhista",
                              "city": "Guarulhos",
                              "state": "SP",
                              "country": "BR"
                            }
                          ],
                          "orders_transactions": [
                            {
                              "processor": "test",
                              "amount": "187.90",
                              "discount": null,
                              "status": "created",
                              "transaction_code": "16446531812",
                              "payment_method": "ticket",
                              "created_at": "2021-05-12 15:57:58",
                              "updated_at": "2021-05-12 15:57:58",
                              "payment_url": "https://www.lpqv.com.br/",
                              "ticket_barcode": "1234.1234 1234.1234",
                              "ticket_due_date": "2021-08-20",
                              "installments": "0",
                              "installment_value": "0.00",
                              "pix_qrcode": "",
                              "pix_qrcode_b64": "",
                              "payment_date": "2021-08-17 19:51:41"
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "creat_at": {
                            "type": "string",
                            "minLength": 1,
                            "description": "date time (0000-00-00 00:00:00)"
                          },
                          "customer_name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "customer_email": {
                            "type": "string",
                            "minLength": 1
                          },
                          "payment_subtotal": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_shipping": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_increase": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "payment_total": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "payment_in_cash": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "payment_coupon_discount": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "updated_at": {
                            "type": "string",
                            "minLength": 1,
                            "description": "date time (0000-00-00 00:00:00)"
                          },
                          "coupon": {
                            "type": "string",
                            "minLength": 1
                          },
                          "processed": {
                            "type": "string",
                            "minLength": 1
                          },
                          "token": {
                            "type": "string",
                            "minLength": 1,
                            "description": "order identifier"
                          },
                          "status": {
                            "type": "string",
                            "minLength": 1,
                            "description": "list Status"
                          },
                          "phone_number": {
                            "type": "string",
                            "minLength": 1
                          },
                          "customer_cpf": {
                            "type": "string",
                            "minLength": 1
                          },
                          "checkout_url": {
                            "type": "string",
                            "minLength": 1,
                            "description": "order completion url"
                          },
                          "orders_shipments": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "shipping_type": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "shipping_real_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "shipping_quote_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "package_total_weight": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "kg"
                                },
                                "package_length": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "package_width": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "package_height": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "centimeters"
                                },
                                "estimated_delivery_date": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "date (0000-00-00)"
                                },
                                "shipping_delivery_time": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "tracking_code": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "tracking_url": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "link URL"
                                }
                              }
                            }
                          },
                          "orders_products": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "product_id": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_sku": {
                                  "type": "string"
                                },
                                "product_price": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "double (0.00)"
                                },
                                "product_qtdy": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_id": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_sku": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_variant_options": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "product_description": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "product description"
                                },
                                "product_image": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "URL to main product photo"
                                },
                                "product_url": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "URL for product landing page"
                                },
                                "order_product_id": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "unique id for this record"
                                }
                              }
                            }
                          },
                          "orders_delivery_address": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "recipient": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "zip_code": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "address": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "number": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "complement": {
                                  "type": "string"
                                },
                                "district": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "city": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "state": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "country": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          },
                          "orders_transactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "processor": {
                                  "type": "string",
                                  "description": "gateway"
                                },
                                "amount": {
                                  "type": "string",
                                  "description": "double (0.00)"
                                },
                                "discount": {
                                  "type": "string",
                                  "description": "double (0.00)"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "transaction status"
                                },
                                "transaction_code": {
                                  "type": "string",
                                  "description": "code returned by gateway"
                                },
                                "payment_method": {
                                  "type": "string",
                                  "description": "ticket, credit_card or pix"
                                },
                                "created_at": {
                                  "type": "string",
                                  "description": "datetime (0000-00-00 00:00:00)"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "description": "datetime (0000-00-00 00:00:00)"
                                },
                                "payment_url": {
                                  "type": "string",
                                  "description": "payment url returned by gateway"
                                },
                                "ticket_barcode": {
                                  "type": "string"
                                },
                                "ticket_due_date": {
                                  "type": "string"
                                },
                                "installments": {
                                  "type": "string"
                                },
                                "installment_value": {
                                  "type": "string",
                                  "description": "double (0.00)"
                                },
                                "pix_qrcode": {
                                  "type": "string"
                                },
                                "pix_qrcode_b64": {
                                  "type": "string"
                                },
                                "payment_date": {
                                  "type": "string",
                                  "description": "datetime (0000-00-00 00:00:00)"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "id": "5",
                          "creat_at": "2021-05-10 20:17:07",
                          "customer_name": "Adriano Marques Vieira",
                          "customer_email": "adrianno_marx@hotmail.com",
                          "payment_subtotal": "159.90",
                          "payment_shipping": "0.00",
                          "payment_increase": "0.00",
                          "payment_total": null,
                          "payment_in_cash": null,
                          "payment_coupon_discount": "15.99",
                          "updated_at": "2021-05-12 12:46:47",
                          "coupon": "10off",
                          "processed": "0",
                          "token": "M2S5WCXAKD12",
                          "status": "order_created",
                          "phone_number": "11941548598",
                          "customer_cpf": "73294512074",
                          "checkout_url": "https://www.lpqv.com.br/checkout/pedido?order=M2S5WCXAKD12",
                          "orders_shipments": [
                            {
                              "shipping_type": "papa",
                              "shipping_real_price": "0.00",
                              "shipping_quote_price": "0.00",
                              "package_total_weight": "0.1",
                              "package_length": "16",
                              "package_width": "11",
                              "package_height": "2",
                              "estimated_delivery_date": "0000-00-00",
                              "shipping_delivery_time": "0",
                              "tracking_code": "0",
                              "tracking_url": "0"
                            }
                          ],
                          "orders_products": [
                            {
                              "product_id": "16",
                              "product_sku": "",
                              "product_price": "159.90",
                              "product_qtdy": "1",
                              "product_variant_id": "1",
                              "product_variant_sku": "28TNBJSHH",
                              "product_variant_options": "p|Azul",
                              "product_description": "Relógio",
                              "product_image": "https://lpqv.com.br/image/",
                              "product_url": "https://lpqv.com.br/",
                              "order_product_id": "5"
                            }
                          ],
                          "orders_delivery_address": [
                            {
                              "recipient": "Adriano Marques Vieira",
                              "zip_code": "07094-120",
                              "address": "Rua Adelino Teixeira",
                              "number": "200",
                              "complement": "",
                              "district": "Vila Trabalhista",
                              "city": "Guarulhos",
                              "state": "SP",
                              "country": "BR"
                            }
                          ],
                          "orders_transactions": [
                            {
                              "processor": "test",
                              "amount": "187.90",
                              "discount": null,
                              "status": "created",
                              "transaction_code": "16446531812",
                              "payment_method": "ticket",
                              "created_at": "2021-05-12 15:57:58",
                              "updated_at": "2021-05-12 15:57:58",
                              "payment_url": "https://www.lpqv.com.br/",
                              "ticket_barcode": "1234.1234 1234.1234",
                              "ticket_due_date": "2021-08-20",
                              "installments": "0",
                              "installment_value": "0.00",
                              "pix_qrcode": "",
                              "pix_qrcode_b64": "",
                              "payment_date": "2021-08-17 19:51:41"
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrieves information for all orders.\n\n**Status**\n\nStatus | Meaning\n--------- | ----------\norder_created | Initial order status, no payment has been made\nawaiting_payment | Waiting for payment, normally occurs in orders using bank slip as a payment method\nauthorized_payment | The payment has been authorized but not yet captured or confirmed\npayment_accept | Payment of the order placed and approved, this status is used for order confirmation\nseparating_items | In preparation for shipping\ndispatched | Order dispatched\ndelivered | Delivered to the customer\ncanceled | Order canceled\n\n**Filters**\n\nIf necessary it is possible to send filters, they are informed directly in the request URL as GET.\n\n*Example* - {slug-landingpage}/orders?created_at_min=2022-07-26&created_at_max=2022-07-29&limit=7\n<br><br>\n*Example Pagination* - {slug-landingpage}/orders?created_at_min=2022-07-26&created_at_max=2022-07-29&page=2&per_page=100",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          },
          {
            "schema": {
              "type": "string",
              "example": "2022-01-13"
            },
            "in": "query",
            "name": "created_at_min",
            "description": "Minimum range when data was created (format: 2022-01-13)"
          },
          {
            "schema": {
              "type": "string",
              "example": "2022-01-13"
            },
            "in": "query",
            "name": "created_at_max",
            "description": "Maximum range when data was created (format: 2022-01-13)"
          },
          {
            "schema": {
              "type": "string",
              "example": "10"
            },
            "in": "query",
            "name": "limit",
            "description": "Record limit (format: 10)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "page",
            "description": "Page (format: 1)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "per_page",
            "description": "Number of records per page (format: 100)"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "TOKEN": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token provided for your landing page"
      }
    },
    "parameters": {}
  },
  "security": [
    {
      "TOKEN": []
    }
  ]
}