{
  "openapi": "3.0.0",
  "info": {
    "title": "Produtos",
    "version": "",
    "description": "Por meio dessa referência você pode consultar, atualizar, deletar ou inserir produtos.",
    "contact": {
      "email": "developers@lpquevende.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.lpquevende.com.br/"
    }
  ],
  "paths": {
    "{slug-landingpage}/products": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "description": "prefixo utilizado no domínio",
          "required": true
        }
      ],
      "get": {
        "summary": "Resgatar todos os produtos",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "has_variant": {
                      "type": "string",
                      "minLength": 1
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "product_type": {
                      "type": "string",
                      "minLength": 1
                    },
                    "has_kits": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_seller": {
                      "type": "string",
                      "minLength": 1
                    },
                    "enable_dropshipping": {
                      "type": "string",
                      "minLength": 1
                    },
                    "ncm_code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_condition": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_age_group": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_gender": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_platform": {
                      "type": "string",
                      "minLength": 1
                    },
                    "sku": {
                      "type": "string",
                      "minLength": 1
                    },
                    "bar_code": {
                      "type": "string"
                    },
                    "automatic_stock": {
                      "type": "string",
                      "minLength": 1
                    },
                    "quantity": {
                      "type": "string",
                      "minLength": 1
                    },
                    "weight": {
                      "type": "string",
                      "minLength": 1
                    },
                    "width": {
                      "type": "string",
                      "minLength": 1
                    },
                    "height": {
                      "type": "string",
                      "minLength": 1
                    },
                    "length": {
                      "type": "string",
                      "minLength": 1
                    },
                    "cost_price": {
                      "type": "string",
                      "minLength": 1
                    },
                    "sale_price": {
                      "type": "string",
                      "minLength": 1
                    },
                    "old_price": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_sku": {
                      "type": "string",
                      "minLength": 1
                    },
                    "image_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "variants": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "sku",
                          "bar_code",
                          "automatic_stock",
                          "quantity",
                          "weight",
                          "width",
                          "height",
                          "length",
                          "title",
                          "cost_price",
                          "sale_price",
                          "old_price",
                          "slug",
                          "aliexpress_sku",
                          "image_id"
                        ],
                        "properties": {
                          "sku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "bar_code": {
                            "type": "string",
                            "minLength": 1
                          },
                          "automatic_stock": {
                            "type": "string",
                            "minLength": 1
                          },
                          "quantity": {
                            "type": "string",
                            "minLength": 1
                          },
                          "weight": {
                            "type": "string",
                            "minLength": 1
                          },
                          "width": {
                            "type": "string",
                            "minLength": 1
                          },
                          "height": {
                            "type": "string",
                            "minLength": 1
                          },
                          "length": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cost_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "sale_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "old_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "slug": {
                            "type": "string",
                            "minLength": 1
                          },
                          "aliexpress_sku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "image_id": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "images": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "position",
                          "image"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "position": {
                            "type": "string",
                            "minLength": 1
                          },
                          "image": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "kits": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "quantity",
                          "title",
                          "cost_price",
                          "sale_price",
                          "old_price"
                        ],
                        "properties": {
                          "quantity": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cost_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "sale_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "old_price": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "variants_items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "title",
                          "variant_values"
                        ],
                        "properties": {
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "variant_values": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "has_variant",
                    "status",
                    "title",
                    "product_type",
                    "has_kits",
                    "aliexpress_url",
                    "aliexpress_id",
                    "aliexpress_seller",
                    "enable_dropshipping",
                    "ncm_code",
                    "gshop_condition",
                    "gshop_age_group",
                    "gshop_gender",
                    "video_url",
                    "video_id",
                    "video_platform",
                    "sku",
                    "bar_code",
                    "automatic_stock",
                    "quantity",
                    "weight",
                    "width",
                    "height",
                    "length",
                    "cost_price",
                    "sale_price",
                    "old_price",
                    "slug",
                    "aliexpress_sku",
                    "image_id",
                    "variants",
                    "images",
                    "kits",
                    "variants_items"
                  ]
                },
                "examples": {
                  "Success - Com variação": {
                    "value": {
                      "result": [
                        {
                          "id": "11",
                          "has_variant": "1",
                          "status": "1",
                          "title": "Fones de ouvido com microfone gamer",
                          "product_type": "fisico",
                          "seo_title": "Fones de ouvido com microfone gamer",
                          "seo_desc": "Compatibilidade: Com 3.5mm interface, é adequado para telefone inteligente, tablet pc, laptop, para ps4, para novo xbox one e outros 3.5mm dispositivo de áudio Captador exato microfone: Microfone omnidirecional ajustável, pode pegar sons com grande s",
                          "seo_url": "fones-de-ouvido-com-microfone-gamer",
                          "created_at": "2021-02-24 12:44:00",
                          "updated_at": "2021-04-10 13:24:55",
                          "has_kits": "0",
                          "aliexpress_url": "",
                          "aliexpress_id": "",
                          "aliexpress_seller": "",
                          "enable_dropshipping": "0",
                          "ncm_code": "",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "unisex",
                          "video_url": "",
                          "video_id": "",
                          "video_platform": "",
                          "variants": [
                            {
                              "id": "185",
                              "sku": "IO2UMJTEX",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "1000",
                              "weight": "100",
                              "width": "11",
                              "height": "2",
                              "length": "16",
                              "title": "Preto/Azul",
                              "cost_price": "61.49",
                              "sale_price": "149.90",
                              "old_price": "279.90",
                              "slug": "cor:pretoazul",
                              "aliexpress_sku": "14:173#Blackblue",
                              "image_id": "0",
                              "variant_token": null
                            },
                            {
                              "id": "184",
                              "sku": "SDKO18V57",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "1000",
                              "weight": "100",
                              "width": "11",
                              "height": "2",
                              "length": "16",
                              "title": "Preto/Vermelho",
                              "cost_price": "61.49",
                              "sale_price": "149.90",
                              "old_price": "0.00",
                              "slug": "cor:pretovermelho",
                              "aliexpress_sku": "14:10#Blackred",
                              "image_id": "164",
                              "variant_token": null
                            }
                          ],
                          "variants_items": [],
                          "images": [
                            {
                              "id": "124",
                              "position": "2",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/f8ed1a14674d12fc8bf475866b4b70fe.jpg",
                              "created_at": "2021-03-08 18:18:53",
                              "reference": null
                            },
                            {
                              "id": "125",
                              "position": "3",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/0ba0799757099f4733abafe3e3a31916.jpg",
                              "created_at": "2021-03-08 18:18:53",
                              "reference": null
                            },
                            {
                              "id": "126",
                              "position": "4",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/d24e3b23ce64e4c2bc4df58978af95ef.png",
                              "created_at": "2021-03-08 19:40:01",
                              "reference": null
                            },
                            {
                              "id": "123",
                              "position": "1",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/0dbdfc2cdfbf34b901b1a23da4a060e7.jpg",
                              "created_at": "2021-03-08 14:39:54",
                              "reference": null
                            },
                            {
                              "id": "164",
                              "position": "5",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/cfdac8fe640c1035bdb566302eaff11b.jpg",
                              "created_at": "2021-04-10 13:24:43",
                              "reference": null
                            }
                          ],
                          "kits": [
                            {
                              "quantity": "5",
                              "title": "5 pares",
                              "cost_price": "0.00",
                              "sale_price": "49.90",
                              "old_price": "0.00",
                              "token": ""
                            },
                            {
                              "quantity": "2",
                              "title": "2 pares",
                              "cost_price": "0.00",
                              "sale_price": "28.90",
                              "old_price": "0.00",
                              "token": ""
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Sucesso - Sem variação": {
                    "value": {
                      "result": [
                        {
                          "id": "13",
                          "has_variant": "0",
                          "status": "1",
                          "title": "Brinco geométrico coração de cristal",
                          "product_type": "fisico",
                          "seo_title": "Brinco geométrico coração de cristal",
                          "seo_desc": " Marca: MENGJIQIAO Tipo de Metal: Liga de zinco Estilo: TRENDY Estilo Fino ou Fashion: Moda Tipo de Item: brincos Tipo de Brinco: Gota Formato / Estampa: coração Material: Zirconia Cúbica Gênero: Mulheres ",
                          "seo_url": "brinco-geometrico-coracao-de-cristal",
                          "created_at": "2021-02-24 20:11:12",
                          "updated_at": "2021-04-22 17:56:20",
                          "has_kits": "1",
                          "aliexpress_url": "",
                          "aliexpress_id": "",
                          "aliexpress_seller": "",
                          "enable_dropshipping": "0",
                          "ncm_code": "1235489",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "female",
                          "video_url": "https://www.youtube.com/watch?v=ZbsOutWBisY",
                          "video_id": "ZbsOutWBisY",
                          "video_platform": "",
                          "sku": "0WHAALRON",
                          "bar_code": "",
                          "automatic_stock": "1",
                          "quantity": "1000",
                          "weight": "1",
                          "width": "11",
                          "height": "2",
                          "length": "16",
                          "cost_price": "0.00",
                          "sale_price": "16.54",
                          "old_price": "0.00",
                          "slug": "u",
                          "aliexpress_sku": "",
                          "variant_token": "2a23610d335a22b5df7b72daa0e2289a97439641f7ab337e51777333d615a11c",
                          "variants_items": [],
                          "images": [
                            {
                              "position": "2",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/13/images/d0f28835541c7e7b541f99192b7a069c.jpg",
                              "created_at": "2021-04-22 17:56:15",
                              "reference": null
                            },
                            {
                              "position": "1",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/13/images/506ae336f0ffee000b59a97947f15260.jpg",
                              "created_at": "2021-04-22 17:56:15",
                              "reference": null
                            }
                          ],
                          "kits": [
                            {
                              "quantity": "5",
                              "title": "5 pares",
                              "cost_price": "0.00",
                              "sale_price": "49.90",
                              "old_price": "0.00",
                              "token": ""
                            },
                            {
                              "quantity": "2",
                              "title": "2 pares",
                              "cost_price": "0.00",
                              "sale_price": "28.90",
                              "old_price": "0.00",
                              "token": ""
                            },
                            {
                              "quantity": "1",
                              "title": "1 Par",
                              "cost_price": "0.00",
                              "sale_price": "16.54",
                              "old_price": "0.00",
                              "token": ""
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-slug-landingpage-products",
        "description": "Recupera as informações de todos os produtos.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "post": {
        "summary": "Criar um produto",
        "operationId": "post-slug-landingpage-products",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Error in the past parameters"
                        }
                      ],
                      "status_code": 200,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "message": "Created product",
                          "product": [
                            "array_product"
                          ]
                        }
                      ],
                      "status_code": 201,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Gera um novo registro de produto.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "has_variant": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1
                  },
                  "payment_gateway": {
                    "type": "string",
                    "minLength": 1
                  },
                  "product_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "shipping_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fixed_shipping_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fixed_shipping_time": {
                    "type": "string",
                    "minLength": 1
                  },
                  "seo_title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "seo_desc": {
                    "type": "string",
                    "minLength": 1
                  },
                  "seo_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "created_at": {
                    "type": "string",
                    "minLength": 1
                  },
                  "updated_at": {
                    "type": "string",
                    "minLength": 1
                  },
                  "has_kits": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ordem_exibicao": {},
                  "aliexpress_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_seller": {
                    "type": "string",
                    "minLength": 1
                  },
                  "enable_dropshipping": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ncm_code": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_condition": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_age_group": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_gender": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_url": {},
                  "video_id": {},
                  "video_platform": {},
                  "product_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "automatic_stock": {
                    "type": "string",
                    "minLength": 1
                  },
                  "quantity": {
                    "type": "string",
                    "minLength": 1
                  },
                  "weight": {
                    "type": "string",
                    "minLength": 1
                  },
                  "width": {
                    "type": "string",
                    "minLength": 1
                  },
                  "height": {
                    "type": "string",
                    "minLength": 1
                  },
                  "length": {
                    "type": "string",
                    "minLength": 1
                  },
                  "cost_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sale_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "old_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_sku": {
                    "type": "string"
                  },
                  "image_id": {},
                  "images": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "product_id",
                        "ordem",
                        "foto",
                        "created_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "ordem": {
                          "type": "string",
                          "minLength": 1
                        },
                        "foto": {
                          "type": "string",
                          "minLength": 1
                        },
                        "token_cad": {},
                        "created_at": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "kits": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [],
                      "properties": {}
                    }
                  },
                  "variants": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "product_id",
                        "sku",
                        "bar_code",
                        "automatic_stock",
                        "quantity",
                        "weight",
                        "width",
                        "height",
                        "length",
                        "title",
                        "cost_price",
                        "sale_price",
                        "old_price",
                        "slug",
                        "aliexpress_sku"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "bar_code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "automatic_stock": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "string",
                          "minLength": 1
                        },
                        "weight": {
                          "type": "string",
                          "minLength": 1
                        },
                        "width": {
                          "type": "string",
                          "minLength": 1
                        },
                        "height": {
                          "type": "string",
                          "minLength": 1
                        },
                        "length": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "cost_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sale_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "old_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "slug": {
                          "type": "string",
                          "minLength": 1
                        },
                        "aliexpress_sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "image_id": {}
                      }
                    }
                  },
                  "variants_items": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "product_id",
                        "titulo",
                        "valores"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "titulo": {
                          "type": "string",
                          "minLength": 1
                        },
                        "valores": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  }
                },
                "required": [
                  "id",
                  "has_variant",
                  "status",
                  "title",
                  "description",
                  "payment_gateway",
                  "product_type",
                  "shipping_type",
                  "fixed_shipping_price",
                  "fixed_shipping_time",
                  "seo_title",
                  "seo_desc",
                  "seo_url",
                  "created_at",
                  "updated_at",
                  "has_kits",
                  "aliexpress_url",
                  "aliexpress_id",
                  "aliexpress_seller",
                  "enable_dropshipping",
                  "ncm_code",
                  "gshop_condition",
                  "gshop_age_group",
                  "gshop_gender",
                  "product_id",
                  "sku",
                  "automatic_stock",
                  "quantity",
                  "weight",
                  "width",
                  "height",
                  "length",
                  "cost_price",
                  "sale_price",
                  "old_price",
                  "slug",
                  "aliexpress_sku",
                  "images",
                  "kits",
                  "variants",
                  "variants_items"
                ]
              },
              "examples": {
                "Com variação": {
                  "value": {
                    "has_variant": "1",
                    "status": "string",
                    "title": "string",
                    "payment_gateway": "string",
                    "product_type": "string",
                    "has_kits": "string",
                    "aliexpress_url": "string",
                    "aliexpress_id": "string",
                    "aliexpress_seller": "string",
                    "enable_dropshipping": "string",
                    "ncm_code": "string",
                    "gshop_condition": "string",
                    "gshop_age_group": "string",
                    "gshop_gender": "string",
                    "video_url": "string",
                    "video_id": "string",
                    "video_platform": "string",
                    "images": [
                      {
                        "id": "string",
                        "position": "string",
                        "image": "string"
                      }
                    ],
                    "kits": [
                      {
                        "quantity": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string"
                      }
                    ],
                    "variants": [
                      {
                        "sku": "string",
                        "bar_code": "string",
                        "automatic_stock": "string",
                        "quantity": "string",
                        "weight": "string",
                        "width": "string",
                        "height": "string",
                        "length": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string",
                        "slug": "string",
                        "aliexpress_sku": "string",
                        "image_id": "string"
                      }
                    ],
                    "variants_items": [
                      {
                        "title": "string",
                        "variant_values": "string,string"
                      }
                    ]
                  }
                },
                "Sem variação": {
                  "value": {
                    "has_variant": "0",
                    "status": "string",
                    "title": "string",
                    "payment_gateway": "string",
                    "product_type": "string",
                    "has_kits": "string",
                    "aliexpress_url": "string",
                    "aliexpress_id": "string",
                    "aliexpress_seller": "string",
                    "enable_dropshipping": "string",
                    "ncm_code": "string",
                    "gshop_condition": "string",
                    "gshop_age_group": "string",
                    "gshop_gender": "string",
                    "video_url": "string",
                    "video_id": "string",
                    "video_platform": "string",
                    "sku": "string",
                    "automatic_stock": "string",
                    "quantity": "string",
                    "weight": "string",
                    "width": "string",
                    "height": "string",
                    "length": "string",
                    "cost_price": "string",
                    "sale_price": "string",
                    "old_price": "string",
                    "slug": "string",
                    "aliexpress_sku": "string",
                    "image_id": "string",
                    "images": [
                      {
                        "id": "string",
                        "product_id": "string",
                        "ordem": "string",
                        "foto": "string",
                        "token_cad": null,
                        "created_at": "string"
                      }
                    ],
                    "kits": [
                      {
                        "quantity": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Verificar o corpo da requisição (produto com ou sem variação **{has_variant}**)"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    },
    "{slug-landingpage}/products/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "required": true,
          "description": "prefixo utilizado no domínio"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID do produto"
        }
      ],
      "put": {
        "summary": "Atualizar um produto",
        "operationId": "put-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "message": "Product update",
                          "product": [
                            "array_product"
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Product not updated"
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Atualiza as informações do produto com o ID do produto correspondente.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "has_variant": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "product_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "has_kits": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_seller": {
                    "type": "string",
                    "minLength": 1
                  },
                  "enable_dropshipping": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ncm_code": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_condition": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_age_group": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_gender": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_platform": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "bar_code": {
                    "type": "string"
                  },
                  "automatic_stock": {
                    "type": "string",
                    "minLength": 1
                  },
                  "quantity": {
                    "type": "string",
                    "minLength": 1
                  },
                  "weight": {
                    "type": "string",
                    "minLength": 1
                  },
                  "width": {
                    "type": "string",
                    "minLength": 1
                  },
                  "height": {
                    "type": "string",
                    "minLength": 1
                  },
                  "length": {
                    "type": "string",
                    "minLength": 1
                  },
                  "cost_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sale_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "old_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_sku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "image_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "variants": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "sku",
                        "bar_code",
                        "automatic_stock",
                        "quantity",
                        "weight",
                        "width",
                        "height",
                        "length",
                        "title",
                        "cost_price",
                        "sale_price",
                        "old_price",
                        "slug",
                        "aliexpress_sku",
                        "image_id"
                      ],
                      "properties": {
                        "sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "bar_code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "automatic_stock": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "string",
                          "minLength": 1
                        },
                        "weight": {
                          "type": "string",
                          "minLength": 1
                        },
                        "width": {
                          "type": "string",
                          "minLength": 1
                        },
                        "height": {
                          "type": "string",
                          "minLength": 1
                        },
                        "length": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "cost_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sale_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "old_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "slug": {
                          "type": "string",
                          "minLength": 1
                        },
                        "aliexpress_sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "image_id": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "images": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "position",
                        "image"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "position": {
                          "type": "string",
                          "minLength": 1
                        },
                        "image": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "kits": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "quantity",
                        "title",
                        "cost_price",
                        "sale_price",
                        "old_price"
                      ],
                      "properties": {
                        "quantity": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "cost_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sale_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "old_price": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "variants_items": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "title",
                        "variant_values"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "variant_values": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  }
                },
                "required": [
                  "has_variant",
                  "status",
                  "title",
                  "product_type",
                  "has_kits",
                  "aliexpress_url",
                  "aliexpress_id",
                  "aliexpress_seller",
                  "enable_dropshipping",
                  "ncm_code",
                  "gshop_condition",
                  "gshop_age_group",
                  "gshop_gender",
                  "video_url",
                  "video_id",
                  "video_platform",
                  "sku",
                  "bar_code",
                  "automatic_stock",
                  "quantity",
                  "weight",
                  "width",
                  "height",
                  "length",
                  "cost_price",
                  "sale_price",
                  "old_price",
                  "slug",
                  "aliexpress_sku",
                  "image_id",
                  "variants",
                  "images",
                  "kits",
                  "variants_items"
                ]
              },
              "examples": {
                "Com variação": {
                  "value": {
                    "id": "string",
                    "has_variant": "string",
                    "status": "string",
                    "title": "string",
                    "description": "string",
                    "payment_gateway": "string",
                    "product_type": "string",
                    "shipping_type": "string",
                    "fixed_shipping_price": "string",
                    "fixed_shipping_time": "string",
                    "seo_title": "string",
                    "seo_desc": "string",
                    "seo_url": "string",
                    "created_at": "string",
                    "updated_at": "string",
                    "has_kits": "string",
                    "aliexpress_url": "string",
                    "aliexpress_id": "string",
                    "aliexpress_seller": "string",
                    "enable_dropshipping": "string",
                    "ncm_code": "string",
                    "gshop_condition": "string",
                    "gshop_age_group": "string",
                    "gshop_gender": "string",
                    "video_url": null,
                    "video_id": null,
                    "video_platform": null,
                    "images": [
                      {
                        "ordem": "string",
                        "foto": "string",
                        "created_at": "string"
                      }
                    ],
                    "kits": [
                      {
                        "quantity": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string"
                      }
                    ],
                    "variants": [
                      {
                        "sku": "string",
                        "bar_code": "string",
                        "automatic_stock": "string",
                        "quantity": "string",
                        "weight": "string",
                        "width": "string",
                        "height": "string",
                        "length": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string",
                        "slug": "string",
                        "aliexpress_sku": "string",
                        "image_id": "string"
                      }
                    ],
                    "variants_items": [
                      {
                        "title": "string",
                        "variant_values": "string"
                      }
                    ]
                  }
                },
                "Sem variação": {
                  "value": {
                    "id": "string",
                    "has_variant": "string",
                    "status": "string",
                    "title": "string",
                    "description": "string",
                    "payment_gateway": "string",
                    "product_type": "string",
                    "shipping_type": "string",
                    "fixed_shipping_price": "string",
                    "fixed_shipping_time": "string",
                    "seo_title": "string",
                    "seo_desc": "string",
                    "seo_url": "string",
                    "created_at": "string",
                    "updated_at": "string",
                    "has_kits": "string",
                    "aliexpress_url": "string",
                    "aliexpress_id": "string",
                    "aliexpress_seller": "string",
                    "enable_dropshipping": "string",
                    "ncm_code": "string",
                    "gshop_condition": "string",
                    "gshop_age_group": "string",
                    "gshop_gender": "string",
                    "video_url": null,
                    "video_id": null,
                    "video_platform": null,
                    "sku": "string",
                    "bar_code": "string",
                    "automatic_stock": "string",
                    "quantity": "string",
                    "weight": "string",
                    "width": "string",
                    "height": "string",
                    "length": "string",
                    "cost_price": "string",
                    "sale_price": "string",
                    "old_price": "string",
                    "slug": "string",
                    "aliexpress_sku": "string",
                    "image_id": "string",
                    "images": [
                      {
                        "ordem": "string",
                        "foto": "string",
                        "created_at": "string"
                      }
                    ],
                    "kits": [
                      {
                        "quantity": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Verificar o corpo da requisição (produto com ou sem variação **{has_variant}**)"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "delete": {
        "summary": "Deletar um produto",
        "operationId": "delete-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "message": "Product removed"
                        }
                      ],
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "There is no product to delete"
                        }
                      ],
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Deleta o produto com o ID do produto correspondente.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "get": {
        "summary": "Resgatar um produto",
        "operationId": "get-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "has_variant": {
                      "type": "string",
                      "minLength": 1
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "product_type": {
                      "type": "string",
                      "minLength": 1
                    },
                    "has_kits": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_seller": {
                      "type": "string",
                      "minLength": 1
                    },
                    "enable_dropshipping": {
                      "type": "string",
                      "minLength": 1
                    },
                    "ncm_code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_condition": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_age_group": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_gender": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_platform": {
                      "type": "string",
                      "minLength": 1
                    },
                    "sku": {
                      "type": "string",
                      "minLength": 1
                    },
                    "bar_code": {
                      "type": "string"
                    },
                    "automatic_stock": {
                      "type": "string",
                      "minLength": 1
                    },
                    "quantity": {
                      "type": "string",
                      "minLength": 1
                    },
                    "weight": {
                      "type": "string",
                      "minLength": 1
                    },
                    "width": {
                      "type": "string",
                      "minLength": 1
                    },
                    "height": {
                      "type": "string",
                      "minLength": 1
                    },
                    "length": {
                      "type": "string",
                      "minLength": 1
                    },
                    "cost_price": {
                      "type": "string",
                      "minLength": 1
                    },
                    "sale_price": {
                      "type": "string",
                      "minLength": 1
                    },
                    "old_price": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_sku": {
                      "type": "string",
                      "minLength": 1
                    },
                    "image_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "variants": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "sku",
                          "bar_code",
                          "automatic_stock",
                          "quantity",
                          "weight",
                          "width",
                          "height",
                          "length",
                          "title",
                          "cost_price",
                          "sale_price",
                          "old_price",
                          "slug",
                          "aliexpress_sku",
                          "image_id"
                        ],
                        "properties": {
                          "sku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "bar_code": {
                            "type": "string",
                            "minLength": 1
                          },
                          "automatic_stock": {
                            "type": "string",
                            "minLength": 1
                          },
                          "quantity": {
                            "type": "string",
                            "minLength": 1
                          },
                          "weight": {
                            "type": "string",
                            "minLength": 1
                          },
                          "width": {
                            "type": "string",
                            "minLength": 1
                          },
                          "height": {
                            "type": "string",
                            "minLength": 1
                          },
                          "length": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cost_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "sale_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "old_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "slug": {
                            "type": "string",
                            "minLength": 1
                          },
                          "aliexpress_sku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "image_id": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "images": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "position",
                          "image"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "position": {
                            "type": "string",
                            "minLength": 1
                          },
                          "image": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "kits": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "quantity",
                          "title",
                          "cost_price",
                          "sale_price",
                          "old_price"
                        ],
                        "properties": {
                          "quantity": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cost_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "sale_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "old_price": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "variants_items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "title",
                          "variant_values"
                        ],
                        "properties": {
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "variant_values": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "has_variant",
                    "status",
                    "title",
                    "product_type",
                    "has_kits",
                    "aliexpress_url",
                    "aliexpress_id",
                    "aliexpress_seller",
                    "enable_dropshipping",
                    "ncm_code",
                    "gshop_condition",
                    "gshop_age_group",
                    "gshop_gender",
                    "video_url",
                    "video_id",
                    "video_platform",
                    "sku",
                    "bar_code",
                    "automatic_stock",
                    "quantity",
                    "weight",
                    "width",
                    "height",
                    "length",
                    "cost_price",
                    "sale_price",
                    "old_price",
                    "slug",
                    "aliexpress_sku",
                    "image_id",
                    "variants",
                    "images",
                    "kits",
                    "variants_items"
                  ]
                },
                "examples": {
                  "Success - Com variação": {
                    "value": {
                      "result": [
                        {
                          "id": "11",
                          "has_variant": "1",
                          "status": "1",
                          "title": "Fones de ouvido com microfone gamer",
                          "product_type": "fisico",
                          "seo_title": "Fones de ouvido com microfone gamer",
                          "seo_desc": "Compatibilidade: Com 3.5mm interface, é adequado para telefone inteligente, tablet pc, laptop, para ps4, para novo xbox one e outros 3.5mm dispositivo de áudio Captador exato microfone: Microfone omnidirecional ajustável, pode pegar sons com grande s",
                          "seo_url": "fones-de-ouvido-com-microfone-gamer",
                          "created_at": "2021-02-24 12:44:00",
                          "updated_at": "2021-04-10 13:24:55",
                          "has_kits": "0",
                          "aliexpress_url": "",
                          "aliexpress_id": "",
                          "aliexpress_seller": "",
                          "enable_dropshipping": "0",
                          "ncm_code": "",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "unisex",
                          "video_url": "",
                          "video_id": "",
                          "video_platform": "",
                          "variants": [
                            {
                              "id": "185",
                              "sku": "IO2UMJTEX",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "1000",
                              "weight": "100",
                              "width": "11",
                              "height": "2",
                              "length": "16",
                              "title": "Preto/Azul",
                              "cost_price": "61.49",
                              "sale_price": "149.90",
                              "old_price": "279.90",
                              "slug": "cor:pretoazul",
                              "aliexpress_sku": "14:173#Blackblue",
                              "image_id": "0",
                              "variant_token": null
                            },
                            {
                              "id": "184",
                              "sku": "SDKO18V57",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "1000",
                              "weight": "100",
                              "width": "11",
                              "height": "2",
                              "length": "16",
                              "title": "Preto/Vermelho",
                              "cost_price": "61.49",
                              "sale_price": "149.90",
                              "old_price": "0.00",
                              "slug": "cor:pretovermelho",
                              "aliexpress_sku": "14:10#Blackred",
                              "image_id": "164",
                              "variant_token": null
                            }
                          ],
                          "variants_items": [],
                          "images": [
                            {
                              "id": "124",
                              "position": "2",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/f8ed1a14674d12fc8bf475866b4b70fe.jpg",
                              "created_at": "2021-03-08 18:18:53",
                              "reference": null
                            },
                            {
                              "id": "125",
                              "position": "3",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/0ba0799757099f4733abafe3e3a31916.jpg",
                              "created_at": "2021-03-08 18:18:53",
                              "reference": null
                            },
                            {
                              "id": "126",
                              "position": "4",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/d24e3b23ce64e4c2bc4df58978af95ef.png",
                              "created_at": "2021-03-08 19:40:01",
                              "reference": null
                            },
                            {
                              "id": "123",
                              "position": "1",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/0dbdfc2cdfbf34b901b1a23da4a060e7.jpg",
                              "created_at": "2021-03-08 14:39:54",
                              "reference": null
                            },
                            {
                              "id": "164",
                              "position": "5",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/11/images/cfdac8fe640c1035bdb566302eaff11b.jpg",
                              "created_at": "2021-04-10 13:24:43",
                              "reference": null
                            }
                          ],
                          "kits": [
                            {
                              "quantity": "5",
                              "title": "5 pares",
                              "cost_price": "0.00",
                              "sale_price": "49.90",
                              "old_price": "0.00",
                              "token": ""
                            },
                            {
                              "quantity": "2",
                              "title": "2 pares",
                              "cost_price": "0.00",
                              "sale_price": "28.90",
                              "old_price": "0.00",
                              "token": ""
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Sucesso - Sem variação": {
                    "value": {
                      "result": [
                        {
                          "id": "13",
                          "has_variant": "0",
                          "status": "1",
                          "title": "Brinco geométrico coração de cristal",
                          "product_type": "fisico",
                          "seo_title": "Brinco geométrico coração de cristal",
                          "seo_desc": " Marca: MENGJIQIAO Tipo de Metal: Liga de zinco Estilo: TRENDY Estilo Fino ou Fashion: Moda Tipo de Item: brincos Tipo de Brinco: Gota Formato / Estampa: coração Material: Zirconia Cúbica Gênero: Mulheres ",
                          "seo_url": "brinco-geometrico-coracao-de-cristal",
                          "created_at": "2021-02-24 20:11:12",
                          "updated_at": "2021-04-22 17:56:20",
                          "has_kits": "1",
                          "aliexpress_url": "",
                          "aliexpress_id": "",
                          "aliexpress_seller": "",
                          "enable_dropshipping": "0",
                          "ncm_code": "1235489",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "female",
                          "video_url": "https://www.youtube.com/watch?v=ZbsOutWBisY",
                          "video_id": "ZbsOutWBisY",
                          "video_platform": "",
                          "sku": "0WHAALRON",
                          "bar_code": "",
                          "automatic_stock": "1",
                          "quantity": "1000",
                          "weight": "1",
                          "width": "11",
                          "height": "2",
                          "length": "16",
                          "cost_price": "0.00",
                          "sale_price": "16.54",
                          "old_price": "0.00",
                          "slug": "u",
                          "aliexpress_sku": "",
                          "variant_token": "2a23610d335a22b5df7b72daa0e2289a97439641f7ab337e51777333d615a11c",
                          "variants_items": [],
                          "images": [
                            {
                              "position": "2",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/13/images/d0f28835541c7e7b541f99192b7a069c.jpg",
                              "created_at": "2021-04-22 17:56:15",
                              "reference": null
                            },
                            {
                              "position": "1",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/13/images/506ae336f0ffee000b59a97947f15260.jpg",
                              "created_at": "2021-04-22 17:56:15",
                              "reference": null
                            }
                          ],
                          "kits": [
                            {
                              "quantity": "5",
                              "title": "5 pares",
                              "cost_price": "0.00",
                              "sale_price": "49.90",
                              "old_price": "0.00",
                              "token": ""
                            },
                            {
                              "quantity": "2",
                              "title": "2 pares",
                              "cost_price": "0.00",
                              "sale_price": "28.90",
                              "old_price": "0.00",
                              "token": ""
                            },
                            {
                              "quantity": "1",
                              "title": "1 Par",
                              "cost_price": "0.00",
                              "sale_price": "16.54",
                              "old_price": "0.00",
                              "token": ""
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Recupera as informações do produto com o ID do produto correspondente.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "TOKEN": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token fornecido para a sua landingpage"
      }
    },
    "parameters": {}
  },
  "security": [
    {
      "TOKEN": []
    }
  ]
}