{
  "openapi": "3.0.0",
  "info": {
    "title": "Produtos",
    "version": "",
    "description": "Por meio dessa referência você pode consultar, atualizar, deletar ou inserir produtos.",
    "contact": {
      "email": "developers@lpquevende.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.lpquevende.com.br/"
    }
  ],
  "paths": {
    "{slug-landingpage}/products": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "description": "prefixo utilizado no domínio",
          "required": true
        }
      ],
      "get": {
        "summary": "Resgatar todos os produtos",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "has_variant": {
                      "type": "string",
                      "minLength": 1,
                      "description": "produto com variação: 1 | sem variação: 0"
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "product_type": {
                      "type": "string",
                      "minLength": 1
                    },
                    "has_kits": {
                      "type": "string",
                      "minLength": 1,
                      "description": "produto com kit: 1 | sem kit: 0"
                    },
                    "aliexpress_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_seller": {
                      "type": "string",
                      "minLength": 1
                    },
                    "enable_dropshipping": {
                      "type": "string",
                      "minLength": 1
                    },
                    "ncm_code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_condition": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_age_group": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_gender": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_platform": {
                      "type": "string",
                      "minLength": 1
                    },
                    "sku": {
                      "type": "string",
                      "minLength": 1
                    },
                    "bar_code": {
                      "type": "string"
                    },
                    "automatic_stock": {
                      "type": "string",
                      "minLength": 1
                    },
                    "quantity": {
                      "type": "string",
                      "minLength": 1
                    },
                    "weight": {
                      "type": "string",
                      "minLength": 1
                    },
                    "width": {
                      "type": "string",
                      "minLength": 1
                    },
                    "height": {
                      "type": "string",
                      "minLength": 1
                    },
                    "length": {
                      "type": "string",
                      "minLength": 1
                    },
                    "cost_price": {
                      "description": "double (0.00)",
                      "type": "string"
                    },
                    "sale_price": {
                      "type": "string",
                      "minLength": 1,
                      "description": "double (0.00)"
                    },
                    "old_price": {
                      "type": "string",
                      "minLength": 1,
                      "description": "double (0.00)"
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_sku": {
                      "type": "string",
                      "minLength": 1
                    },
                    "image_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "variants": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "bar_code": {
                            "type": "string",
                            "minLength": 1
                          },
                          "automatic_stock": {
                            "type": "string",
                            "minLength": 1
                          },
                          "quantity": {
                            "type": "string",
                            "minLength": 1
                          },
                          "weight": {
                            "type": "string",
                            "minLength": 1
                          },
                          "width": {
                            "type": "string",
                            "minLength": 1
                          },
                          "height": {
                            "type": "string",
                            "minLength": 1
                          },
                          "length": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cost_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "sale_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "old_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "slug": {
                            "type": "string",
                            "minLength": 1
                          },
                          "aliexpress_sku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "image_id": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "images": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "position": {
                            "type": "string",
                            "minLength": 1
                          },
                          "image": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "kits": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cost_price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "sale_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "old_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          }
                        }
                      }
                    },
                    "variants_items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "description": "double (0.00)",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "variant_values": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "has_variant",
                    "has_kits"
                  ]
                },
                "examples": {
                  "Success - Com variação": {
                    "value": {
                      "result": [
                        {
                          "id": "35",
                          "has_variant": "1",
                          "status": "1",
                          "title": "Teste Com Variação",
                          "product_type": "fisico",
                          "seo_title": "Ellos design - Criação de Sites",
                          "seo_desc": "Criação de Sites e Marketing Digital",
                          "seo_url": "teste-com-variacao",
                          "created_at": "2021-04-15 17:38:47",
                          "updated_at": null,
                          "has_kits": "1",
                          "aliexpress_url": "",
                          "aliexpress_id": "",
                          "aliexpress_seller": "",
                          "enable_dropshipping": "0",
                          "ncm_code": "",
                          "gshop_condition": "",
                          "gshop_age_group": "",
                          "gshop_gender": "",
                          "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                          "video_id": "1RnyZRpDSEc",
                          "video_platform": "",
                          "variants": [
                            {
                              "id": "220",
                              "sku": "",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "M|Azul",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:m|cor:azul",
                              "aliexpress_sku": "",
                              "image_id": "222",
                              "variant_token": null
                            },
                            {
                              "id": "221",
                              "sku": "",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "M|Preto",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:m|cor:preto",
                              "aliexpress_sku": "",
                              "image_id": "223",
                              "variant_token": null
                            },
                            {
                              "id": "222",
                              "sku": "",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "p|Azul",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:p|cor:azul",
                              "aliexpress_sku": "",
                              "image_id": "224",
                              "variant_token": null
                            },
                            {
                              "id": "223",
                              "sku": "60123OITO",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "p|Preto",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:p|cor:preto",
                              "aliexpress_sku": "",
                              "image_id": "224",
                              "variant_token": null
                            }
                          ],
                          "variants_items": [
                            {
                              "id": "50",
                              "title": "Cor",
                              "variant_values": "Azul,Preto"
                            },
                            {
                              "id": "51",
                              "title": "Tamanho",
                              "variant_values": "p,m"
                            }
                          ],
                          "images": [
                            {
                              "id": "223",
                              "position": "1",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/35/images/5df272b363bf992823c35a17c81a1b64.jpg",
                              "created_at": "2021-04-15 17:38:49",
                              "reference": "2"
                            },
                            {
                              "id": "222",
                              "position": "2",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/35/images/a1bc77d046ab1b99479e1a826e62fb22.jpg",
                              "created_at": "2021-04-15 17:38:49",
                              "reference": "1"
                            },
                            {
                              "id": "224",
                              "position": "3",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/35/images/97b93073c2c8e471a99f8120d480a0cd.jpg",
                              "created_at": "2021-04-15 17:38:49",
                              "reference": "3"
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Sucesso - Sem variação": {
                    "value": {
                      "result": [
                        {
                          "id": "36",
                          "has_variant": "0",
                          "status": "1",
                          "title": "Mini bolsa de couro bolsa de ombro feminina bolsa de mão crossbody",
                          "product_type": "fisico",
                          "seo_title": "Mini bolsa de couro bolsa de ombro feminina bolsa de mão crossbody",
                          "seo_desc": "Mini bolsa de couro bolsa de ombro feminina bolsa de mão crossbody ",
                          "seo_url": "mini-bolsa-de-couro-bolsa-de-ombro-feminina-bolsa-de-mao-crossbody",
                          "created_at": "2021-04-20 18:21:48",
                          "updated_at": "2021-04-23 15:16:42",
                          "has_kits": "1",
                          "aliexpress_url": "",
                          "aliexpress_id": "",
                          "aliexpress_seller": "",
                          "enable_dropshipping": "0",
                          "ncm_code": "1254788",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "female",
                          "video_url": "",
                          "video_id": "",
                          "video_platform": "",
                          "sku": "ZHF2WXWFJ",
                          "bar_code": "1255889955",
                          "automatic_stock": "1",
                          "quantity": "250",
                          "weight": "120",
                          "width": "11",
                          "height": "2",
                          "length": "16",
                          "cost_price": "0.00",
                          "sale_price": "99.90",
                          "old_price": "0.00",
                          "slug": "u",
                          "aliexpress_sku": "",
                          "variant_token": "2a23610d335a22b5df7b72daa0e2289a97439641f7ab337e51777333d615a11c",
                          "images": [
                            {
                              "position": "1",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/36/images/ea9642a093c2b2ce3813891f8af191ee.png",
                              "created_at": "2021-04-22 10:05:39",
                              "reference": null
                            },
                            {
                              "position": "2",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/36/images/aa1945c8dbb03c0833aa1d049eeda786.png",
                              "created_at": "2021-04-22 10:05:39",
                              "reference": null
                            },
                            {
                              "position": "3",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/36/images/585f9221a22a9805a64f382274d91190.png",
                              "created_at": "2021-04-22 10:05:39",
                              "reference": null
                            },
                            {
                              "position": "4",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/36/images/56415b9c015966c9a1bf289cff6f7956.png",
                              "created_at": "2021-04-22 10:05:39",
                              "reference": null
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-slug-landingpage-products",
        "description": "Recupera as informações de todos os produtos e suas dependências.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "post": {
        "summary": "Criar um produto",
        "operationId": "post-slug-landingpage-products",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Error in the past parameters"
                        }
                      ],
                      "status_code": 200,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          },
                          "product": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "message": "Created product",
                          "product": [
                            "array_product"
                          ]
                        }
                      ],
                      "status_code": 201,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Gera um novo registro de produto e de suas dependências.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "has_variant": {
                    "type": "string",
                    "minLength": 1,
                    "description": "produto com variação: 1 | sem variação: 0"
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "product_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "has_kits": {
                    "type": "string",
                    "minLength": 1,
                    "description": "produto com kit: 1 | sem kit: 0"
                  },
                  "aliexpress_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_seller": {
                    "type": "string",
                    "minLength": 1
                  },
                  "enable_dropshipping": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ncm_code": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_condition": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_age_group": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_gender": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_platform": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "bar_code": {
                    "type": "string"
                  },
                  "automatic_stock": {
                    "type": "string",
                    "minLength": 1
                  },
                  "quantity": {
                    "type": "string",
                    "minLength": 1
                  },
                  "weight": {
                    "type": "string",
                    "minLength": 1
                  },
                  "width": {
                    "type": "string",
                    "minLength": 1
                  },
                  "height": {
                    "type": "string",
                    "minLength": 1
                  },
                  "length": {
                    "type": "string",
                    "minLength": 1
                  },
                  "cost_price": {
                    "type": "string",
                    "minLength": 1,
                    "description": "double (0.00)"
                  },
                  "sale_price": {
                    "type": "string",
                    "minLength": 1,
                    "description": "double (0.00)"
                  },
                  "old_price": {
                    "type": "string",
                    "minLength": 1,
                    "description": "double (0.00)"
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_sku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "image_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "variants": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "bar_code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "automatic_stock": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "string",
                          "minLength": 1
                        },
                        "weight": {
                          "type": "string",
                          "minLength": 1
                        },
                        "width": {
                          "type": "string",
                          "minLength": 1
                        },
                        "height": {
                          "type": "string",
                          "minLength": 1
                        },
                        "length": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "cost_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "sale_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "old_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "slug": {
                          "type": "string",
                          "minLength": 1
                        },
                        "aliexpress_sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "image_id": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "images": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "position": {
                          "type": "string",
                          "minLength": 1
                        },
                        "image": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "kits": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "quantity": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "cost_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "sale_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "old_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        }
                      }
                    }
                  },
                  "variants_items": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "variant_values": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  }
                },
                "required": [
                  "has_variant",
                  "has_kits"
                ]
              },
              "examples": {
                "Com variação": {
                  "value": {
                    "has_variant": "1",
                    "status": "1",
                    "title": "Teste Com Variação",
                    "product_type": "fisico",
                    "has_kits": "1",
                    "aliexpress_url": "1",
                    "aliexpress_id": "2",
                    "aliexpress_seller": "3",
                    "enable_dropshipping": "0",
                    "ncm_code": "4",
                    "gshop_condition": "1",
                    "gshop_age_group": "2",
                    "gshop_gender": "3",
                    "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                    "video_id": "1RnyZRpDSEc",
                    "video_platform": "YouTube",
                    "variants": [
                      {
                        "sku": "123",
                        "bar_code": "1234",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "M|Azul",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:m|cor:azul",
                        "aliexpress_sku": "12345",
                        "image_id": "1"
                      },
                      {
                        "sku": "",
                        "bar_code": "",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "M|Preto",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:m|cor:preto",
                        "aliexpress_sku": "",
                        "image_id": "2"
                      },
                      {
                        "sku": "",
                        "bar_code": "",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "p|Azul",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:p|cor:azul",
                        "aliexpress_sku": "",
                        "image_id": "3"
                      },
                      {
                        "sku": "60123OITO",
                        "bar_code": "",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "p|Preto",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:p|cor:preto",
                        "aliexpress_sku": "",
                        "image_id": "3"
                      }
                    ],
                    "images": [
                      {
                        "id": "1",
                        "position": "2",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      },
                      {
                        "id": "2",
                        "position": "1",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      },
                      {
                        "id": "3",
                        "position": "3",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      }
                    ],
                    "kits": [
                      {
                        "quantity": "2",
                        "title": "2",
                        "cost_price": "20.00",
                        "sale_price": "30.00",
                        "old_price": "25.00"
                      }
                    ],
                    "variants_items": [
                      {
                        "title": "Cor",
                        "variant_values": "Azul,Preto"
                      },
                      {
                        "title": "Tamanho",
                        "variant_values": "p,m"
                      }
                    ]
                  }
                },
                "Sem variação": {
                  "value": {
                    "has_variant": "0",
                    "status": "1",
                    "title": "Teste Sem Variação",
                    "product_type": "fisico",
                    "has_kits": "1",
                    "aliexpress_url": "1",
                    "aliexpress_id": "2",
                    "aliexpress_seller": "3",
                    "enable_dropshipping": "0",
                    "ncm_code": "4",
                    "gshop_condition": "1",
                    "gshop_age_group": "2",
                    "gshop_gender": "3",
                    "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                    "video_id": "1RnyZRpDSEc",
                    "video_platform": "YouTube",
                    "sku": "123",
                    "bar_code": "",
                    "automatic_stock": "1",
                    "quantity": "2",
                    "weight": "0",
                    "width": "0",
                    "height": "0",
                    "length": "0",
                    "cost_price": "0.00",
                    "sale_price": "60.00",
                    "old_price": "0.00",
                    "slug": "tamanho:m|cor:azul",
                    "aliexpress_sku": "12345",
                    "image_id": "1",
                    "images": [
                      {
                        "id": "1",
                        "position": "2",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      },
                      {
                        "id": "2",
                        "position": "1",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      },
                      {
                        "id": "3",
                        "position": "3",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Verificar o corpo da requisição (produto com variação (1) ou sem variação (0) **{has_variant}**)"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    },
    "{slug-landingpage}/products/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "required": true,
          "description": "prefixo utilizado no domínio"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID do produto"
        }
      ],
      "put": {
        "summary": "Atualizar um produto",
        "operationId": "put-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          },
                          "product": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "message": "Product update",
                          "product": [
                            "array_product"
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Product not updated"
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Atualiza as informações do produto e suas dependências com o ID do produto correspondente.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "has_variant": {
                    "type": "string",
                    "minLength": 1,
                    "description": "produto com variação: 1 | sem variação: 0"
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "product_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "has_kits": {
                    "type": "string",
                    "minLength": 1,
                    "description": "produto com kit: 1 | sem kit: 0"
                  },
                  "aliexpress_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_seller": {
                    "type": "string",
                    "minLength": 1
                  },
                  "enable_dropshipping": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ncm_code": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_condition": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_age_group": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_gender": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_platform": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "bar_code": {
                    "type": "string"
                  },
                  "automatic_stock": {
                    "type": "string",
                    "minLength": 1
                  },
                  "quantity": {
                    "type": "string",
                    "minLength": 1
                  },
                  "weight": {
                    "type": "string",
                    "minLength": 1
                  },
                  "width": {
                    "type": "string",
                    "minLength": 1
                  },
                  "height": {
                    "type": "string",
                    "minLength": 1
                  },
                  "length": {
                    "type": "string",
                    "minLength": 1
                  },
                  "cost_price": {
                    "type": "string",
                    "minLength": 1,
                    "description": "double (0.00)"
                  },
                  "sale_price": {
                    "type": "string",
                    "minLength": 1,
                    "description": "double (0.00)"
                  },
                  "old_price": {
                    "type": "string",
                    "minLength": 1,
                    "description": "double (0.00)"
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_sku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "image_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "variants": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "bar_code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "automatic_stock": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "string",
                          "minLength": 1
                        },
                        "weight": {
                          "type": "string",
                          "minLength": 1
                        },
                        "width": {
                          "type": "string",
                          "minLength": 1
                        },
                        "height": {
                          "type": "string",
                          "minLength": 1
                        },
                        "length": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "cost_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "sale_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "old_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "slug": {
                          "type": "string",
                          "minLength": 1
                        },
                        "aliexpress_sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "image_id": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "images": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "position": {
                          "type": "string",
                          "minLength": 1
                        },
                        "image": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "kits": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "quantity": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "cost_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "sale_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        },
                        "old_price": {
                          "type": "string",
                          "minLength": 1,
                          "description": "double (0.00)"
                        }
                      }
                    }
                  },
                  "variants_items": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "variant_values": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  }
                },
                "required": [
                  "has_variant"
                ]
              },
              "examples": {
                "Com variação": {
                  "value": {
                    "has_variant": "1",
                    "status": "1",
                    "title": "Teste Com Variação",
                    "product_type": "fisico",
                    "has_kits": "1",
                    "aliexpress_url": "1",
                    "aliexpress_id": "2",
                    "aliexpress_seller": "3",
                    "enable_dropshipping": "0",
                    "ncm_code": "4",
                    "gshop_condition": "1",
                    "gshop_age_group": "2",
                    "gshop_gender": "3",
                    "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                    "video_id": "1RnyZRpDSEc",
                    "video_platform": "YouTube",
                    "variants": [
                      {
                        "sku": "123",
                        "bar_code": "1234",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "M|Azul",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:m|cor:azul",
                        "aliexpress_sku": "12345",
                        "image_id": "1"
                      },
                      {
                        "sku": "",
                        "bar_code": "",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "M|Preto",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:m|cor:preto",
                        "aliexpress_sku": "",
                        "image_id": "2"
                      },
                      {
                        "sku": "",
                        "bar_code": "",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "p|Azul",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:p|cor:azul",
                        "aliexpress_sku": "",
                        "image_id": "3"
                      },
                      {
                        "sku": "60123OITO",
                        "bar_code": "",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "p|Preto",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:p|cor:preto",
                        "aliexpress_sku": "",
                        "image_id": "3"
                      }
                    ],
                    "images": [
                      {
                        "id": "1",
                        "position": "2",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      },
                      {
                        "id": "2",
                        "position": "1",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      },
                      {
                        "id": "3",
                        "position": "3",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      }
                    ],
                    "kits": [
                      {
                        "quantity": "2",
                        "title": "2",
                        "cost_price": "20.00",
                        "sale_price": "30.00",
                        "old_price": "25.00"
                      }
                    ],
                    "variants_items": [
                      {
                        "title": "Cor",
                        "variant_values": "Azul,Preto"
                      },
                      {
                        "title": "Tamanho",
                        "variant_values": "p,m"
                      }
                    ]
                  }
                },
                "Sem variação": {
                  "value": {
                    "has_variant": "0",
                    "status": "1",
                    "title": "Teste Sem Variação",
                    "product_type": "fisico",
                    "has_kits": "1",
                    "aliexpress_url": "1",
                    "aliexpress_id": "2",
                    "aliexpress_seller": "3",
                    "enable_dropshipping": "0",
                    "ncm_code": "4",
                    "gshop_condition": "1",
                    "gshop_age_group": "2",
                    "gshop_gender": "3",
                    "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                    "video_id": "1RnyZRpDSEc",
                    "video_platform": "YouTube",
                    "sku": "123",
                    "bar_code": "",
                    "automatic_stock": "1",
                    "quantity": "2",
                    "weight": "0",
                    "width": "0",
                    "height": "0",
                    "length": "0",
                    "cost_price": "0.00",
                    "sale_price": "60.00",
                    "old_price": "0.00",
                    "slug": "tamanho:m|cor:azul",
                    "aliexpress_sku": "12345",
                    "image_id": "1",
                    "images": [
                      {
                        "id": "1",
                        "position": "2",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      },
                      {
                        "id": "2",
                        "position": "1",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      },
                      {
                        "id": "3",
                        "position": "3",
                        "image": "https://www.aplicaplacaspersonalizadas.com.br/uploads/img/550/placa-sinalizacao-cuidado-area-de-teste-9e8ab87cf00f1eba23f4f4103251680a.jpg"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Verificar o corpo da requisição (produto com variação (1) ou sem variação (0) **{has_variant}**)"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "delete": {
        "summary": "Deletar um produto",
        "operationId": "delete-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "message": "Product removed"
                        }
                      ],
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "There is no product to delete"
                        }
                      ],
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Deleta o produto e suas dependências com o ID do produto correspondente.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "get": {
        "summary": "Resgatar um produto",
        "operationId": "get-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "has_variant": {
                      "type": "string",
                      "minLength": 1,
                      "description": "produto com variação: 1 | sem variação: 0"
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "product_type": {
                      "type": "string",
                      "minLength": 1
                    },
                    "has_kits": {
                      "type": "string",
                      "minLength": 1,
                      "description": "produto com kit: 1 | sem kit: 0"
                    },
                    "aliexpress_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_seller": {
                      "type": "string",
                      "minLength": 1
                    },
                    "enable_dropshipping": {
                      "type": "string",
                      "minLength": 1
                    },
                    "ncm_code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_condition": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_age_group": {
                      "type": "string",
                      "minLength": 1
                    },
                    "gshop_gender": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "video_platform": {
                      "type": "string",
                      "minLength": 1
                    },
                    "sku": {
                      "type": "string",
                      "minLength": 1
                    },
                    "bar_code": {
                      "type": "string"
                    },
                    "automatic_stock": {
                      "type": "string",
                      "minLength": 1
                    },
                    "quantity": {
                      "type": "string",
                      "minLength": 1
                    },
                    "weight": {
                      "type": "string",
                      "minLength": 1
                    },
                    "width": {
                      "type": "string",
                      "minLength": 1
                    },
                    "height": {
                      "type": "string",
                      "minLength": 1
                    },
                    "length": {
                      "type": "string",
                      "minLength": 1
                    },
                    "cost_price": {
                      "type": "string",
                      "minLength": 1,
                      "description": "double (0.00)"
                    },
                    "sale_price": {
                      "type": "string",
                      "minLength": 1,
                      "description": "double (0.00)"
                    },
                    "old_price": {
                      "type": "string",
                      "minLength": 1,
                      "description": "double (0.00)"
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "aliexpress_sku": {
                      "type": "string",
                      "minLength": 1
                    },
                    "image_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "variants": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "bar_code": {
                            "type": "string",
                            "minLength": 1
                          },
                          "automatic_stock": {
                            "type": "string",
                            "minLength": 1
                          },
                          "quantity": {
                            "type": "string",
                            "minLength": 1
                          },
                          "weight": {
                            "type": "string",
                            "minLength": 1
                          },
                          "width": {
                            "type": "string",
                            "minLength": 1
                          },
                          "height": {
                            "type": "string",
                            "minLength": 1
                          },
                          "length": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cost_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "sale_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "old_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "slug": {
                            "type": "string",
                            "minLength": 1,
                            "description": ""
                          },
                          "aliexpress_sku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "image_id": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "images": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "position": {
                            "type": "string",
                            "minLength": 1
                          },
                          "image": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "kits": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cost_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "sale_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          },
                          "old_price": {
                            "type": "string",
                            "minLength": 1,
                            "description": "double (0.00)"
                          }
                        }
                      }
                    },
                    "variants_items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "variant_values": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "has_variant",
                    "has_kits"
                  ]
                },
                "examples": {
                  "Success - Com variação": {
                    "value": {
                      "result": [
                        {
                          "id": "35",
                          "has_variant": "1",
                          "status": "1",
                          "title": "Teste Com Variação",
                          "product_type": "fisico",
                          "seo_title": "Ellos design - Criação de Sites",
                          "seo_desc": "Criação de Sites e Marketing Digital",
                          "seo_url": "teste-com-variacao",
                          "created_at": "2021-04-15 17:38:47",
                          "updated_at": null,
                          "has_kits": "1",
                          "aliexpress_url": "",
                          "aliexpress_id": "",
                          "aliexpress_seller": "",
                          "enable_dropshipping": "0",
                          "ncm_code": "",
                          "gshop_condition": "",
                          "gshop_age_group": "",
                          "gshop_gender": "",
                          "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                          "video_id": "1RnyZRpDSEc",
                          "video_platform": "",
                          "variants": [
                            {
                              "id": "220",
                              "sku": "",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "M|Azul",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:m|cor:azul",
                              "aliexpress_sku": "",
                              "image_id": "222",
                              "variant_token": null
                            },
                            {
                              "id": "221",
                              "sku": "",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "M|Preto",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:m|cor:preto",
                              "aliexpress_sku": "",
                              "image_id": "223",
                              "variant_token": null
                            },
                            {
                              "id": "222",
                              "sku": "",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "p|Azul",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:p|cor:azul",
                              "aliexpress_sku": "",
                              "image_id": "224",
                              "variant_token": null
                            },
                            {
                              "id": "223",
                              "sku": "60123OITO",
                              "bar_code": "",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "p|Preto",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:p|cor:preto",
                              "aliexpress_sku": "",
                              "image_id": "224",
                              "variant_token": null
                            }
                          ],
                          "variants_items": [
                            {
                              "id": "50",
                              "title": "Cor",
                              "variant_values": "Azul,Preto"
                            },
                            {
                              "id": "51",
                              "title": "Tamanho",
                              "variant_values": "p,m"
                            }
                          ],
                          "images": [
                            {
                              "id": "223",
                              "position": "1",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/35/images/5df272b363bf992823c35a17c81a1b64.jpg",
                              "created_at": "2021-04-15 17:38:49",
                              "reference": "2"
                            },
                            {
                              "id": "222",
                              "position": "2",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/35/images/a1bc77d046ab1b99479e1a826e62fb22.jpg",
                              "created_at": "2021-04-15 17:38:49",
                              "reference": "1"
                            },
                            {
                              "id": "224",
                              "position": "3",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/35/images/97b93073c2c8e471a99f8120d480a0cd.jpg",
                              "created_at": "2021-04-15 17:38:49",
                              "reference": "3"
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Sucesso - Sem variação": {
                    "value": {
                      "result": [
                        {
                          "id": "36",
                          "has_variant": "0",
                          "status": "1",
                          "title": "Mini bolsa de couro bolsa de ombro feminina bolsa de mão crossbody",
                          "product_type": "fisico",
                          "seo_title": "Mini bolsa de couro bolsa de ombro feminina bolsa de mão crossbody",
                          "seo_desc": "Mini bolsa de couro bolsa de ombro feminina bolsa de mão crossbody ",
                          "seo_url": "mini-bolsa-de-couro-bolsa-de-ombro-feminina-bolsa-de-mao-crossbody",
                          "created_at": "2021-04-20 18:21:48",
                          "updated_at": "2021-04-23 15:16:42",
                          "has_kits": "1",
                          "aliexpress_url": "",
                          "aliexpress_id": "",
                          "aliexpress_seller": "",
                          "enable_dropshipping": "0",
                          "ncm_code": "1254788",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "female",
                          "video_url": "",
                          "video_id": "",
                          "video_platform": "",
                          "sku": "ZHF2WXWFJ",
                          "bar_code": "1255889955",
                          "automatic_stock": "1",
                          "quantity": "250",
                          "weight": "120",
                          "width": "11",
                          "height": "2",
                          "length": "16",
                          "cost_price": "0.00",
                          "sale_price": "99.90",
                          "old_price": "0.00",
                          "slug": "u",
                          "aliexpress_sku": "",
                          "variant_token": "2a23610d335a22b5df7b72daa0e2289a97439641f7ab337e51777333d615a11c",
                          "images": [
                            {
                              "position": "1",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/36/images/ea9642a093c2b2ce3813891f8af191ee.png",
                              "created_at": "2021-04-22 10:05:39",
                              "reference": null
                            },
                            {
                              "position": "2",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/36/images/aa1945c8dbb03c0833aa1d049eeda786.png",
                              "created_at": "2021-04-22 10:05:39",
                              "reference": null
                            },
                            {
                              "position": "3",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/36/images/585f9221a22a9805a64f382274d91190.png",
                              "created_at": "2021-04-22 10:05:39",
                              "reference": null
                            },
                            {
                              "position": "4",
                              "image": "http://192.168.0.45/landingpagesistema/uploads/img/store-pet/products/36/images/56415b9c015966c9a1bf289cff6f7956.png",
                              "created_at": "2021-04-22 10:05:39",
                              "reference": null
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Recupera as informações do produto e suas dependências com o ID do produto correspondente.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "TOKEN": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token fornecido para a sua landingpage"
      }
    },
    "parameters": {}
  },
  "security": [
    {
      "TOKEN": []
    }
  ]
}