{
  "openapi": "3.0.0",
  "info": {
    "title": "Produtos",
    "version": "",
    "description": "Por meio dessa referência você pode consultar, atualizar, deletar ou inserir produtos.",
    "contact": {
      "email": "developers@lpquevende.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.lpquevende.com.br/"
    }
  ],
  "paths": {
    "{slug-landingpage}/products": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "description": "prefixo utilizado no domínio",
          "required": true
        }
      ],
      "get": {
        "summary": "Resgatar todos os produtos",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "has_variant": {
                            "type": "string",
                            "minLength": 1
                          },
                          "status": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "description": {
                            "type": "string",
                            "minLength": 1
                          },
                          "product_type": {
                            "type": "string",
                            "minLength": 1
                          },
                          "seo_title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "seo_desc": {
                            "type": "string",
                            "minLength": 1
                          },
                          "seo_url": {
                            "type": "string",
                            "minLength": 1
                          },
                          "created_at": {
                            "type": "string",
                            "minLength": 1
                          },
                          "updated_at": {
                            "type": "string",
                            "minLength": 1
                          },
                          "has_kits": {
                            "type": "string",
                            "minLength": 1
                          },
                          "aliexpress_url": {
                            "type": "string",
                            "minLength": 1
                          },
                          "aliexpress_id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "aliexpress_seller": {
                            "type": "string",
                            "minLength": 1
                          },
                          "enable_dropshipping": {
                            "type": "string",
                            "minLength": 1
                          },
                          "ncm_code": {
                            "type": "string"
                          },
                          "gshop_condition": {
                            "type": "string",
                            "minLength": 1
                          },
                          "gshop_age_group": {
                            "type": "string",
                            "minLength": 1
                          },
                          "gshop_gender": {
                            "type": "string",
                            "minLength": 1
                          },
                          "video_url": {
                            "type": "string"
                          },
                          "video_id": {
                            "type": "string"
                          },
                          "video_platform": {
                            "type": "string"
                          },
                          "variants_items": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "sku": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "bar_code": {
                                  "type": "string"
                                },
                                "automatic_stock": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "quantity": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "weight": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "width": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "height": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "length": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "title": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "cost_price": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "sale_price": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "old_price": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "slug": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "aliexpress_sku": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "image_id": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "sku",
                                "bar_code",
                                "automatic_stock",
                                "quantity",
                                "weight",
                                "width",
                                "height",
                                "length",
                                "title",
                                "cost_price",
                                "sale_price",
                                "old_price",
                                "slug",
                                "aliexpress_sku",
                                "image_id"
                              ]
                            }
                          },
                          "images": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "ordem": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "foto": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "created_at": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "ordem",
                                "foto",
                                "created_at"
                              ]
                            }
                          },
                          "kits": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "has_variant",
                          "status",
                          "title",
                          "description",
                          "product_type",
                          "seo_title",
                          "seo_desc",
                          "seo_url",
                          "created_at",
                          "updated_at",
                          "has_kits",
                          "aliexpress_url",
                          "aliexpress_id",
                          "aliexpress_seller",
                          "enable_dropshipping",
                          "ncm_code",
                          "gshop_condition",
                          "gshop_age_group",
                          "gshop_gender",
                          "video_url",
                          "video_id",
                          "video_platform"
                        ]
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success - Com variação": {
                    "value": {
                      "result": [
                        {
                          "id": "11",
                          "has_variant": "1",
                          "status": "1",
                          "title": "Fones de ouvido com microfone gamer",
                          "description": "<p>Compatibilidade: Com 3.5mm interface, é adequado para telefone inteligente, tablet pc, laptop, para ps4, para novo xbox one e outros 3.5mm dispositivo de áudio Captador exato microfone: Microfone omnidirecional ajustável, pode pegar sons com grande sensibilidade e reduz o ruído de fundo para melhores chapéus no jogo. Ótimo som: A unidade de movimentação de 40mm pode trazer-te campo de som vívido, claridade de som, sensação de choque de som, capaz de vários jogos. Confortável para usar: Usa almofadas macias sobre ouvido, que é confortável para degastar longo tempo. Tiara ajustável é adequado para tamanhos diferentes da cabeça. Conveniente para usar: 1. quando conectado a XBOX-ONE, é necessário um conversor de áudio (conversor de áudio não incluído) 2. pode conectar diretamente ao ps4 3. quando conectado ao pc, um cabo conversor 2 em 1 é necessário (cabo conversor não incluído) Para alguns projetos do portátil que são projetos do único furo, pode usar diretamente para atingir a função do microfone. Se um cabo conversor 2 em 1 for necessário para você, você pode contate-nos para comprá-lo.</p>\r\n\r\n<p>Especificação:</p>\r\n\r\n<p>Unidade de unidade de diâmetro: 40mm Faixa de frequência: 20-20khz Sensibilidade: 106db Impedância: 32ohm Sensibilidade do microfone:-54db Direcionalidade: omni-direcional Comprimento do cabo: aprox. 1.2m / 3.93ft Entrada plug: 3.5mm plugue Cor: preto Peso: 150g / 6.65oz</p>\r\n\r\n<p>Pacote incluído:</p>\r\n\r\n<p>1 * fone de ouvido para jogos</p>\r\n",
                          "product_type": "fisico",
                          "seo_title": "Fones de ouvido com microfone gamer",
                          "seo_desc": "Compatibilidade: Com 3.5mm interface, é adequado para telefone inteligente, tablet pc, laptop, para ps4, para novo xbox one e outros 3.5mm dispositivo de áudio Captador exato microfone: Microfone omnidirecional ajustável, pode pegar sons com grande s",
                          "seo_url": "fones-de-ouvido-com-microfone-gamer",
                          "created_at": "2021-02-24 12:44:00",
                          "updated_at": "2021-02-24 19:36:19",
                          "has_kits": "0",
                          "aliexpress_url": "https://pt.aliexpress.com/item/4000965583644.html",
                          "aliexpress_id": "4000965583644",
                          "aliexpress_seller": "cn1521906482whmt",
                          "enable_dropshipping": "1",
                          "ncm_code": "",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "unisex",
                          "video_url": null,
                          "video_id": null,
                          "video_platform": null,
                          "variants_items": [
                            {
                              "sku": "SDKO18V57",
                              "automatic_stock": "1",
                              "quantity": "1000",
                              "weight": "100",
                              "width": "11",
                              "height": "2",
                              "length": "16",
                              "title": "Preto/Vermelho",
                              "cost_price": "61.49",
                              "sale_price": "149.90",
                              "old_price": "0.00",
                              "slug": "cor:pretovermelho",
                              "aliexpress_sku": "14:10#Blackred",
                              "image_id": null
                            },
                            {
                              "sku": "IO2UMJTEX",
                              "automatic_stock": "1",
                              "quantity": "1000",
                              "weight": "100",
                              "width": "11",
                              "height": "2",
                              "length": "16",
                              "title": "Preto/Azul",
                              "cost_price": "61.49",
                              "sale_price": "149.90",
                              "old_price": "279.90",
                              "slug": "cor:pretoazul",
                              "aliexpress_sku": "14:173#Blackblue",
                              "image_id": null
                            }
                          ],
                          "images": [
                            {
                              "ordem": "99",
                              "foto": "f8ed1a14674d12fc8bf475866b4b70fe.jpg",
                              "created_at": "2021-03-08 18:18:53"
                            },
                            {
                              "ordem": "99",
                              "foto": "0ba0799757099f4733abafe3e3a31916.jpg",
                              "created_at": "2021-03-08 18:18:53"
                            },
                            {
                              "ordem": "99",
                              "foto": "d24e3b23ce64e4c2bc4df58978af95ef.png",
                              "created_at": "2021-03-08 19:40:01"
                            },
                            {
                              "ordem": "99",
                              "foto": "0dbdfc2cdfbf34b901b1a23da4a060e7.jpg",
                              "created_at": "2021-03-08 14:39:54"
                            }
                          ],
                          "kits": []
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Sucesso - Sem variação": {
                    "value": {
                      "result": [
                        {
                          "id": "13",
                          "has_variant": "0",
                          "status": "1",
                          "title": "Brinco geométrico coração de cristal",
                          "description": "<ul>\r\n\t<li>Marca: MENGJIQIAO</li>\r\n\t<li>Tipo de Metal: Liga de zinco</li>\r\n\t<li>Estilo: TRENDY</li>\r\n\t<li>Estilo Fino ou Fashion: Moda</li>\r\n\t<li>Tipo de Item: brincos</li>\r\n\t<li>Tipo de Brinco: Gota</li>\r\n\t<li>Formato / Estampa: coração</li>\r\n\t<li>Material: Zirconia Cúbica</li>\r\n\t<li>Gênero: Mulheres</li>\r\n</ul>\r\n",
                          "product_type": "fisico",
                          "seo_title": "Brinco geométrico coração de cristal",
                          "seo_desc": " Marca: MENGJIQIAO Tipo de Metal: Liga de zinco Estilo: TRENDY Estilo Fino ou Fashion: Moda Tipo de Item: brincos Tipo de Brinco: Gota Formato / Estampa: coração Material: Zirconia Cúbica Gênero: Mulheres ",
                          "seo_url": "brinco-geometrico-coracao-de-cristal",
                          "created_at": "2021-02-24 20:11:12",
                          "updated_at": "2021-03-02 14:47:48",
                          "has_kits": "1",
                          "aliexpress_url": "https://pt.aliexpress.com/item/4000484073609.html",
                          "aliexpress_id": "4000484073609",
                          "aliexpress_seller": "cn1004066985",
                          "enable_dropshipping": "1",
                          "ncm_code": "1235489",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "female",
                          "video_url": "https://www.youtube.com/watch?v=ZbsOutWBisY",
                          "video_id": "ZbsOutWBisY",
                          "video_platform": "youtube",
                          "sku": "0WHAALRON",
                          "bar_code": "",
                          "automatic_stock": "1",
                          "quantity": "1000",
                          "weight": "1",
                          "width": "11",
                          "height": "2",
                          "length": "16",
                          "cost_price": "0.00",
                          "sale_price": "16.54",
                          "old_price": "0.00",
                          "slug": "u",
                          "aliexpress_sku": "",
                          "images": [
                            {
                              "ordem": "1",
                              "foto": "http://192.168.0.45/landingpagesistema/uploads/img/bikecenter-bikes/products/13/a29d7f274e3e4422d11404746bfb7709.jpg",
                              "created_at": "2021-03-02 13:50:15"
                            },
                            {
                              "ordem": "2",
                              "foto": "http://192.168.0.45/landingpagesistema/uploads/img/bikecenter-bikes/products/13/cffb71e4f5569e2a68449a3663a11b79.jpg",
                              "created_at": "2021-03-02 13:50:15"
                            },
                            {
                              "ordem": "3",
                              "foto": "http://192.168.0.45/landingpagesistema/uploads/img/bikecenter-bikes/products/13/28ab2126bc49449f89603e57014b3931.jpg",
                              "created_at": "2021-03-02 13:50:15"
                            }
                          ],
                          "kits": []
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-slug-landingpage-products",
        "description": "Recupera as informações de todos os produtos.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "post": {
        "summary": "Criar um produto",
        "operationId": "post-slug-landingpage-products",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Error in the past parameters"
                        }
                      ],
                      "status_code": 200,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "message": "Created product"
                        }
                      ],
                      "status_code": 201,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Gera um novo registro de produto.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "has_variant": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1
                  },
                  "payment_gateway": {
                    "type": "string",
                    "minLength": 1
                  },
                  "product_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "shipping_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fixed_shipping_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fixed_shipping_time": {
                    "type": "string",
                    "minLength": 1
                  },
                  "seo_title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "seo_desc": {
                    "type": "string",
                    "minLength": 1
                  },
                  "seo_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "created_at": {
                    "type": "string",
                    "minLength": 1
                  },
                  "updated_at": {
                    "type": "string",
                    "minLength": 1
                  },
                  "has_kits": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ordem_exibicao": {},
                  "aliexpress_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_seller": {
                    "type": "string",
                    "minLength": 1
                  },
                  "enable_dropshipping": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ncm_code": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_condition": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_age_group": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_gender": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_url": {},
                  "video_id": {},
                  "video_platform": {},
                  "product_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "automatic_stock": {
                    "type": "string",
                    "minLength": 1
                  },
                  "quantity": {
                    "type": "string",
                    "minLength": 1
                  },
                  "weight": {
                    "type": "string",
                    "minLength": 1
                  },
                  "width": {
                    "type": "string",
                    "minLength": 1
                  },
                  "height": {
                    "type": "string",
                    "minLength": 1
                  },
                  "length": {
                    "type": "string",
                    "minLength": 1
                  },
                  "cost_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sale_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "old_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_sku": {
                    "type": "string"
                  },
                  "image_id": {},
                  "images": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "product_id",
                        "ordem",
                        "foto",
                        "created_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "ordem": {
                          "type": "string",
                          "minLength": 1
                        },
                        "foto": {
                          "type": "string",
                          "minLength": 1
                        },
                        "token_cad": {},
                        "created_at": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "kits": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [],
                      "properties": {}
                    }
                  },
                  "variants": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "product_id",
                        "sku",
                        "bar_code",
                        "automatic_stock",
                        "quantity",
                        "weight",
                        "width",
                        "height",
                        "length",
                        "title",
                        "cost_price",
                        "sale_price",
                        "old_price",
                        "slug",
                        "aliexpress_sku"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "bar_code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "automatic_stock": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "string",
                          "minLength": 1
                        },
                        "weight": {
                          "type": "string",
                          "minLength": 1
                        },
                        "width": {
                          "type": "string",
                          "minLength": 1
                        },
                        "height": {
                          "type": "string",
                          "minLength": 1
                        },
                        "length": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "cost_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sale_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "old_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "slug": {
                          "type": "string",
                          "minLength": 1
                        },
                        "aliexpress_sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "image_id": {}
                      }
                    }
                  },
                  "variants_items": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "product_id",
                        "titulo",
                        "valores"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "titulo": {
                          "type": "string",
                          "minLength": 1
                        },
                        "valores": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  }
                },
                "required": [
                  "id",
                  "has_variant",
                  "status",
                  "title",
                  "description",
                  "payment_gateway",
                  "product_type",
                  "shipping_type",
                  "fixed_shipping_price",
                  "fixed_shipping_time",
                  "seo_title",
                  "seo_desc",
                  "seo_url",
                  "created_at",
                  "updated_at",
                  "has_kits",
                  "aliexpress_url",
                  "aliexpress_id",
                  "aliexpress_seller",
                  "enable_dropshipping",
                  "ncm_code",
                  "gshop_condition",
                  "gshop_age_group",
                  "gshop_gender",
                  "product_id",
                  "sku",
                  "automatic_stock",
                  "quantity",
                  "weight",
                  "width",
                  "height",
                  "length",
                  "cost_price",
                  "sale_price",
                  "old_price",
                  "slug",
                  "aliexpress_sku",
                  "images",
                  "kits",
                  "variants",
                  "variants_items"
                ]
              },
              "examples": {
                "Com variação": {
                  "value": {
                    "has_variant": "1",
                    "status": "string",
                    "title": "string",
                    "payment_gateway": "string",
                    "product_type": "string",
                    "has_kits": "string",
                    "aliexpress_url": "string",
                    "aliexpress_id": "string",
                    "aliexpress_seller": "string",
                    "enable_dropshipping": "string",
                    "ncm_code": "string",
                    "gshop_condition": "string",
                    "gshop_age_group": "string",
                    "gshop_gender": "string",
                    "video_url": "string",
                    "video_id": "string",
                    "video_platform": "string",
                    "images": [
                      {
                        "id": "string",
                        "position": "string",
                        "image": "string"
                      }
                    ],
                    "kits": [
                      {
                        "quantity": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string"
                      }
                    ],
                    "variants": [
                      {
                        "sku": "string",
                        "bar_code": "string",
                        "automatic_stock": "string",
                        "quantity": "string",
                        "weight": "string",
                        "width": "string",
                        "height": "string",
                        "length": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string",
                        "slug": "string",
                        "aliexpress_sku": "string",
                        "image_id": "string"
                      }
                    ],
                    "variants_items": [
                      {
                        "title": "string",
                        "variant_values": "string,string"
                      }
                    ]
                  }
                },
                "Sem variação": {
                  "value": {
                    "has_variant": "0",
                    "status": "string",
                    "title": "string",
                    "payment_gateway": "string",
                    "product_type": "string",
                    "has_kits": "string",
                    "aliexpress_url": "string",
                    "aliexpress_id": "string",
                    "aliexpress_seller": "string",
                    "enable_dropshipping": "string",
                    "ncm_code": "string",
                    "gshop_condition": "string",
                    "gshop_age_group": "string",
                    "gshop_gender": "string",
                    "video_url": "string",
                    "video_id": "string",
                    "video_platform": "string",
                    "images": [
                      {
                        "id": "string",
                        "product_id": "string",
                        "ordem": "string",
                        "foto": "string",
                        "token_cad": null,
                        "created_at": "string"
                      }
                    ],
                    "kits": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "description": "Verificar o corpo da requisição (produto com ou sem variação **{has_variant}**)"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    },
    "{slug-landingpage}/products/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "required": true,
          "description": "prefixo utilizado no domínio"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID do produto"
        }
      ],
      "put": {
        "summary": "Atualizar um produto",
        "operationId": "put-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "message": "Product update"
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Product not updated"
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Atualiza as informações do produto com o ID do produto correspondente.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "has_variant": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1
                  },
                  "payment_gateway": {
                    "type": "string",
                    "minLength": 1
                  },
                  "product_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "shipping_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fixed_shipping_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fixed_shipping_time": {
                    "type": "string",
                    "minLength": 1
                  },
                  "seo_title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "seo_desc": {
                    "type": "string",
                    "minLength": 1
                  },
                  "seo_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "created_at": {
                    "type": "string",
                    "minLength": 1
                  },
                  "updated_at": {
                    "type": "string",
                    "minLength": 1
                  },
                  "has_kits": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ordem_exibicao": {},
                  "aliexpress_url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_seller": {
                    "type": "string",
                    "minLength": 1
                  },
                  "enable_dropshipping": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ncm_code": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_condition": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_age_group": {
                    "type": "string",
                    "minLength": 1
                  },
                  "gshop_gender": {
                    "type": "string",
                    "minLength": 1
                  },
                  "video_url": {},
                  "video_id": {},
                  "video_platform": {},
                  "product_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "automatic_stock": {
                    "type": "string",
                    "minLength": 1
                  },
                  "quantity": {
                    "type": "string",
                    "minLength": 1
                  },
                  "weight": {
                    "type": "string",
                    "minLength": 1
                  },
                  "width": {
                    "type": "string",
                    "minLength": 1
                  },
                  "height": {
                    "type": "string",
                    "minLength": 1
                  },
                  "length": {
                    "type": "string",
                    "minLength": 1
                  },
                  "cost_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sale_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "old_price": {
                    "type": "string",
                    "minLength": 1
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aliexpress_sku": {
                    "type": "string"
                  },
                  "image_id": {},
                  "images": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "product_id",
                        "ordem",
                        "foto",
                        "created_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "ordem": {
                          "type": "string",
                          "minLength": 1
                        },
                        "foto": {
                          "type": "string",
                          "minLength": 1
                        },
                        "token_cad": {},
                        "created_at": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "kits": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [],
                      "properties": {}
                    }
                  },
                  "variants": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "product_id",
                        "sku",
                        "bar_code",
                        "automatic_stock",
                        "quantity",
                        "weight",
                        "width",
                        "height",
                        "length",
                        "title",
                        "cost_price",
                        "sale_price",
                        "old_price",
                        "slug",
                        "aliexpress_sku"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "bar_code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "automatic_stock": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "string",
                          "minLength": 1
                        },
                        "weight": {
                          "type": "string",
                          "minLength": 1
                        },
                        "width": {
                          "type": "string",
                          "minLength": 1
                        },
                        "height": {
                          "type": "string",
                          "minLength": 1
                        },
                        "length": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "cost_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sale_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "old_price": {
                          "type": "string",
                          "minLength": 1
                        },
                        "slug": {
                          "type": "string",
                          "minLength": 1
                        },
                        "aliexpress_sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "image_id": {}
                      }
                    }
                  },
                  "variants_items": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "id",
                        "product_id",
                        "titulo",
                        "valores"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "titulo": {
                          "type": "string",
                          "minLength": 1
                        },
                        "valores": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  }
                },
                "required": [
                  "id",
                  "has_variant",
                  "status",
                  "title",
                  "description",
                  "payment_gateway",
                  "product_type",
                  "shipping_type",
                  "fixed_shipping_price",
                  "fixed_shipping_time",
                  "seo_title",
                  "seo_desc",
                  "seo_url",
                  "created_at",
                  "updated_at",
                  "has_kits",
                  "aliexpress_url",
                  "aliexpress_id",
                  "aliexpress_seller",
                  "enable_dropshipping",
                  "ncm_code",
                  "gshop_condition",
                  "gshop_age_group",
                  "gshop_gender",
                  "product_id",
                  "sku",
                  "automatic_stock",
                  "quantity",
                  "weight",
                  "width",
                  "height",
                  "length",
                  "cost_price",
                  "sale_price",
                  "old_price",
                  "slug",
                  "aliexpress_sku",
                  "images",
                  "kits",
                  "variants",
                  "variants_items"
                ]
              },
              "examples": {
                "Com variação": {
                  "value": {
                    "id": "string",
                    "has_variant": "string",
                    "status": "string",
                    "title": "string",
                    "description": "string",
                    "payment_gateway": "string",
                    "product_type": "string",
                    "shipping_type": "string",
                    "fixed_shipping_price": "string",
                    "fixed_shipping_time": "string",
                    "seo_title": "string",
                    "seo_desc": "string",
                    "seo_url": "string",
                    "created_at": "string",
                    "updated_at": "string",
                    "has_kits": "string",
                    "ordem_exibicao": null,
                    "aliexpress_url": "string",
                    "aliexpress_id": "string",
                    "aliexpress_seller": "string",
                    "enable_dropshipping": "string",
                    "ncm_code": "string",
                    "gshop_condition": "string",
                    "gshop_age_group": "string",
                    "gshop_gender": "string",
                    "video_url": null,
                    "video_id": null,
                    "video_platform": null,
                    "images": [
                      {
                        "id": "string",
                        "product_id": "string",
                        "ordem": "string",
                        "foto": "string",
                        "token_cad": null,
                        "created_at": "string"
                      }
                    ],
                    "kits": [
                      {}
                    ],
                    "variants": [
                      {
                        "id": "string",
                        "product_id": "string",
                        "sku": "string",
                        "bar_code": "string",
                        "automatic_stock": "string",
                        "quantity": "string",
                        "weight": "string",
                        "width": "string",
                        "height": "string",
                        "length": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string",
                        "slug": "string",
                        "aliexpress_sku": "string",
                        "image_id": null
                      }
                    ],
                    "variants_items": [
                      {
                        "id": "string",
                        "product_id": "string",
                        "titulo": "string",
                        "valores": "string"
                      }
                    ]
                  }
                },
                "Sem variação": {
                  "value": {
                    "id": "string",
                    "has_variant": "string",
                    "status": "string",
                    "title": "string",
                    "description": "string",
                    "payment_gateway": "string",
                    "product_type": "string",
                    "shipping_type": "string",
                    "fixed_shipping_price": "string",
                    "fixed_shipping_time": "string",
                    "seo_title": "string",
                    "seo_desc": "string",
                    "seo_url": "string",
                    "created_at": "string",
                    "updated_at": "string",
                    "has_kits": "string",
                    "ordem_exibicao": null,
                    "aliexpress_url": "string",
                    "aliexpress_id": "string",
                    "aliexpress_seller": "string",
                    "enable_dropshipping": "string",
                    "ncm_code": "string",
                    "gshop_condition": "string",
                    "gshop_age_group": "string",
                    "gshop_gender": "string",
                    "video_url": null,
                    "video_id": null,
                    "video_platform": null,
                    "images": [
                      {
                        "id": "string",
                        "product_id": "string",
                        "ordem": "string",
                        "foto": "string",
                        "token_cad": null,
                        "created_at": "string"
                      }
                    ],
                    "kits": [
                      {}
                    ],
                    "variants": [
                      {
                        "id": "string",
                        "product_id": "string",
                        "sku": "string",
                        "bar_code": "string",
                        "automatic_stock": "string",
                        "quantity": "string",
                        "weight": "string",
                        "width": "string",
                        "height": "string",
                        "length": "string",
                        "title": "string",
                        "cost_price": "string",
                        "sale_price": "string",
                        "old_price": "string",
                        "slug": "string",
                        "aliexpress_sku": "string",
                        "image_id": null
                      }
                    ],
                    "variants_items": [
                      {
                        "id": "string",
                        "product_id": "string",
                        "titulo": "string",
                        "valores": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Verificar o corpo da requisição (produto com ou sem variação **{has_variant}**)"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "delete": {
        "summary": "Deletar um produto",
        "operationId": "delete-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "message": "Product removed"
                        }
                      ],
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "There is no product to delete"
                        }
                      ],
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Deleta o produto com o ID do produto correspondente.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "get": {
        "summary": "Resgatar um produto",
        "operationId": "get-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "has_variant",
                          "status",
                          "title",
                          "description",
                          "product_type",
                          "seo_title",
                          "seo_desc",
                          "seo_url",
                          "created_at",
                          "updated_at",
                          "has_kits",
                          "aliexpress_url",
                          "aliexpress_id",
                          "aliexpress_seller",
                          "enable_dropshipping",
                          "ncm_code",
                          "gshop_condition",
                          "gshop_age_group",
                          "gshop_gender"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "has_variant": {
                            "type": "string",
                            "minLength": 1
                          },
                          "status": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "description": {
                            "type": "string",
                            "minLength": 1
                          },
                          "product_type": {
                            "type": "string",
                            "minLength": 1
                          },
                          "seo_title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "seo_desc": {
                            "type": "string",
                            "minLength": 1
                          },
                          "seo_url": {
                            "type": "string",
                            "minLength": 1
                          },
                          "created_at": {
                            "type": "string",
                            "minLength": 1
                          },
                          "updated_at": {
                            "type": "string",
                            "minLength": 1
                          },
                          "has_kits": {
                            "type": "string",
                            "minLength": 1
                          },
                          "aliexpress_url": {
                            "type": "string",
                            "minLength": 1
                          },
                          "aliexpress_id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "aliexpress_seller": {
                            "type": "string",
                            "minLength": 1
                          },
                          "enable_dropshipping": {
                            "type": "string",
                            "minLength": 1
                          },
                          "ncm_code": {
                            "type": "string"
                          },
                          "gshop_condition": {
                            "type": "string",
                            "minLength": 1
                          },
                          "gshop_age_group": {
                            "type": "string",
                            "minLength": 1
                          },
                          "gshop_gender": {
                            "type": "string",
                            "minLength": 1
                          },
                          "video_url": {},
                          "video_id": {},
                          "video_platform": {},
                          "variants_items": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "required": [
                                "sku",
                                "automatic_stock",
                                "quantity",
                                "weight",
                                "width",
                                "height",
                                "length",
                                "title",
                                "cost_price",
                                "sale_price",
                                "old_price",
                                "slug",
                                "aliexpress_sku"
                              ],
                              "properties": {
                                "sku": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "automatic_stock": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "quantity": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "weight": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "width": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "height": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "length": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "title": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "cost_price": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "sale_price": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "old_price": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "slug": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "aliexpress_sku": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "image_id": {}
                              }
                            }
                          },
                          "images": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "required": [
                                "ordem",
                                "foto",
                                "created_at"
                              ],
                              "properties": {
                                "ordem": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "foto": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "created_at": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          },
                          "kits": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success - Com variação": {
                    "value": {
                      "result": [
                        {
                          "id": "11",
                          "has_variant": "1",
                          "status": "1",
                          "title": "Fones de ouvido com microfone gamer",
                          "description": "<p>Compatibilidade: Com 3.5mm interface, é adequado para telefone inteligente, tablet pc, laptop, para ps4, para novo xbox one e outros 3.5mm dispositivo de áudio Captador exato microfone: Microfone omnidirecional ajustável, pode pegar sons com grande sensibilidade e reduz o ruído de fundo para melhores chapéus no jogo. Ótimo som: A unidade de movimentação de 40mm pode trazer-te campo de som vívido, claridade de som, sensação de choque de som, capaz de vários jogos. Confortável para usar: Usa almofadas macias sobre ouvido, que é confortável para degastar longo tempo. Tiara ajustável é adequado para tamanhos diferentes da cabeça. Conveniente para usar: 1. quando conectado a XBOX-ONE, é necessário um conversor de áudio (conversor de áudio não incluído) 2. pode conectar diretamente ao ps4 3. quando conectado ao pc, um cabo conversor 2 em 1 é necessário (cabo conversor não incluído) Para alguns projetos do portátil que são projetos do único furo, pode usar diretamente para atingir a função do microfone. Se um cabo conversor 2 em 1 for necessário para você, você pode contate-nos para comprá-lo.</p>\r\n\r\n<p>Especificação:</p>\r\n\r\n<p>Unidade de unidade de diâmetro: 40mm Faixa de frequência: 20-20khz Sensibilidade: 106db Impedância: 32ohm Sensibilidade do microfone:-54db Direcionalidade: omni-direcional Comprimento do cabo: aprox. 1.2m / 3.93ft Entrada plug: 3.5mm plugue Cor: preto Peso: 150g / 6.65oz</p>\r\n\r\n<p>Pacote incluído:</p>\r\n\r\n<p>1 * fone de ouvido para jogos</p>\r\n",
                          "product_type": "fisico",
                          "seo_title": "Fones de ouvido com microfone gamer",
                          "seo_desc": "Compatibilidade: Com 3.5mm interface, é adequado para telefone inteligente, tablet pc, laptop, para ps4, para novo xbox one e outros 3.5mm dispositivo de áudio Captador exato microfone: Microfone omnidirecional ajustável, pode pegar sons com grande s",
                          "seo_url": "fones-de-ouvido-com-microfone-gamer",
                          "created_at": "2021-02-24 12:44:00",
                          "updated_at": "2021-02-24 19:36:19",
                          "has_kits": "0",
                          "aliexpress_url": "https://pt.aliexpress.com/item/4000965583644.html",
                          "aliexpress_id": "4000965583644",
                          "aliexpress_seller": "cn1521906482whmt",
                          "enable_dropshipping": "1",
                          "ncm_code": "",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "unisex",
                          "video_url": null,
                          "video_id": null,
                          "video_platform": null,
                          "variants_items": [
                            {
                              "sku": "SDKO18V57",
                              "automatic_stock": "1",
                              "quantity": "1000",
                              "weight": "100",
                              "width": "11",
                              "height": "2",
                              "length": "16",
                              "title": "Preto/Vermelho",
                              "cost_price": "61.49",
                              "sale_price": "149.90",
                              "old_price": "0.00",
                              "slug": "cor:pretovermelho",
                              "aliexpress_sku": "14:10#Blackred",
                              "image_id": null
                            },
                            {
                              "sku": "IO2UMJTEX",
                              "automatic_stock": "1",
                              "quantity": "1000",
                              "weight": "100",
                              "width": "11",
                              "height": "2",
                              "length": "16",
                              "title": "Preto/Azul",
                              "cost_price": "61.49",
                              "sale_price": "149.90",
                              "old_price": "279.90",
                              "slug": "cor:pretoazul",
                              "aliexpress_sku": "14:173#Blackblue",
                              "image_id": null
                            }
                          ],
                          "images": [
                            {
                              "ordem": "99",
                              "foto": "f8ed1a14674d12fc8bf475866b4b70fe.jpg",
                              "created_at": "2021-03-08 18:18:53"
                            },
                            {
                              "ordem": "99",
                              "foto": "0ba0799757099f4733abafe3e3a31916.jpg",
                              "created_at": "2021-03-08 18:18:53"
                            },
                            {
                              "ordem": "99",
                              "foto": "d24e3b23ce64e4c2bc4df58978af95ef.png",
                              "created_at": "2021-03-08 19:40:01"
                            },
                            {
                              "ordem": "99",
                              "foto": "0dbdfc2cdfbf34b901b1a23da4a060e7.jpg",
                              "created_at": "2021-03-08 14:39:54"
                            }
                          ],
                          "kits": []
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Sucesso - Sem variação": {
                    "value": {
                      "result": [
                        {
                          "id": "13",
                          "has_variant": "0",
                          "status": "1",
                          "title": "Brinco geométrico coração de cristal",
                          "description": "<ul>\r\n\t<li>Marca: MENGJIQIAO</li>\r\n\t<li>Tipo de Metal: Liga de zinco</li>\r\n\t<li>Estilo: TRENDY</li>\r\n\t<li>Estilo Fino ou Fashion: Moda</li>\r\n\t<li>Tipo de Item: brincos</li>\r\n\t<li>Tipo de Brinco: Gota</li>\r\n\t<li>Formato / Estampa: coração</li>\r\n\t<li>Material: Zirconia Cúbica</li>\r\n\t<li>Gênero: Mulheres</li>\r\n</ul>\r\n",
                          "product_type": "fisico",
                          "seo_title": "Brinco geométrico coração de cristal",
                          "seo_desc": " Marca: MENGJIQIAO Tipo de Metal: Liga de zinco Estilo: TRENDY Estilo Fino ou Fashion: Moda Tipo de Item: brincos Tipo de Brinco: Gota Formato / Estampa: coração Material: Zirconia Cúbica Gênero: Mulheres ",
                          "seo_url": "brinco-geometrico-coracao-de-cristal",
                          "created_at": "2021-02-24 20:11:12",
                          "updated_at": "2021-03-02 14:47:48",
                          "has_kits": "1",
                          "aliexpress_url": "https://pt.aliexpress.com/item/4000484073609.html",
                          "aliexpress_id": "4000484073609",
                          "aliexpress_seller": "cn1004066985",
                          "enable_dropshipping": "1",
                          "ncm_code": "1235489",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "female",
                          "video_url": "https://www.youtube.com/watch?v=ZbsOutWBisY",
                          "video_id": "ZbsOutWBisY",
                          "video_platform": "youtube",
                          "sku": "0WHAALRON",
                          "bar_code": "",
                          "automatic_stock": "1",
                          "quantity": "1000",
                          "weight": "1",
                          "width": "11",
                          "height": "2",
                          "length": "16",
                          "cost_price": "0.00",
                          "sale_price": "16.54",
                          "old_price": "0.00",
                          "slug": "u",
                          "aliexpress_sku": "",
                          "images": [
                            {
                              "ordem": "1",
                              "foto": "http://192.168.0.45/landingpagesistema/uploads/img/bikecenter-bikes/products/13/a29d7f274e3e4422d11404746bfb7709.jpg",
                              "created_at": "2021-03-02 13:50:15"
                            },
                            {
                              "ordem": "2",
                              "foto": "http://192.168.0.45/landingpagesistema/uploads/img/bikecenter-bikes/products/13/cffb71e4f5569e2a68449a3663a11b79.jpg",
                              "created_at": "2021-03-02 13:50:15"
                            },
                            {
                              "ordem": "3",
                              "foto": "http://192.168.0.45/landingpagesistema/uploads/img/bikecenter-bikes/products/13/28ab2126bc49449f89603e57014b3931.jpg",
                              "created_at": "2021-03-02 13:50:15"
                            }
                          ],
                          "kits": []
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Recupera as informações do produto com o ID do produto correspondente.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "TOKEN": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token fornecido para a sua landingpage"
      }
    },
    "parameters": {}
  },
  "security": [
    {
      "TOKEN": []
    }
  ]
}