{
  "openapi": "3.0.0",
  "info": {
    "title": "Products",
    "version": "",
    "description": "Through this reference you can consult, update, delete or insert products.",
    "contact": {
      "email": "developers@lpquevende.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.lpquevende.com/"
    }
  ],
  "paths": {
    "{slug-landingpage}/products": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "description": "prefix used in the domain",
          "required": true
        }
      ],
      "get": {
        "summary": "Get all products",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "has_variant": {
                      "type": "number",
                      "description": "product with variation: 1 | without variation: 0"
                    },
                    "status": {
                      "type": "number",
                      "description": "1 is active, 0 is inactive"
                    },
                    "title": {
                      "type": "string"
                    },
                    "product_type": {
                      "type": "string",
                      "description": "physical or digital"
                    },
                    "aliexpress_url": {
                      "type": "string"
                    },
                    "aliexpress_id": {
                      "type": "string"
                    },
                    "aliexpress_seller": {
                      "type": "string"
                    },
                    "enable_dropshipping": {
                      "type": "string"
                    },
                    "ncm_code": {
                      "type": "string"
                    },
                    "gshop_condition": {
                      "type": "string",
                      "description": "new, used or refurbished\n"
                    },
                    "gshop_age_group": {
                      "type": "string",
                      "description": "newborn, infant, toddler, kids or adult\n"
                    },
                    "gshop_gender": {
                      "type": "string",
                      "description": "female, male or "
                    },
                    "video_url": {
                      "type": "string"
                    },
                    "video_id": {
                      "type": "string"
                    },
                    "video_platform": {
                      "type": "string",
                      "description": "youtube or vimeo"
                    },
                    "sku": {
                      "type": "string",
                      "description": "product identification, tracking and inventory"
                    },
                    "bar_code": {
                      "type": "string"
                    },
                    "automatic_stock": {
                      "type": "number",
                      "description": "1 is active, 0 is inactive"
                    },
                    "quantity": {
                      "type": "number"
                    },
                    "weight": {
                      "type": "string",
                      "description": "kilo"
                    },
                    "width": {
                      "type": "string",
                      "description": "centimeters"
                    },
                    "height": {
                      "type": "string",
                      "description": "centimeters"
                    },
                    "length": {
                      "type": "string",
                      "description": "centimeters"
                    },
                    "cost_price": {
                      "description": "double (0.00)",
                      "type": "string"
                    },
                    "sale_price": {
                      "type": "string",
                      "description": "double (0.00)"
                    },
                    "old_price": {
                      "type": "string",
                      "description": "double (0.00)"
                    },
                    "slug": {
                      "type": "string",
                      "description": "combination enters the variation and value divided by | size:p|color:blue or size:p "
                    },
                    "aliexpress_sku": {
                      "type": "string"
                    },
                    "image_id": {
                      "type": "number",
                      "description": "Regarding the image id of the image array"
                    },
                    "variants": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string",
                            "description": "product identification, tracking and inventory"
                          },
                          "bar_code": {
                            "type": "string"
                          },
                          "automatic_stock": {
                            "type": "number",
                            "description": "1 is active, 0 is inactive"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "string",
                            "description": "kilo"
                          },
                          "width": {
                            "type": "string",
                            "description": "centimeters"
                          },
                          "height": {
                            "type": "string",
                            "description": "centimeters"
                          },
                          "length": {
                            "type": "string",
                            "description": "centimeters"
                          },
                          "title": {
                            "type": "string"
                          },
                          "cost_price": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "sale_price": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "old_price": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "slug": {
                            "type": "string",
                            "description": "combination enters the variation and value divided by | size:p|color:blue or size:p "
                          },
                          "aliexpress_sku": {
                            "type": "string"
                          },
                          "image_id": {
                            "type": "number",
                            "description": "Regarding the image id of the image array"
                          }
                        },
                        "required": [
                          "sku"
                        ]
                      }
                    },
                    "images": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "description": "",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "number",
                            "description": "order of display of the photos"
                          },
                          "image": {
                            "type": "string",
                            "description": "image url"
                          }
                        }
                      }
                    },
                    "variants_items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "description": "",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "variant_values": {
                            "type": "string",
                            "description": "\nfor more values sort by ',' Ex: Blue,Black"
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "has_variant",
                    "sku"
                  ]
                },
                "examples": {
                  "Success - With variation": {
                    "value": {
                      "result": [
                        {
                          "id": "40",
                          "has_variant": "1",
                          "status": "1",
                          "title": "Teste Com Variação - v2",
                          "product_type": "physical",
                          "seo_title": "Teste Com Variação - v2",
                          "seo_desc": "Teste Com Variação - v2",
                          "seo_url": "teste-com-variacao-v2",
                          "created_at": "2021-04-27 14:34:15",
                          "updated_at": null,
                          "aliexpress_url": "https://pt.aliexpress.com/item/1005001966343675.html?spm=a2g0o.productlist.0.0.50987d6bVePs3F&algo_pvid=b561f8de-5011-46de-9f21-4401fbcf2f67&algo_expid=b561f8de-5011-46de-9f21-4401fbcf2f67-0&btsid=0bb0624316195439930215026e95b5&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_",
                          "aliexpress_id": "1255477",
                          "aliexpress_seller": "888888",
                          "enable_dropshipping": "1",
                          "ncm_code": "4",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "unisex",
                          "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                          "video_id": "1RnyZRpDSEc",
                          "video_platform": "YouTube",
                          "variants": [
                            {
                              "id": "250",
                              "sku": "60123OITO",
                              "bar_code": "60123OITOBARCODE",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "p|Preto",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:p|cor:preto",
                              "aliexpress_sku": "",
                              "image_id": "242"
                            },
                            {
                              "id": "249",
                              "sku": "789",
                              "bar_code": "7890",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "p|Azul",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:p|cor:azul",
                              "aliexpress_sku": "",
                              "image_id": "242"
                            },
                            {
                              "id": "248",
                              "sku": "456",
                              "bar_code": "4567",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "M|Preto",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:m|cor:preto",
                              "aliexpress_sku": "",
                              "image_id": "241"
                            },
                            {
                              "id": "247",
                              "sku": "123",
                              "bar_code": "1234",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "10",
                              "width": "20",
                              "height": "30",
                              "length": "40",
                              "title": "M|Azul",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:m|cor:azul",
                              "aliexpress_sku": "12345",
                              "image_id": "240"
                            }
                          ],
                          "variants_items": [
                            {
                              "id": "59",
                              "title": "Tamanho",
                              "variant_values": "p,m"
                            },
                            {
                              "id": "58",
                              "title": "Cor",
                              "variant_values": "Azul,Preto"
                            }
                          ],
                          "images": [
                            {
                              "id": "240",
                              "position": "2",
                              "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/840d1536189cff76898d95a53af5fa12.jpg",
                              "created_at": "2021-04-27 14:34:17",
                              "reference": "1"
                            },
                            {
                              "id": "241",
                              "position": "1",
                              "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/7e4164f85d87b1044b8aabae74d88a35.jpg",
                              "created_at": "2021-04-27 14:34:17",
                              "reference": "2"
                            },
                            {
                              "id": "242",
                              "position": "3",
                              "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/c8ff43da2338a05c585f6f015b7ddcce.jpg",
                              "created_at": "2021-04-27 14:34:17",
                              "reference": "3"
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Success - No variation": {
                    "value": {
                      "result": [
                        {
                          "id": "42",
                          "has_variant": "0",
                          "status": "1",
                          "title": "Teste Sem Variação - V2",
                          "product_type": "physical",
                          "seo_title": "Teste Sem Variação - V2",
                          "seo_desc": "Teste Sem Variação - V2",
                          "seo_url": "teste-sem-variacao-v2",
                          "created_at": "2021-04-27 14:43:07",
                          "updated_at": null,
                          "aliexpress_url": "1",
                          "aliexpress_id": "2",
                          "aliexpress_seller": "3",
                          "enable_dropshipping": "0",
                          "ncm_code": "4",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "unisex",
                          "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                          "video_id": "1RnyZRpDSEc",
                          "video_platform": "YouTube",
                          "sku": "123",
                          "bar_code": "123123",
                          "automatic_stock": "1",
                          "quantity": "2",
                          "weight": "10",
                          "width": "20",
                          "height": "30",
                          "length": "40",
                          "cost_price": "10.00",
                          "sale_price": "60.00",
                          "old_price": "20.00",
                          "slug": "tamanho:m|cor:azul",
                          "aliexpress_sku": "12345",
                          "images": [
                            {
                              "position": "2",
                              "image": "https://app.lpqv.com.br/uploads/store-pet/products/42/images/03d8d1421f93bf947103f7319b0322ab.jpg",
                              "created_at": "2021-04-27 14:43:07",
                              "reference": "1"
                            },
                            {
                              "position": "1",
                              "image": "https://app.lpqv.com.br/uploads/store-pet/products/42/images/608f8cb03c504fbf4fcdec12180777a5.jpg",
                              "created_at": "2021-04-27 14:43:08",
                              "reference": "2"
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-slug-landingpage-products",
        "description": "Retrieves information for all products and their dependencies.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "post": {
        "summary": "Create a product",
        "operationId": "post-slug-landingpage-products",
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Error in the past parameters"
                        }
                      ],
                      "status_code": 200,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "product": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success - With variation": {
                    "value": {
                      "result": {
                        "message": "Created product",
                        "product": [
                          {
                            "id": "40",
                            "has_variant": "1",
                            "status": "1",
                            "title": "Teste Com Variação - v2",
                            "product_type": "physical",
                            "seo_title": "Teste Com Variação - v2",
                            "seo_desc": "Teste Com Variação - v2",
                            "seo_url": "teste-com-variacao-v2",
                            "created_at": "2021-04-27 14:34:15",
                            "updated_at": null,
                            "aliexpress_url": "https://pt.aliexpress.com/item/1005001966343675.html?spm=a2g0o.productlist.0.0.50987d6bVePs3F&algo_pvid=b561f8de-5011-46de-9f21-4401fbcf2f67&algo_expid=b561f8de-5011-46de-9f21-4401fbcf2f67-0&btsid=0bb0624316195439930215026e95b5&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_",
                            "aliexpress_id": "1255477",
                            "aliexpress_seller": "888888",
                            "enable_dropshipping": "1",
                            "ncm_code": "4",
                            "gshop_condition": "1",
                            "gshop_age_group": "2",
                            "gshop_gender": "3",
                            "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                            "video_id": "1RnyZRpDSEc",
                            "video_platform": "YouTube",
                            "variants": [
                              {
                                "id": "250",
                                "sku": "60123OITO",
                                "bar_code": "60123OITOBARCODE",
                                "automatic_stock": "1",
                                "quantity": "2",
                                "weight": "0",
                                "width": "0",
                                "height": "0",
                                "length": "0",
                                "title": "p|Preto",
                                "cost_price": "0.00",
                                "sale_price": "60.00",
                                "old_price": "0.00",
                                "slug": "tamanho:p|cor:preto",
                                "aliexpress_sku": "",
                                "image_id": "242"
                              },
                              {
                                "id": "249",
                                "sku": "789",
                                "bar_code": "7890",
                                "automatic_stock": "1",
                                "quantity": "2",
                                "weight": "0",
                                "width": "0",
                                "height": "0",
                                "length": "0",
                                "title": "p|Azul",
                                "cost_price": "0.00",
                                "sale_price": "60.00",
                                "old_price": "0.00",
                                "slug": "tamanho:p|cor:azul",
                                "aliexpress_sku": "",
                                "image_id": "242"
                              },
                              {
                                "id": "248",
                                "sku": "456",
                                "bar_code": "4567",
                                "automatic_stock": "1",
                                "quantity": "2",
                                "weight": "0",
                                "width": "0",
                                "height": "0",
                                "length": "0",
                                "title": "M|Preto",
                                "cost_price": "0.00",
                                "sale_price": "60.00",
                                "old_price": "0.00",
                                "slug": "tamanho:m|cor:preto",
                                "aliexpress_sku": "",
                                "image_id": "241"
                              },
                              {
                                "id": "247",
                                "sku": "123",
                                "bar_code": "1234",
                                "automatic_stock": "1",
                                "quantity": "2",
                                "weight": "10",
                                "width": "20",
                                "height": "30",
                                "length": "40",
                                "title": "M|Azul",
                                "cost_price": "0.00",
                                "sale_price": "60.00",
                                "old_price": "0.00",
                                "slug": "tamanho:m|cor:azul",
                                "aliexpress_sku": "12345",
                                "image_id": "240"
                              }
                            ],
                            "variants_items": [
                              {
                                "id": "59",
                                "title": "Tamanho",
                                "variant_values": "p,m"
                              },
                              {
                                "id": "58",
                                "title": "Cor",
                                "variant_values": "Azul,Preto"
                              }
                            ],
                            "images": [
                              {
                                "id": "240",
                                "position": "2",
                                "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/840d1536189cff76898d95a53af5fa12.jpg",
                                "created_at": "2021-04-27 14:34:17",
                                "reference": "1"
                              },
                              {
                                "id": "241",
                                "position": "1",
                                "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/7e4164f85d87b1044b8aabae74d88a35.jpg",
                                "created_at": "2021-04-27 14:34:17",
                                "reference": "2"
                              },
                              {
                                "id": "242",
                                "position": "3",
                                "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/c8ff43da2338a05c585f6f015b7ddcce.jpg",
                                "created_at": "2021-04-27 14:34:17",
                                "reference": "3"
                              }
                            ]
                          }
                        ]
                      },
                      "status_code": 201,
                      "method": "POST"
                    }
                  },
                  "Success - No variation": {
                    "value": {
                      "result": {
                        "message": "Created product",
                        "product": [
                          {
                            "id": "42",
                            "has_variant": "0",
                            "status": "1",
                            "title": "Teste Sem Variação - V2",
                            "product_type": "physical",
                            "seo_title": "Teste Sem Variação - V2",
                            "seo_desc": "Teste Sem Variação - V2",
                            "seo_url": "teste-sem-variacao-v2",
                            "created_at": "2021-04-27 14:43:07",
                            "updated_at": null,
                            "aliexpress_url": "1",
                            "aliexpress_id": "2",
                            "aliexpress_seller": "3",
                            "enable_dropshipping": "0",
                            "ncm_code": "4",
                            "gshop_condition": "1",
                            "gshop_age_group": "2",
                            "gshop_gender": "3",
                            "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                            "video_id": "1RnyZRpDSEc",
                            "video_platform": "YouTube",
                            "sku": "123",
                            "bar_code": "123123",
                            "automatic_stock": "1",
                            "quantity": "2",
                            "weight": "10",
                            "width": "20",
                            "height": "30",
                            "length": "40",
                            "cost_price": "10.00",
                            "sale_price": "60.00",
                            "old_price": "20.00",
                            "slug": "tamanho:m|cor:azul",
                            "aliexpress_sku": "12345",
                            "images": [
                              {
                                "position": "2",
                                "image": "https://app.lpqv.com.br/uploads/store-pet/products/42/images/03d8d1421f93bf947103f7319b0322ab.jpg",
                                "created_at": "2021-04-27 14:43:07",
                                "reference": "1"
                              },
                              {
                                "position": "1",
                                "image": "https://app.lpqv.com.br/uploads/store-pet/products/42/images/608f8cb03c504fbf4fcdec12180777a5.jpg",
                                "created_at": "2021-04-27 14:43:08",
                                "reference": "2"
                              }
                            ]
                          }
                        ]
                      },
                      "status_code": 201,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Generates a new product registration and its dependencies.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "has_variant": {
                    "type": "number",
                    "description": "product with variation: 1 | without variation: 0"
                  },
                  "status": {
                    "description": "1 is active, 0 is inactive",
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "product_type": {
                    "type": "string",
                    "description": "physical or digital"
                  },
                  "aliexpress_url": {
                    "type": "string"
                  },
                  "aliexpress_id": {
                    "type": "string"
                  },
                  "aliexpress_seller": {
                    "type": "string"
                  },
                  "enable_dropshipping": {
                    "type": "string"
                  },
                  "ncm_code": {
                    "type": "string"
                  },
                  "gshop_condition": {
                    "type": "string",
                    "description": "new, used or refurbished\n"
                  },
                  "gshop_age_group": {
                    "type": "string",
                    "description": "newborn, infant, toddler, kids or adult\n"
                  },
                  "gshop_gender": {
                    "type": "string",
                    "description": "female, male or unisex"
                  },
                  "video_url": {
                    "type": "string"
                  },
                  "video_id": {
                    "type": "string"
                  },
                  "video_platform": {
                    "type": "string",
                    "description": "youtube ou vimeo"
                  },
                  "sku": {
                    "type": "string",
                    "description": "product identification, tracking and inventory"
                  },
                  "bar_code": {
                    "type": "string"
                  },
                  "automatic_stock": {
                    "type": "number",
                    "description": "1 is active, 0 is inactive"
                  },
                  "quantity": {
                    "description": "",
                    "type": "number"
                  },
                  "weight": {
                    "type": "string",
                    "description": "kilo"
                  },
                  "width": {
                    "type": "string",
                    "description": "centimeters"
                  },
                  "height": {
                    "type": "string",
                    "description": "centimeters"
                  },
                  "length": {
                    "type": "string",
                    "description": "centimeters"
                  },
                  "cost_price": {
                    "type": "string",
                    "description": "double (0.00)"
                  },
                  "sale_price": {
                    "type": "string",
                    "description": "double (0.00)"
                  },
                  "old_price": {
                    "type": "string",
                    "description": "double (0.00)"
                  },
                  "slug": {
                    "type": "string",
                    "description": "combination enters the variation and value divided by | size:p|color:blue or size:p "
                  },
                  "aliexpress_sku": {
                    "type": "string"
                  },
                  "image_id": {
                    "type": "number",
                    "description": "Regarding the image id of the image array"
                  },
                  "variants": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "sku": {
                          "type": "string",
                          "description": "product identification, tracking and inventory"
                        },
                        "bar_code": {
                          "type": "string"
                        },
                        "automatic_stock": {
                          "type": "number",
                          "description": "1 is active, 0 is inactive"
                        },
                        "quantity": {
                          "type": "string"
                        },
                        "weight": {
                          "type": "string",
                          "description": "kilo"
                        },
                        "width": {
                          "type": "string",
                          "description": "centimeters"
                        },
                        "height": {
                          "type": "string",
                          "description": "centimeters"
                        },
                        "length": {
                          "type": "string",
                          "description": "centimeters"
                        },
                        "title": {
                          "type": "string"
                        },
                        "cost_price": {
                          "type": "string",
                          "description": "double (0.00)"
                        },
                        "sale_price": {
                          "type": "string",
                          "description": "double (0.00)"
                        },
                        "old_price": {
                          "type": "string",
                          "description": "double (0.00)"
                        },
                        "slug": {
                          "type": "string",
                          "description": "combination enters the variation and value divided by | size:p|color:blue or size:p "
                        },
                        "aliexpress_sku": {
                          "type": "string"
                        },
                        "image_id": {
                          "type": "number",
                          "description": "Regarding the image id of the image array"
                        }
                      },
                      "required": [
                        "sku"
                      ]
                    }
                  },
                  "images": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "position": {
                          "type": "number",
                          "description": "order of display of the photos"
                        },
                        "image": {
                          "type": "string",
                          "description": "photo url"
                        }
                      }
                    }
                  },
                  "variants_items": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "variant_values": {
                          "type": "string",
                          "description": "\nfor more values sort by ',' Ex: Blue,Black"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "has_variant",
                  "sku"
                ]
              },
              "examples": {
                "With variation": {
                  "value": {
                    "has_variant": "1",
                    "status": "1",
                    "title": "Teste Com Variação - v2",
                    "product_type": "physical",
                    "aliexpress_url": "https://pt.aliexpress.com/item/1005001966343675.html?spm=a2g0o.productlist.0.0.50987d6bVePs3F&algo_pvid=b561f8de-5011-46de-9f21-4401fbcf2f67&algo_expid=b561f8de-5011-46de-9f21-4401fbcf2f67-0&btsid=0bb0624316195439930215026e95b5&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_",
                    "aliexpress_id": "1255477",
                    "aliexpress_seller": "888888",
                    "enable_dropshipping": "1",
                    "ncm_code": "4",
                    "gshop_condition": "new",
                    "gshop_age_group": "adult",
                    "gshop_gender": "unisex",
                    "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                    "video_id": "1RnyZRpDSEc",
                    "video_platform": "YouTube",
                    "variants": [
                      {
                        "sku": "123",
                        "bar_code": "1234",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "10",
                        "width": "20",
                        "height": "30",
                        "length": "40",
                        "title": "M|Azul",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:m|cor:azul",
                        "aliexpress_sku": "12345",
                        "image_id": "1"
                      },
                      {
                        "sku": "456",
                        "bar_code": "4567",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "M|Preto",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:m|cor:preto",
                        "aliexpress_sku": "",
                        "image_id": "2"
                      },
                      {
                        "sku": "789",
                        "bar_code": "7890",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "p|Azul",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:p|cor:azul",
                        "aliexpress_sku": "",
                        "image_id": "3"
                      },
                      {
                        "sku": "60123OITO",
                        "bar_code": "60123OITOBARCODE",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "p|Preto",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:p|cor:preto",
                        "aliexpress_sku": "",
                        "image_id": "3"
                      }
                    ],
                    "images": [
                      {
                        "id": "1",
                        "position": "2",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      },
                      {
                        "id": "2",
                        "position": "1",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      },
                      {
                        "id": "3",
                        "position": "3",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      }
                    ],
                    "variants_items": [
                      {
                        "title": "Cor",
                        "variant_values": "Azul,Preto"
                      },
                      {
                        "title": "Tamanho",
                        "variant_values": "p,m"
                      }
                    ]
                  }
                },
                "No variation": {
                  "value": {
                    "has_variant": "0",
                    "status": "1",
                    "title": "Teste Sem Variação - V2",
                    "product_type": "physical",
                    "aliexpress_url": "1",
                    "aliexpress_id": "2",
                    "aliexpress_seller": "3",
                    "enable_dropshipping": "0",
                    "ncm_code": "4",
                    "gshop_condition": "new",
                    "gshop_age_group": "adult",
                    "gshop_gender": "unisex",
                    "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                    "video_id": "1RnyZRpDSEc",
                    "video_platform": "YouTube",
                    "sku": "123",
                    "bar_code": "123123",
                    "automatic_stock": "1",
                    "quantity": "2",
                    "weight": "10",
                    "width": "20",
                    "height": "30",
                    "length": "40",
                    "cost_price": "10.00",
                    "sale_price": "60.00",
                    "old_price": "20.00",
                    "slug": "tamanho:m|cor:azul",
                    "aliexpress_sku": "12345",
                    "image_id": "1",
                    "images": [
                      {
                        "id": "1",
                        "position": "2",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      },
                      {
                        "id": "2",
                        "position": "1",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      }
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": "Check the request body (product with variation (1) or without variation (0) ** {has_variant} **)"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    },
    "{slug-landingpage}/products/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "required": true,
          "description": "prefix used in the domain"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Product ID"
        }
      ],
      "put": {
        "summary": "Update a product",
        "operationId": "put-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product": {
                          "type": "array",
                          "items": {
                            "required": [],
                            "properties": {}
                          }
                        }
                      },
                      "required": [
                        "message",
                        "product"
                      ]
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ],
                  "x-examples": {
                    "example-1": {
                      "result": {
                        "message": "Product update",
                        "product": []
                      },
                      "status_code": 200,
                      "method": "PUT"
                    }
                  }
                },
                "examples": {
                  "Success - With variation": {
                    "value": {
                      "result": {
                        "message": "Product update",
                        "product": [
                          {
                            "id": "40",
                            "has_variant": "1",
                            "status": "1",
                            "title": "Teste Com Variação - v2",
                            "product_type": "physical",
                            "seo_title": "Teste Com Variação - v2",
                            "seo_desc": "Teste Com Variação - v2",
                            "seo_url": "teste-com-variacao-v2",
                            "created_at": "2021-04-27 14:34:15",
                            "updated_at": null,
                            "aliexpress_url": "https://pt.aliexpress.com/item/1005001966343675.html?spm=a2g0o.productlist.0.0.50987d6bVePs3F&algo_pvid=b561f8de-5011-46de-9f21-4401fbcf2f67&algo_expid=b561f8de-5011-46de-9f21-4401fbcf2f67-0&btsid=0bb0624316195439930215026e95b5&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_",
                            "aliexpress_id": "1255477",
                            "aliexpress_seller": "888888",
                            "enable_dropshipping": "1",
                            "ncm_code": "4",
                            "gshop_condition": "1",
                            "gshop_age_group": "2",
                            "gshop_gender": "3",
                            "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                            "video_id": "1RnyZRpDSEc",
                            "video_platform": "YouTube",
                            "variants": [
                              {
                                "id": "250",
                                "sku": "60123OITO",
                                "bar_code": "60123OITOBARCODE",
                                "automatic_stock": "1",
                                "quantity": "2",
                                "weight": "0",
                                "width": "0",
                                "height": "0",
                                "length": "0",
                                "title": "p|Preto",
                                "cost_price": "0.00",
                                "sale_price": "60.00",
                                "old_price": "0.00",
                                "slug": "tamanho:p|cor:preto",
                                "aliexpress_sku": "",
                                "image_id": "242"
                              },
                              {
                                "id": "249",
                                "sku": "789",
                                "bar_code": "7890",
                                "automatic_stock": "1",
                                "quantity": "2",
                                "weight": "0",
                                "width": "0",
                                "height": "0",
                                "length": "0",
                                "title": "p|Azul",
                                "cost_price": "0.00",
                                "sale_price": "60.00",
                                "old_price": "0.00",
                                "slug": "tamanho:p|cor:azul",
                                "aliexpress_sku": "",
                                "image_id": "242"
                              },
                              {
                                "id": "248",
                                "sku": "456",
                                "bar_code": "4567",
                                "automatic_stock": "1",
                                "quantity": "2",
                                "weight": "0",
                                "width": "0",
                                "height": "0",
                                "length": "0",
                                "title": "M|Preto",
                                "cost_price": "0.00",
                                "sale_price": "60.00",
                                "old_price": "0.00",
                                "slug": "tamanho:m|cor:preto",
                                "aliexpress_sku": "",
                                "image_id": "241"
                              },
                              {
                                "id": "247",
                                "sku": "123",
                                "bar_code": "1234",
                                "automatic_stock": "1",
                                "quantity": "2",
                                "weight": "10",
                                "width": "20",
                                "height": "30",
                                "length": "40",
                                "title": "M|Azul",
                                "cost_price": "0.00",
                                "sale_price": "60.00",
                                "old_price": "0.00",
                                "slug": "tamanho:m|cor:azul",
                                "aliexpress_sku": "12345",
                                "image_id": "240"
                              }
                            ],
                            "variants_items": [
                              {
                                "id": "59",
                                "title": "Tamanho",
                                "variant_values": "p,m"
                              },
                              {
                                "id": "58",
                                "title": "Cor",
                                "variant_values": "Azul,Preto"
                              }
                            ],
                            "images": [
                              {
                                "id": "240",
                                "position": "2",
                                "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/840d1536189cff76898d95a53af5fa12.jpg",
                                "created_at": "2021-04-27 14:34:17",
                                "reference": "1"
                              },
                              {
                                "id": "241",
                                "position": "1",
                                "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/7e4164f85d87b1044b8aabae74d88a35.jpg",
                                "created_at": "2021-04-27 14:34:17",
                                "reference": "2"
                              },
                              {
                                "id": "242",
                                "position": "3",
                                "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/c8ff43da2338a05c585f6f015b7ddcce.jpg",
                                "created_at": "2021-04-27 14:34:17",
                                "reference": "3"
                              }
                            ]
                          }
                        ]
                      },
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "Success - No variation": {
                    "value": {
                      "result": {
                        "message": "Product update",
                        "product": [
                          {
                            "id": "1",
                            "has_variant": "0",
                            "status": "1",
                            "title": "Teste Sem Variação Update",
                            "product_type": "physical",
                            "seo_title": "Teste Sem Variação Update",
                            "seo_desc": "Teste Sem Variação Update",
                            "seo_url": "teste-sem-variacao-update",
                            "created_at": "2021-04-22 14:43:31",
                            "updated_at": "2021-04-22 14:54:05",
                            "aliexpress_url": "1",
                            "aliexpress_id": "2",
                            "aliexpress_seller": "3",
                            "enable_dropshipping": "0",
                            "ncm_code": "4",
                            "gshop_condition": "1",
                            "gshop_age_group": "2",
                            "gshop_gender": "3",
                            "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                            "video_id": "1RnyZRpDSEc",
                            "video_platform": "YouTube",
                            "sku": "123",
                            "bar_code": null,
                            "automatic_stock": "1",
                            "quantity": "2",
                            "weight": "0",
                            "width": "0",
                            "height": "0",
                            "length": "0",
                            "cost_price": "0.00",
                            "sale_price": "60.00",
                            "old_price": "0.00",
                            "slug": "tamanho:m|cor:azul",
                            "aliexpress_sku": "12345",
                            "images": [
                              {
                                "position": "1",
                                "image": "https://app.lpqv.com.br/uploads/img/store-pet/products/1/images/7e418d61128040b3cff15f16a91485af.jpg",
                                "created_at": "2021-04-22 14:53:10",
                                "reference": "2"
                              },
                              {
                                "position": "2",
                                "image": "https://app.lpqv.com.br/uploads/img/store-pet/products/1/images/dcf0f8e10edbd7d893d73b301efec195.jpg",
                                "created_at": "2021-04-22 14:53:10",
                                "reference": "1"
                              },
                              {
                                "position": "3",
                                "image": "https://app.lpqv.com.br/uploads/img/store-pet/products/1/images/774615713fce35c87e4e3228c27ffac5.jpg",
                                "created_at": "2021-04-22 14:53:10",
                                "reference": "3"
                              }
                            ]
                          }
                        ]
                      },
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Product not updated"
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates the product information and its dependencies with the corresponding product ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "has_variant": {
                    "type": "number",
                    "description": "product with variation: 1 | without variation: 0"
                  },
                  "status": {
                    "type": "number",
                    "description": "1 is active, 0 is inactive"
                  },
                  "title": {
                    "type": "string"
                  },
                  "product_type": {
                    "type": "string",
                    "description": "physical or digital"
                  },
                  "aliexpress_url": {
                    "type": "string"
                  },
                  "aliexpress_id": {
                    "type": "string"
                  },
                  "aliexpress_seller": {
                    "type": "string"
                  },
                  "ncm_code": {
                    "type": "string"
                  },
                  "gshop_condition": {
                    "type": "string",
                    "description": "new, used or refurbished"
                  },
                  "gshop_age_group": {
                    "type": "string",
                    "description": "newborn, infant, toddler, kids or adult\n"
                  },
                  "gshop_gender": {
                    "type": "string",
                    "description": "female, male or unisex"
                  },
                  "video_url": {
                    "type": "string"
                  },
                  "video_id": {
                    "type": "string"
                  },
                  "video_platform": {
                    "type": "string",
                    "description": "youtube or vimeo"
                  },
                  "sku": {
                    "type": "string",
                    "description": "product identification, tracking and inventory"
                  },
                  "bar_code": {
                    "type": "string"
                  },
                  "automatic_stock": {
                    "type": "number",
                    "description": "1 is active, 0 is inactive"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "string",
                    "description": "kilo"
                  },
                  "width": {
                    "type": "string",
                    "description": "centimeters"
                  },
                  "height": {
                    "type": "string",
                    "description": "centimeters"
                  },
                  "length": {
                    "type": "string",
                    "description": "centimeters"
                  },
                  "cost_price": {
                    "type": "string",
                    "description": "double (0.00)"
                  },
                  "sale_price": {
                    "type": "string",
                    "description": "double (0.00)"
                  },
                  "old_price": {
                    "type": "string",
                    "description": "double (0.00)"
                  },
                  "slug": {
                    "type": "string",
                    "description": "combination enters the variation and value divided by | size:p|color:blue or size:p "
                  },
                  "aliexpress_sku": {
                    "type": "string"
                  },
                  "image_id": {
                    "type": "number",
                    "description": "Regarding the image id of the image array"
                  },
                  "variants": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "sku": {
                          "type": "string",
                          "description": "product identification, tracking and inventory"
                        },
                        "bar_code": {
                          "type": "string"
                        },
                        "automatic_stock": {
                          "type": "number",
                          "description": "1 is active, 0 is inactive"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "string",
                          "description": "kilo\n"
                        },
                        "width": {
                          "type": "string",
                          "description": "centimeters"
                        },
                        "height": {
                          "type": "string",
                          "description": "centimeters"
                        },
                        "length": {
                          "type": "string",
                          "description": "centimeters"
                        },
                        "title": {
                          "type": "string"
                        },
                        "cost_price": {
                          "type": "string",
                          "description": "double (0.00)"
                        },
                        "sale_price": {
                          "type": "string",
                          "description": "double (0.00)"
                        },
                        "old_price": {
                          "type": "string",
                          "description": "double (0.00)"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "aliexpress_sku": {
                          "type": "string"
                        },
                        "image_id": {
                          "type": "number",
                          "description": "Regarding the image id of the image array"
                        }
                      },
                      "required": [
                        "sku"
                      ]
                    }
                  },
                  "images": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "position": {
                          "type": "number",
                          "description": "order of display of the photos"
                        },
                        "image": {
                          "type": "string",
                          "description": "image url"
                        }
                      }
                    }
                  },
                  "variants_items": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "variant_values": {
                          "type": "string",
                          "description": "\nfor more values sort by ',' Ex: Blue,Black"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "has_variant",
                  "sku"
                ]
              },
              "examples": {
                "With variation": {
                  "value": {
                    "has_variant": "1",
                    "status": "1",
                    "title": "Teste Com Variação - v2",
                    "product_type": "physical",
                    "aliexpress_url": "https://pt.aliexpress.com/item/1005001966343675.html?spm=a2g0o.productlist.0.0.50987d6bVePs3F&algo_pvid=b561f8de-5011-46de-9f21-4401fbcf2f67&algo_expid=b561f8de-5011-46de-9f21-4401fbcf2f67-0&btsid=0bb0624316195439930215026e95b5&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_",
                    "aliexpress_id": "1255477",
                    "aliexpress_seller": "888888",
                    "enable_dropshipping": "1",
                    "ncm_code": "4",
                    "gshop_condition": "new",
                    "gshop_age_group": "adult",
                    "gshop_gender": "unisex",
                    "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                    "video_id": "1RnyZRpDSEc",
                    "video_platform": "YouTube",
                    "variants": [
                      {
                        "sku": "123",
                        "bar_code": "1234",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "10",
                        "width": "20",
                        "height": "30",
                        "length": "40",
                        "title": "M|Azul",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:m|cor:azul",
                        "aliexpress_sku": "12345",
                        "image_id": "1"
                      },
                      {
                        "sku": "456",
                        "bar_code": "4567",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "M|Preto",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:m|cor:preto",
                        "aliexpress_sku": "",
                        "image_id": "2"
                      },
                      {
                        "sku": "789",
                        "bar_code": "7890",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "p|Azul",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:p|cor:azul",
                        "aliexpress_sku": "",
                        "image_id": "3"
                      },
                      {
                        "sku": "60123OITO",
                        "bar_code": "60123OITOBARCODE",
                        "automatic_stock": "1",
                        "quantity": "2",
                        "weight": "0",
                        "width": "0",
                        "height": "0",
                        "length": "0",
                        "title": "p|Preto",
                        "cost_price": "0.00",
                        "sale_price": "60.00",
                        "old_price": "0.00",
                        "slug": "tamanho:p|cor:preto",
                        "aliexpress_sku": "",
                        "image_id": "3"
                      }
                    ],
                    "images": [
                      {
                        "id": "1",
                        "position": "2",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      },
                      {
                        "id": "2",
                        "position": "1",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      },
                      {
                        "id": "3",
                        "position": "3",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      }
                    ],
                    "variants_items": [
                      {
                        "title": "Cor",
                        "variant_values": "Azul,Preto"
                      },
                      {
                        "title": "Tamanho",
                        "variant_values": "p,m"
                      }
                    ]
                  }
                },
                "No variation": {
                  "value": {
                    "has_variant": "0",
                    "status": "1",
                    "title": "Teste Sem Variação - V2",
                    "product_type": "physical",
                    "aliexpress_url": "1",
                    "aliexpress_id": "2",
                    "aliexpress_seller": "3",
                    "enable_dropshipping": "0",
                    "ncm_code": "4",
                    "gshop_condition": "new",
                    "gshop_age_group": "adult",
                    "gshop_gender": "unisex",
                    "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                    "video_id": "1RnyZRpDSEc",
                    "video_platform": "YouTube",
                    "sku": "123",
                    "bar_code": "123123",
                    "automatic_stock": "1",
                    "quantity": "2",
                    "weight": "10",
                    "width": "20",
                    "height": "30",
                    "length": "40",
                    "cost_price": "10.00",
                    "sale_price": "60.00",
                    "old_price": "20.00",
                    "slug": "tamanho:m|cor:azul",
                    "aliexpress_sku": "12345",
                    "image_id": "1",
                    "images": [
                      {
                        "id": "1",
                        "position": "2",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      },
                      {
                        "id": "2",
                        "position": "1",
                        "image": "http://i2.wp.com/app.lpqv.com.br/app/assets/dist/img/logo.png"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Check the request body (product with variation (1) or without variation (0) ** {has_variant} **)"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "delete": {
        "summary": "Delete a product",
        "operationId": "delete-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "product": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "id"
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "product"
                      ]
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ],
                  "x-examples": {
                    "example-1": {
                      "result": {
                        "message": "Product removed",
                        "product": {
                          "id": "12"
                        }
                      },
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": {
                        "message": "Product removed",
                        "product": {
                          "id": "12"
                        }
                      },
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "There is no product to delete"
                        }
                      ],
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete the product and its dependencies with the corresponding product ID.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "get": {
        "summary": "Get a product",
        "operationId": "get-slug-landingpage-products-id",
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "has_variant": {
                      "description": "product with variation: 1 | without variation: 0",
                      "type": "number"
                    },
                    "status": {
                      "description": "1 is active, 0 is inactive",
                      "type": "number"
                    },
                    "title": {
                      "type": "string"
                    },
                    "product_type": {
                      "type": "string",
                      "description": "physical or digital"
                    },
                    "aliexpress_url": {
                      "type": "string"
                    },
                    "aliexpress_id": {
                      "type": "string"
                    },
                    "aliexpress_seller": {
                      "type": "string"
                    },
                    "ncm_code": {
                      "type": "string"
                    },
                    "gshop_condition": {
                      "type": "string",
                      "description": "new, used or refurbished\n"
                    },
                    "gshop_age_group": {
                      "type": "string",
                      "description": "newborn, infant, toddler, kids or adult\n"
                    },
                    "gshop_gender": {
                      "type": "string",
                      "description": "female, male or unisex"
                    },
                    "video_url": {
                      "type": "string"
                    },
                    "video_id": {
                      "type": "string"
                    },
                    "video_platform": {
                      "type": "string",
                      "description": "youtube or vimeo"
                    },
                    "sku": {
                      "type": "string",
                      "description": "product identification, tracking and inventory"
                    },
                    "bar_code": {
                      "type": "string"
                    },
                    "automatic_stock": {
                      "type": "number",
                      "description": "1 is active, 0 is inactive"
                    },
                    "quantity": {
                      "type": "number"
                    },
                    "weight": {
                      "type": "string",
                      "description": "kilo"
                    },
                    "width": {
                      "type": "string",
                      "description": "centimeters"
                    },
                    "height": {
                      "type": "string",
                      "description": "centimeters"
                    },
                    "length": {
                      "type": "string",
                      "description": "centimeters"
                    },
                    "cost_price": {
                      "type": "string",
                      "description": "double (0.00)"
                    },
                    "sale_price": {
                      "type": "string",
                      "description": "double (0.00)"
                    },
                    "old_price": {
                      "type": "string",
                      "description": "double (0.00)"
                    },
                    "slug": {
                      "type": "string",
                      "description": "combination enters the variation and value divided by | size:p|color:blue or size:p "
                    },
                    "aliexpress_sku": {
                      "type": "string"
                    },
                    "image_id": {
                      "type": "number",
                      "description": "Regarding the image id of the image array"
                    },
                    "variants": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string",
                            "description": "product identification, tracking and inventory"
                          },
                          "bar_code": {
                            "type": "string"
                          },
                          "automatic_stock": {
                            "type": "number",
                            "description": "1 is active, 0 is inactive"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "string",
                            "description": "kilo"
                          },
                          "width": {
                            "type": "string",
                            "description": "centimeters"
                          },
                          "height": {
                            "type": "string",
                            "description": "centimeters"
                          },
                          "length": {
                            "type": "string",
                            "description": "centimeters"
                          },
                          "title": {
                            "type": "string"
                          },
                          "cost_price": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "sale_price": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "old_price": {
                            "type": "string",
                            "description": "double (0.00)"
                          },
                          "slug": {
                            "type": "string",
                            "description": ""
                          },
                          "aliexpress_sku": {
                            "type": "string"
                          },
                          "image_id": {
                            "type": "number",
                            "description": "Regarding the image id of the image array"
                          }
                        },
                        "required": [
                          "sku"
                        ]
                      }
                    },
                    "images": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "position": {
                            "type": "number",
                            "description": "order of display of the photos"
                          },
                          "image": {
                            "type": "string",
                            "description": "image url"
                          }
                        }
                      }
                    },
                    "variants_items": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "variant_values": {
                            "type": "string",
                            "description": "\nfor more values sort by ',' Ex: Blue,Black"
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "has_variant",
                    "sku"
                  ]
                },
                "examples": {
                  "Success - With variation": {
                    "value": {
                      "result": [
                        {
                          "id": "40",
                          "has_variant": "1",
                          "status": "1",
                          "title": "Teste Com Variação - v2",
                          "product_type": "physical",
                          "seo_title": "Teste Com Variação - v2",
                          "seo_desc": "Teste Com Variação - v2",
                          "seo_url": "teste-com-variacao-v2",
                          "created_at": "2021-04-27 14:34:15",
                          "updated_at": null,
                          "aliexpress_url": "https://pt.aliexpress.com/item/1005001966343675.html?spm=a2g0o.productlist.0.0.50987d6bVePs3F&algo_pvid=b561f8de-5011-46de-9f21-4401fbcf2f67&algo_expid=b561f8de-5011-46de-9f21-4401fbcf2f67-0&btsid=0bb0624316195439930215026e95b5&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_",
                          "aliexpress_id": "1255477",
                          "aliexpress_seller": "888888",
                          "enable_dropshipping": "1",
                          "ncm_code": "4",
                          "gshop_condition": "new",
                          "gshop_age_group": "adult",
                          "gshop_gender": "unisex",
                          "video_url": "https://www.youtube.com/watch?v=1RnyZRpDSEc",
                          "video_id": "1RnyZRpDSEc",
                          "video_platform": "YouTube",
                          "variants": [
                            {
                              "id": "250",
                              "sku": "60123OITO",
                              "bar_code": "60123OITOBARCODE",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "p|Preto",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:p|cor:preto",
                              "aliexpress_sku": "",
                              "image_id": "242"
                            },
                            {
                              "id": "249",
                              "sku": "789",
                              "bar_code": "7890",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "p|Azul",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:p|cor:azul",
                              "aliexpress_sku": "",
                              "image_id": "242"
                            },
                            {
                              "id": "248",
                              "sku": "456",
                              "bar_code": "4567",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "0",
                              "width": "0",
                              "height": "0",
                              "length": "0",
                              "title": "M|Preto",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:m|cor:preto",
                              "aliexpress_sku": "",
                              "image_id": "241"
                            },
                            {
                              "id": "247",
                              "sku": "123",
                              "bar_code": "1234",
                              "automatic_stock": "1",
                              "quantity": "2",
                              "weight": "10",
                              "width": "20",
                              "height": "30",
                              "length": "40",
                              "title": "M|Azul",
                              "cost_price": "0.00",
                              "sale_price": "60.00",
                              "old_price": "0.00",
                              "slug": "tamanho:m|cor:azul",
                              "aliexpress_sku": "12345",
                              "image_id": "240"
                            }
                          ],
                          "variants_items": [
                            {
                              "id": "59",
                              "title": "Tamanho",
                              "variant_values": "p,m"
                            },
                            {
                              "id": "58",
                              "title": "Cor",
                              "variant_values": "Azul,Preto"
                            }
                          ],
                          "images": [
                            {
                              "id": "240",
                              "position": "2",
                              "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/840d1536189cff76898d95a53af5fa12.jpg",
                              "created_at": "2021-04-27 14:34:17",
                              "reference": "1"
                            },
                            {
                              "id": "241",
                              "position": "1",
                              "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/7e4164f85d87b1044b8aabae74d88a35.jpg",
                              "created_at": "2021-04-27 14:34:17",
                              "reference": "2"
                            },
                            {
                              "id": "242",
                              "position": "3",
                              "image": "https://app.lpqv.com.br/uploads/store-pet/products/40/images/c8ff43da2338a05c585f6f015b7ddcce.jpg",
                              "created_at": "2021-04-27 14:34:17",
                              "reference": "3"
                            }
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Success - No variation": {
                    "value": {
                      "result": [
                        {
                          "id": "42",
                          "has_variant": "0",
                          "status": "1",
                          "title": "Teste Sem Variação - V2",
                          "product_type": "physical",
                          "seo_title": "Teste Sem Variação - V2",
                          "seo_desc": "Teste Sem Variação - V2",
                          "seo_url": "teste-sem-variacao-v2",
                          "created_at": "2021-04-27 14:43:07",
                          "updated_at": null,
                          "aliexpress_url": "1",
                          "aliexpress_id": "2",
                          "aliexpress_seller": "3",
[...]
