{
  "openapi": "3.0.0",
  "info": {
    "title": "Webhooks",
    "version": "",
    "description": "Through this reference you can consult or insert webhooks.\n\n\n**Webhook example**\n\n- Here's an example of an **checkout.abandoned** webhook we sent (product and order returns follow the get pattern of your endpoints):\n\n\n```json\n{\n  \"signature\": \"1b9bde223175311fdf4489a0331f65e51c2a51b65\",\n  \"slug-landingpage\": \"dogcenter\",\n  \"response\": {\n    \"id\": \"643\",\n    \"token\": \"0j6daxzcyl-18295118x6771339eb4c1232fafba3b-6u9rp74l33fp5k77cidki9s7u4\",\n    \"created_at\": \"2023-05-12 11:19:36\",\n    \"customer_name\": \"Adriano Marques\",\n    \"lp_id\": \"37\",\n    \"customer_email\": \"dogcenter@hotmail.com\",\n    \"cart_url\": \"https://dogcenter.lpqv.io/checkout/0x22zcyl-182951186771339eb4c1381a6fafba3b-6u9rp74l33fp5k77cidki9s7u4\",\n    \"customer_cell\": \"(11) 98854-7885\",\n    \"funnel\": \"1\",\n    \"produtos\": [\n      {\n        \"cart_id\": \"643\",\n        \"product_id\": \"727\",\n        \"product_sku\": \"\",\n        \"product_qtdy\": \"1\",\n        \"product_id_kit\": \"0\",\n        \"variant_sku\": \"EVDC0CGDZ:55312\",\n        \"id\": \"55312\",\n        \"sku\": \"EVDC0CGDZ:55312\",\n        \"bar_code\": \"\",\n        \"automatic_stock\": \"0\",\n        \"quantity\": \"0\",\n        \"weight\": \"0\",\n        \"width\": \"0\",\n        \"height\": \"0\",\n        \"length\": \"0\",\n        \"title\": \"Cor: Preta\",\n        \"cost_price\": \"199.90\",\n        \"sale_price\": \"199.90\",\n        \"old_price\": \"329.90\",\n        \"slug\": \"cor:preta\",\n        \"aliexpress_sku\": \"343:3443#bolsapreta\",\n        \"image_id\": \"16495\",\n        \"shopify_id\": \"43875921887466\",\n        \"kits_items\": \"0\",\n        \"product_type\": \"fisico\",\n        \"aliexpress_url\": null,\n        \"aliexpress_id\": null,\n        \"aliexpress_seller\": null,\n        \"ncm_code\": null,\n        \"seo_url\": \"bolsa-feminina-transversal-olivia\",\n        \"title_prod\": \"Bolsa Feminina Transversal Olivia\",\n        \"subtotal\": 199.9,\n        \"product_image\": \"https://app.lpqv.com.br/uploads/dogcenter/products/727/images/thumb-250-250/1_bf8afa90-8275-4d40-9992-90fefc6b1833.png\"\n      }\n    ],\n    \"event\": \"checkout.abandoned\"\n  }\n}\n```\n\n\n**Validation**\n\n- For security of the application you can check the webhook really came from LPQV.\n- The value returned by the function below must be the same received in the value **signature**\n- To do the validation it is necessary the ** token ** that you receive when creating a **webhook**\n- In the body of the webhook result sent to your endpoint, the triggered event is sent\n\n**Example** - PHP signature validation code\n\n```php\n<?php\n\nfunction make_signature($response, $webhook_token){\n  $hash = hash_hmac('sha1', $response, $webhook_token);\n  return $hash;\n}\n\n$input = json_decode(file_get_contents('php://input'), true);\n$response = $input['response'];\n$signature = $input['signature'];\n$webhook_token = '56daafff17f53f2cb5848744fbe02eee';\n$response = json_encode($response); \n\n$validate_signature = make_signature($response, $webhook_token);\n\nif($signature == $validate_signature){\n  echo 'valid';\n}else{\n  echo 'invalid';\n}\n\n?>\n```",
    "contact": {
      "email": "developers@lpquevende.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.lpquevende.com/"
    }
  ],
  "paths": {
    "/{slug-landingpage}/webhooks": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "description": "prefix used in the domain",
          "required": true
        }
      ],
      "get": {
        "summary": "Get all webhooks",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "result": [
                        {
                          "endpoint": "https://webhook/request",
                          "token": "406a33a841817ede139ae08a5423736a",
                          "events": [
                            "product.created",
                            "product.updated",
                            "product.deleted",
                            "order.created",
                            "order.paid",
                            "order.updated",
                            "order.canceled"
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string",
                            "minLength": 1
                          },
                          "token": {
                            "type": "string",
                            "minLength": 1
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "endpoint",
                          "token"
                        ]
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "id": "1",
                          "endpoint": "https://webhook/request",
                          "token": "406a33a841817ede139ae08a5423736a",
                          "events": [
                            "product.created",
                            "product.updated",
                            "product.deleted",
                            "order.created",
                            "order.paid",
                            "order.updated",
                            "order.canceled"
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-slug-landingpage-webhooks",
        "description": "Retrieves information from all webhooks and their dependencies.\n\n**Accept Events**\n\nEvent | Meaning\n--------- | ----------\nproduct.created | Product created\nproduct.updated | Product updated\nproduct.deleted | Product deleted\norder.created | Order created\norder.updated | Order updated\norder.paid | Order paid\norder.canceled | Order canceled\ncheckout.abandoned | Checkout abandoned",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "post": {
        "summary": "Create a webhook",
        "operationId": "post-slug-landingpage-webhooks",
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Error in the past parameters"
                        }
                      ],
                      "status_code": 200,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "result": {
                        "message": "Created webhook",
                        "webhook": [
                          {
                            "endpoint": "https://webhook/request",
                            "token": "8344af3ef73f25a4ce3b3066aad06420",
                            "events": [
                              "product.created",
                              "product.updated",
                              "product.deleted",
                              "order.created",
                              "order.paid",
                              "order.updated",
                              "order.canceled"
                            ]
                          }
                        ]
                      },
                      "status_code": 201,
                      "method": "POST"
                    }
                  },
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "message",
                        "webhook"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "webhook": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "endpoint": {
                                "type": "string",
                                "minLength": 1
                              },
                              "token": {
                                "type": "string",
                                "minLength": 1
                              },
                              "events": {
                                "type": "array",
                                "description": "['product.created', 'product.updated', 'product.deleted', 'order.created', 'order.paid', 'order.updated', 'order.canceled']",
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "required": [
                              "id",
                              "endpoint",
                              "token"
                            ]
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": {
                        "message": "Created webhook",
                        "webhook": [
                          {
                            "id": "1",
                            "endpoint": "https://webhook/request",
                            "token": "8344af3ef73f25a4ce3b3066aad06420",
                            "events": [
                              "product.created",
                              "product.updated",
                              "product.deleted",
                              "order.created",
                              "order.paid",
                              "order.updated",
                              "order.canceled"
                            ]
                          }
                        ]
                      },
                      "status_code": 201,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Generates a new webhook record and its dependencies.\n\n**Accept Events**\n\nEvent | Meaning\n--------- | ----------\nproduct.created | Product created\nproduct.updated | Product updated\nproduct.deleted | Product deleted\norder.created | Order created\norder.updated | Order updated\norder.paid | Order paid\norder.canceled | Order canceled\ncheckout.abandoned | Checkout abandoned\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "x-examples": {
                  "example-1": {
                    "endpoint": "https://webhook/request",
                    "events": [
                      "product.created",
                      "product.updated",
                      "product.deleted",
                      "order.created",
                      "order.paid",
                      "order.updated",
                      "order.canceled"
                    ]
                  }
                },
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Where we send the updates (URL)"
                  },
                  "events": {
                    "type": "array",
                    "description": "Accept: ['product.created', 'product.updated', 'product.deleted', 'order.created', 'order.paid', 'order.updated', 'order.canceled']",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "endpoint",
                  "events"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "endpoint": "https://webhook/request",
                    "events": [
                      "product.created",
                      "product.updated",
                      "product.deleted",
                      "order.created",
                      "order.paid",
                      "order.updated",
                      "order.canceled"
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": "Check the request body"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    },
    "/{slug-landingpage}/webhooks/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get a webhook",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "endpoint",
                          "token"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "endpoint": {
                            "type": "string",
                            "minLength": 1
                          },
                          "token": {
                            "type": "string",
                            "minLength": 1
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ],
                  "x-examples": {
                    "example-1": {
                      "result": [
                        {
                          "id": "1",
                          "endpoint": "https://webhook/request",
                          "token": "406a33a841817ede139ae08a5423736a",
                          "events": [
                            "product.created",
                            "product.updated",
                            "product.deleted",
                            "order.created",
                            "order.paid",
                            "order.updated",
                            "order.canceled"
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "id": "1",
                          "endpoint": "https://webhook/request",
                          "token": "406a33a841817ede139ae08a5423736a",
                          "events": [
                            "product.created",
                            "product.updated",
                            "product.deleted",
                            "order.created",
                            "order.paid",
                            "order.updated",
                            "order.canceled"
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-slug-landingpage-webhooks-id",
        "description": "Retrieves the webhook information and its dependencies with the corresponding webhook ID.\n\n**Accept Events**\n\nEvent | Meaning\n--------- | ----------\nproduct.created | Product created\nproduct.updated | Product updated\nproduct.deleted | Product deleted\norder.created | Order created\norder.updated | Order updated\norder.paid | Order paid\norder.canceled | Order canceled\ncheckout.abandoned | Checkout abandoned",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "API accepts only JSON type data",
            "required": true
          }
        ]
      },
      "put": {
        "summary": "Update a webhook",
        "operationId": "put-slug-landingpage-webhooks-id",
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "webhook": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "id",
                              "endpoint",
                              "token"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "endpoint": {
                                "type": "string",
                                "minLength": 1
                              },
                              "token": {
                                "type": "string",
                                "minLength": 1
                              },
                              "events": {
                                "type": "array",
                                "items": {
                                  "required": [],
                                  "properties": {}
                                }
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "message",
                        "webhook"
                      ]
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ],
                  "x-examples": {
                    "example-1": {
                      "result": {
                        "message": "Created update",
                        "webhook": [
                          {
                            "id": "7",
                            "endpoint": "https://webhook.site/89a6cf28-e1b7-4be8-ac33-b185f940b774",
                            "token": "509597888d4c872fb42b1b7245fc0993",
                            "events": [
                              "order.created",
                              "order.paid",
                              "order.updated",
                              "order.canceled"
                            ]
                          }
                        ]
                      },
                      "status_code": 200,
                      "method": "PUT"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": {
                        "message": "Webhook update",
                        "webhook": [
                          {
                            "id": "7",
                            "endpoint": "https://webhook/request",
                            "token": "509597888d4c872fb42b1b7245fc0993",
                            "events": [
                              "order.created",
                              "order.paid",
                              "order.updated",
                              "order.canceled"
                            ]
                          }
                        ]
                      },
                      "status_code": 200,
                      "method": "PUT"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Webhook not updated"
                        }
                      ],
                      "status_code": 200,
                      "method": "PUT"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates the webhook information with the corresponding webhook ID.\n\n**Accept Events**\n\nEvent | Meaning\n--------- | ----------\nproduct.created | Product created\nproduct.updated | Product updated\nproduct.deleted | Product deleted\norder.created | Order created\norder.updated | Order updated\norder.paid | Order paid\norder.canceled | Order canceled\ncheckout.abandoned | Checkout abandoned",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "API accepts only JSON type data",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "minLength": 1
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "required": [],
                      "properties": {}
                    }
                  }
                },
                "required": [
                  "endpoint",
                  "events"
                ],
                "x-examples": {
                  "example-1": {
                    "endpoint": "https://webhook/request",
                    "events": [
                      "product.created",
                      "product.updated",
                      "product.deleted",
                      "order.created",
                      "order.paid",
                      "order.updated",
                      "order.canceled"
                    ]
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "endpoint": "https://webhook/request",
                    "events": [
                      "product.created",
                      "product.updated",
                      "product.deleted",
                      "order.created",
                      "order.paid",
                      "order.updated",
                      "order.canceled"
                    ]
                  }
                }
              }
            }
          },
          "description": "Check the request body"
        }
      },
      "delete": {
        "summary": "Delete a webhook",
        "operationId": "delete-slug-landingpage-webhooks-id",
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "webhook": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "id"
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "webhook"
                      ]
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ],
                  "x-examples": {
                    "example-1": {
                      "result": {
                        "message": "Webhook removed",
                        "webhook": {
                          "id": "6"
                        }
                      },
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": {
                        "message": "Webhook removed",
                        "webhook": {
                          "id": "6"
                        }
                      },
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "There is no webhook to delete"
                        }
                      ],
                      "status_code": 200,
                      "method": "DELETE"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete the webhook and its dependencies with the corresponding webhook ID.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "API accepts only JSON type data",
            "required": true
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "TOKEN": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token provided for your landing page"
      }
    },
    "parameters": {}
  },
  "security": [
    {
      "TOKEN": []
    }
  ]
}