{
  "openapi": "3.0.0",
  "info": {
    "title": "Webhooks",
    "version": "",
    "description": "Through this reference you can consult or insert webhooks.\n\n\n**Validation**\n\nFor security of the application you can check the webhook really came from LPQV.\n\nThe value returned by the function below must be the same received in the value **signature** \n\nTo do the validation it is necessary the ** token ** that you receive when creating a **webhook**\n\n\n**Example** - PHP signature validation code\n\n```php\n<?php\n\nfunction make_signature($response, $webhook_token){\n  $hash = hash_hmac('sha1', $response, $webhook_token);\n  return $hash;\n}\n\n$input = json_decode(file_get_contents('php://input'), true);\n$response = $input['response'];\n$signature = $input['signature'];\n$webhook_token = '56daafff17f53f2cb5848744fbe02eee';\n$response = json_encode($response); \n\n$validate_signature = make_signature($response, $webhook_token);\n\nif($signature == $validate_signature){\n  echo 'valid';\n}else{\n  echo 'invalid';\n}\n\n?>",
    "contact": {
      "email": "developers@lpquevende.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.lpquevende.com/"
    }
  ],
  "paths": {
    "{slug-landingpage}/webhooks": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "slug-landingpage",
          "in": "path",
          "description": "prefix used in the domain",
          "required": true
        }
      ],
      "get": {
        "summary": "Get all webhooks",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "endpoint",
                          "token"
                        ],
                        "properties": {
                          "endpoint": {
                            "type": "string",
                            "minLength": 1
                          },
                          "token": {
                            "type": "string",
                            "minLength": 1
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ],
                  "x-examples": {
                    "example-1": {
                      "result": [
                        {
                          "endpoint": "https://webhook/request",
                          "token": "406a33a841817ede139ae08a5423736a",
                          "events": [
                            "product.created",
                            "product.updated",
                            "product.deleted",
                            "order.created",
                            "order.paid",
                            "order.updated",
                            "order.canceled"
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": [
                        {
                          "endpoint": "https://webhook/request",
                          "token": "406a33a841817ede139ae08a5423736a",
                          "events": [
                            "product.created",
                            "product.updated",
                            "product.deleted",
                            "order.created",
                            "order.paid",
                            "order.updated",
                            "order.canceled"
                          ]
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  },
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "No results"
                        }
                      ],
                      "status_code": 200,
                      "method": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-slug-landingpage-webhooks",
        "description": "Retrieves information from all webhooks and their dependencies.\n\n**Accept Events**\n\nEvent | Meaning\n--------- | ----------\nproduct.created | Product created\nproduct.updated | Product updated\nproduct.deleted | Product deleted\norder.created | Order created\norder.updated | Order updated\norder.paid | Order paid\norder.canceled | Order canceled",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      },
      "post": {
        "summary": "Create a webhook",
        "operationId": "post-slug-landingpage-webhooks",
        "responses": {
          "200": {
            "description": "OK - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "message"
                        ],
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Error": {
                    "value": {
                      "result": [
                        {
                          "message": "Error in the past parameters"
                        }
                      ],
                      "status_code": 200,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created - Request responses",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "result": {
                        "message": "Created webhook",
                        "webhook": [
                          {
                            "endpoint": "https://webhook/request",
                            "token": "8344af3ef73f25a4ce3b3066aad06420",
                            "events": [
                              "product.created",
                              "product.updated",
                              "product.deleted",
                              "order.created",
                              "order.paid",
                              "order.updated",
                              "order.canceled"
                            ]
                          }
                        ]
                      },
                      "status_code": 201,
                      "method": "POST"
                    }
                  },
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "message",
                        "webhook"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "webhook": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "type": "object",
                            "properties": {
                              "endpoint": {
                                "type": "string",
                                "minLength": 1
                              },
                              "token": {
                                "type": "string",
                                "minLength": 1
                              },
                              "events": {
                                "type": "array",
                                "description": "['product.created', 'product.updated', 'product.deleted', 'order.created', 'order.paid', 'order.updated', 'order.canceled']",
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "required": [
                              "endpoint",
                              "token"
                            ]
                          }
                        }
                      }
                    },
                    "status_code": {
                      "type": "number"
                    },
                    "method": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "result",
                    "status_code",
                    "method"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "result": {
                        "message": "Created webhook",
                        "webhook": [
                          {
                            "endpoint": "https://webhook/request",
                            "token": "8344af3ef73f25a4ce3b3066aad06420",
                            "events": [
                              "product.created",
                              "product.updated",
                              "product.deleted",
                              "order.created",
                              "order.paid",
                              "order.updated",
                              "order.canceled"
                            ]
                          }
                        ]
                      },
                      "status_code": 201,
                      "method": "POST"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Generates a new webhook record and its dependencies.\n\n**Accept Events**\n\nEvent | Meaning\n--------- | ----------\nproduct.created | Product created\nproduct.updated | Product updated\nproduct.deleted | Product deleted\norder.created | Order created\norder.updated | Order updated\norder.paid | Order paid\norder.canceled | Order canceled\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "x-examples": {
                  "example-1": {
                    "endpoint": "https://webhook/request",
                    "events": [
                      "product.created",
                      "product.updated",
                      "product.deleted",
                      "order.created",
                      "order.paid",
                      "order.updated",
                      "order.canceled"
                    ]
                  }
                },
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Where we send the updates (URL)"
                  },
                  "events": {
                    "type": "array",
                    "description": "Accept: ['product.created', 'product.updated', 'product.deleted', 'order.created', 'order.paid', 'order.updated', 'order.canceled']",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "endpoint",
                  "events"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "endpoint": "https://webhook/request",
                    "events": [
                      "product.created",
                      "product.updated",
                      "product.deleted",
                      "order.created",
                      "order.paid",
                      "order.updated",
                      "order.canceled"
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": "Check the request body"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "description": "API accepts only JSON type data"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "TOKEN": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token provided for your landing page"
      }
    },
    "parameters": {}
  },
  "security": [
    {
      "TOKEN": []
    }
  ]
}